# Data Engineering Group Project

## Team: Data Magicians
Members:
<p>
Arda Putra Ryandika
</p>
<p>
Atthaya Busayaruengrat (Hong)
</p>
<p>
Jingxue (Vera) Cao
</p>
<p>
Katharina Wiedmann  
</p>
<p>
Ying Tung (Debbie) Lau
</p>

## Objective
In this project, we are taking three sources of movie review data (csv, tsv, web scraping) and aiming to create weak labelling functions based on the data. The objective of the project is to compare the performance of a machine learning based classifier with 3000 datapoints compared to 3000 + another 12000 weak labeled datapoints.

## Movie Review Data

We split the work of obtaining data to three group members (Hong, Debbie, Vera) . Hong was responsible for scraping movie reviews from the rotten tomato website, while Debbie and Vera sought for other data formats like tsv and csv to ensure the sufficiency of data sample. 

The dataset contains two columns: one is the text review posted by people, another is the label 1 or 0. 1 indicates a positive review (fresh), and 0 indicates an non-positive review (not fresh).

The final dataset consists of 15000 reviews in total, with 5000 from web scrapping, 5000 from csv file, and 5000 from tsv file. 

We further sampled 2000 data points for labelling function development (development data set) and made sure the positive and non-positive reviews had the same amounts.

## Building classifiers 

Arda was responsible for building a NLP classifier, which will be later applied to compare with the labelling function classifier. This model was done by utilizing tokens generated from two types of reviews and fed as features. This NLP classifier yielded 70% accuracy on the testing set. 
Arda also implemented the spark on Faculty so that the following labelling functions can be implemented in a spark environment.

## Building Labelling functions

Meanwhile, the rest of the team members worked on generating weak labelling functions based on the findings in data exploration. 

During data exploration, as implementing spark slowed down the computation process as it partitions the dataset, we chose to use pandas to notice any patterns and differences in positive and non-positive reviews. We faced a few challenges in this stage. For example, we built a lemmatization function on the word count dataframe to avoid classifier bias caused by word inflections. However, many words were converted into completely different words incorrectly. Due to the mis-correction on words, we decided not to use lemmatization. 

As for building the labelling functions, Katie looked for stop words in the review first and counted the word occurrences in positive reviews and negative reviews. By identifying the difference in the word occurrences, we built our labelling functions to separate positive and non-positive reviews based on exclusive words. 

We also looked for capital letters mentioned in each type of reviews, but since the capital letters were irrelevant to emotions and most didn’t make sense for understanding, we decided not to create a labelling function based on it.

As we noticed keywords like “too” and “far” occurred more often in a specific type of reviews, so other labelling functions were created based on the keywords. 
Similarly, exclamation mark and question mark also appeared more often in one type of reviews, so we created labelling functions based on them as well.

After finalising the labeling functions, Arda built a classifier to combine the labeling functions together.

## Results

<>

## GitHub
Every time we made a change, we used terminal in Faculty to push the changes to our group repository. 
After committing the change, we used “git status” to double check the state of repository. Using “git diff” also enables us to see all the changes in repository.

Link to GitHub repository:
https://github.com/KatharinaWiedmann/DataEngGroupProject.git

## JIRA board 
We used JIRA to manage the progress of our project and record our meeting topics. The brief of meetings is shown as below:
<p>
First meeting:
•	Rotten Tomatoes labelling functions - good movie or not (positive/ negative rating). 
•	Twitter data: Labelling whether someone is a Boris Johnson supporter or not. 
•	YouTube comments: positive or negative comment 
•	Promotion emails - is an email a spam email or a genuine email. 
</p>
<p>
Second meeting:
•	Labelling functions (Vera, Debbie, Katie) 
•	Classifier (Arda) 
•	Web Scraping (Hong) 
•	GitHub (Katie)
</p>
<p>
Third meeting:
•	Rewriting labelling functions (SparkLFApplier - done together)
•	Combining labelling functions (Hong & Katie)
•	Analyzing summary/ results labelling functions (Hong & Katie)
•	Plug in classifier (Arda)
•	Compare results between using labelling functions and not labelling functions (Arda)
•	Iterate on Mark-up/ write-down (Vera)
•	JIRA cleanup & additional notes (Katie)
•	Github reminder - don't forget to push/ pull (everyone)
•	Make sensitivity analysis work (Debbie) 
•	nt function (Hong)
</p>

Further details can be found at:
http://csjira2.cs.ucl.ac.uk:8080/secure/RapidBoard.jspa?rapidView=316&view=detail&selectedIssue=DED-16

In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    gunicorn-20.0.4            |           py36_0         125 KB
    libssh2-1.9.0              |       h1ba5d50_1         269 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    plotly-4.5.2               |             py_0         1.6 MB
    setuptools-46.0.0          |           py36_0         519 KB
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following packages will be UPDATED:

  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  libssh2                                  1.8.2-h1ba5d50_0 --> 1.9.0-h1ba5d50_1
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.5.0-py_0 --> 4.5.2-py_0
  setuptools                                  45.2.0-py36_0 --> 46.0.0-py36_0



Downloading and Extracting Packages
setuptools-46.0.0    | 519 KB    | ##################################### | 100%
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
libssh2-1.9.0        | 269 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
- b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install networkx==2.3.0

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - networkx==2.3.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    networkx-2.3               |             py_0         1.1 MB
    ------------------------------------------------------------
                                           Total:         1.1 MB

The following packages will be DOWNGRADED:

  networkx                                         2.4-py_0 --> 2.3-py_0



Downloading and Extracting Packages
networkx-2.3         | 1.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [5]:
#needs to show version 2.3

import networkx as nx
nx.__version__

'2.3'

In [6]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |   py36h9f0ad1d_1         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hdb11119_1         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hdb11119_1
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  python_abi         conda-forge/linux-64::python_abi-3.6-1_cp36m
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be UPDATED:

  certifi              pkgs/main::certifi-2019.11.28-py36_0 --> conda-forge::certifi-2019.11.28-py36h9f0ad1d_1

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [7]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [8]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import nltk
from itertools import repeat
from nltk.sentiment import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
#Spark 

# Spark Environment
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
import pyspark

number_cores = 4
memory_gb = 16
conf = (
    pyspark.SparkConf()
        .setMaster('local[{}]'.format(number_cores))
        .set('spark.driver.memory', '{}g'.format(memory_gb))
)
sc = pyspark.SparkContext.getOrCreate(conf=conf)
print(sc)

# get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark) 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

<SparkContext master=local[4] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f3df900cc88>

# Web Scraping

## Browse all from DVD releases page

In [10]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [11]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [12]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/charlies_angels_2019

Number of movies in list: 32

In [13]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [14]:
len(movie_url_split)

12

In [15]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [16]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [17]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 333
Data columns (total 3 columns):
title     333 non-null object
review    333 non-null object
rating    333 non-null object
dtypes: object(3)
memory usage: 10.4+ KB

In [18]:
df.dropna(inplace=True)
df.head(3)

       title                                             review rating
0  Frozen II  Frozen 2... is more mature, ambitious, and int...  fresh
1  Frozen II  [Some] sequences have a gleam and a rhythm to ...  fresh
2  Frozen II  ...one of the most beautifully animated films ...  fresh

In [19]:
# Export to CSV files
# df.to_csv('web_scraping_rotten_tomatoes.csv')

# Reading & Preparing TSV file

In [20]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [21]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [22]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [23]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [24]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [25]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [26]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [27]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [28]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 11894 to 47997
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [29]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [30]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

                                                   Review  Freshness
254242   It's fitting, I suppose, that a movie about t...          1
345971   It's not quite clear who this movie is for, w...          0
353295   Peltola [gives] a deadpan performance that co...          1
470876   A very noble attempt to modify humor in a pur...          1
215567   Manages to oversell its subject, demanding aw...          0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 254242 to 243097
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [31]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

,Unnamed: 0,title,review,rating
0,0,My Hindu Friend (Meu amigo Hindu),Babenco's cinematic farewell isn't perfect by ...,fresh
1,1,My Hindu Friend (Meu amigo Hindu),This is a good film if you are looking for som...,fresh
2,2,My Hindu Friend (Meu amigo Hindu),"My Hindu Friend is a celebration of life, love...",fresh
3,3,My Hindu Friend (Meu amigo Hindu),I wouldn't miss it; it's a film that's more th...,fresh
4,4,My Hindu Friend (Meu amigo Hindu),"...surreal, reflective (though never sentiment...",fresh

In [32]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

,Unnamed: 0,title,Review,Freshness
3913,3913,Above the Shadows,There are plenty of contrivances and an ending...,1
3699,3699,Pokémon Detective Pikachu,Rob Letterman's film is a standard kids' movie...,1
1360,1360,Earthquake Bird,It's unfortunate that Earthquake Bird falls ap...,0
63,63,Serendipity,"""Serendipity"" comes by its galvanizing power q...",1
3107,3107,Booksmart,"Booksmart is feminist, foul-mouthed and funny,...",1

In [33]:
web_scraping_reviews.head()

                                                 Review Freshness
3913  There are plenty of contrivances and an ending...         1
3699  Rob Letterman's film is a standard kids' movie...         1
1360  It's unfortunate that Earthquake Bird falls ap...         0
63    "Serendipity" comes by its galvanizing power q...         1
3107  Booksmart is feminist, foul-mouthed and funny,...         1

# Combining all the data together

In [34]:
# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
254242   It's fitting, I suppose, that a movie about t...         1
345971   It's not quite clear who this movie is for, w...         0
353295   Peltola [gives] a deadpan performance that co...         1
470876   A very noble attempt to modify humor in a pur...         1
215567   Manages to oversell its subject, demanding aw...         0

In [35]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [163]:
from sklearn.model_selection import train_test_split

In [164]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [324]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'],\
                               random_state= 42)

In [166]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 25985 to 4449
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [167]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 269162 to 241968
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [169]:
#get rid off labels in training data 
train = train.drop('Freshness', 1)

In [325]:
#From labelled test set
#extract a sample to find out about which labelling functions could be written

development_split = test.sample(2000,random_state=42)
development_split.head()

                                                   Review  Freshness
10797   Vantage Point is a thriller that has quite a l...          0
1774    The movie makes its point, and continues to hi...          0
4134    Claire Denis shows crises, confrontations, mad...          0
198598   The plotting is predictable but the film has ...          1
52380   The [movie's] two halves are larded with Europ...          0

In [327]:
#Quick check on development_split df (for finding labeling functions)
development_split.head()

                                                   Review  Freshness
10797   Vantage Point is a thriller that has quite a l...          0
1774    The movie makes its point, and continues to hi...          0
4134    Claire Denis shows crises, confrontations, mad...          0
198598   The plotting is predictable but the film has ...          1
52380   The [movie's] two halves are larded with Europ...          0

In [328]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [179]:
# Only necessary to do once 
# development_split.to_csv('development_split.csv')

## Split into positive and negative reviews

In [332]:
development_split_fresh = development_split[development_split['Freshness'] == 1]
development_split_rotten = development_split[development_split['Freshness'] == 0]
development_split_fresh.head()
development_split_rotten.head()

                                                   Review  Freshness
198598   The plotting is predictable but the film has ...          1
36362   The first feature from the creators of Wallace...          1
6049    The movie is a far more convincing fantasy of ...          1
18483   Follows some of that played-out drug thriller ...          1
4003    Even in its most inspired moments... "Shazam!"...          1

                                                  Review  Freshness
10797  Vantage Point is a thriller that has quite a l...          0
1774   The movie makes its point, and continues to hi...          0
4134   Claire Denis shows crises, confrontations, mad...          0
52380  The [movie's] two halves are larded with Europ...          0
7981        Misses the sense of menace that it requires.          0

In [333]:
# fresh reviews 
development_split_fresh.info()
# rotten reviews 
development_split_rotten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1194 entries, 198598 to 32731
Data columns (total 2 columns):
Review       1194 non-null object
Freshness    1194 non-null int64
dtypes: int64(1), object(1)
memory usage: 28.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 806 entries, 10797 to 38562
Data columns (total 2 columns):
Review       806 non-null object
Freshness    806 non-null int64
dtypes: int64(1), object(1)
memory usage: 18.9+ KB

## Labelling Functions

## 1. Word occurrences

### Positive Reviews

In [188]:
# Removing punctuation 
def remove_punctuation(dataframe):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in dataframe.Review.str.lower():
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [189]:
#Remove punctuation from fresh reviews & turn into Series
split_fresh= pd.Series(remove_punctuation(development_split_fresh))
split_fresh.head()

0     the plotting is predictable but the film has ...
1    the first feature from the creators of wallace...
2    the movie is a far more convincing fantasy of ...
3    follows some of that playedout drug thriller p...
4    even in its most inspired moments shazam can s...
dtype: object

In [190]:
stopWordList = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves",\
                "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",\
                "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",\
                "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",\
                "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between",\
                "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off",\
                "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any",\
                "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",\
                "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [191]:
#Removing stopwords from fresh

replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_fresh.replace(replacements, regex=True, inplace=True)
split_fresh.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

### Implement lemmatization

In [192]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [193]:
common_words_fresh = split_fresh.str.split(expand=True).stack().value_counts()
common_words_fresh_df = pd.DataFrame(common_words_fresh)
common_words_fresh_df = common_words_fresh_df.rename({0:'Occurence good review'}, axis='columns')
new_common_words_fresh_df = common_words_fresh_df.reset_index()

In [194]:
stem_recount(new_common_words_fresh_df)

           index  Occurence good review
0           film                    272
1             on                    108
2           movy                     94
3          story                     68
4            lik                     68
5           film                     53
6             ev                     53
7            ful                     52
8           much                     45
9            tim                     45
10           way                     44
11          good                     44
12           may                     43
13           new                     42
14        review                     42
15          span                     40
16        direct                     38
17           gre                     38
18           lov                     37
19       perform                     37
20          best                     35
21        comedy                     35
22         funny                     34
23     entertain                     32
24           lif                     32
25        doesnt                     32
26            us                     32
27          dram                     31
28           fun                     31
29          that                     30
...          ...                    ...
6142        tact                      1
6143         gun                      1
6144       excel                      1
6145   alltimegr                      1
6146       reinv                      1
6147       brain                      1
6148       chair                      1
6149       tissu                      1
6150      prison                      1
6151     connect                      1
6152        cold                      1
6153         pag                      1
6154         dec                      1
6155    tombston                      1
6156       besid                      1
6157        emot                      1
6158      burton                      1
6159   transform                      1
6160        onst                      1
6161         tis                      1
6162       astut                      1
6163       bubbl                      1
6164         hum                      1
6165      famili                      1
6166       intim                      1
6167        exub                      1
6168     killerm                      1
6169       mandy                      1
6170       quirk                      1
6171  overthetop                      1

[6172 rows x 2 columns]

In [195]:
#Get most common words in positive reviews 
top_common_words_fresh = common_words_fresh_df[common_words_fresh_df['Occurence good review'] >=4]
top_common_words_fresh

              Occurence good review
film                            219
one                             108
movie                            94
story                            68
like                             68
films                            53
even                             53
full                             52
much                             45
time                             45
way                              44
good                             44
may                              43
new                              42
review                           42
spanish                          40
director                         38
great                            38
love                             37
performances                     37
best                             35
comedy                           35
funny                            34
entertaining                     32
life                             32
doesnt                           32
us                               32
drama                            31
fun                              31
thats                            30
...                             ...
opening                           4
force                             4
loving                            4
doc                               4
golden                            4
scenes                            4
type                              4
striking                          4
interested                        4
thrillers                         4
sticks                            4
likable                           4
writer                            4
misses                            4
sounds                            4
sex                               4
score                             4
greatness                         4
nicely                            4
holiday                           4
dead                              4
courage                           4
hell                              4
lively                            4
treat                             4
youd                              4
redemption                        4
means                             4
thrills                           4
project                           4

[788 rows x 1 columns]

<div class="alert alert-success">
<b> Reason for not using Lemmatization </b>

<p>
    Before counting the occurance of words in the movie review, we noticed that inflections in words may result in different occurances and thus generating bias during counting. For example, "enjoy" and "enjoyed" share the same root but would be counted separately if not using Lemmatization.
    </p> 
    
<p>
    The function "stem_recount" takes the root of a word and recounts the occurences. However, it posed a disadvantage of mis-normalizing words into other completely different words. For example, "movie" was identified as "movy", and "like" was identified as "lik". We thought this disadvantage exceeds the benefits of correcting word inflection, so we decided to not implement it.
    </p> 

</div>

### Negative reviews

In [196]:
#Remove punctuation from rotten & turn into Series
split_rotten= pd.Series(remove_punctuation(development_split_rotten))
split_rotten.head()

0    vantage point is a thriller that has quite a l...
1    the movie makes its point and continues to hit...
2    claire denis shows crises confrontations madne...
3    the movies two halves are larded with european...
4          misses the sense of menace that it requires
dtype: object

In [197]:
# Removing stopwords from negative reviews
replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_rotten.replace(replacements, regex=True, inplace=True)
split_rotten.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

In [198]:
#Get most common words in negative reviews 

common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
common_words_rotten_df = pd.DataFrame(common_words_rotten)
common_words_rotten_df = common_words_rotten_df.rename({0:'Occurence bad review'}, axis='columns')
top_common_words_rotten = common_words_rotten_df[common_words_rotten_df['Occurence bad review'] >=4]

In [199]:
top_common_words_rotten.head()

       Occurence bad review
film                    121
movie                    89
like                     77
one                      53
much                     47

## Comparison of good and bad reviews

<div class="alert alert-success">
We want to find out which of the words in the good list only appear in the good movies (and not in the bad movies), vice versa and base labeling functions on these findings. We first ened to prepare the data accordingly, before we can write the labelling functions.
    <div>

In [200]:
top_fresh_words_exclusive = top_common_words_fresh.merge(top_common_words_rotten, indicator='i', how='outer', left_index=True,\
                                                         right_index=True).query('i == "left_only"').drop('i', 1)

top_rotten_words_exclusive = top_common_words_rotten.merge(top_common_words_fresh, indicator='i', how='outer', left_index=True,\
                                                           right_index=True).query('i == "left_only"').drop('i', 1)

In [201]:
top_fresh_words_exclusive.head()

              Occurence good review  Occurence bad review
2019                            4.0                   NaN
ability                         4.0                   NaN
absolute                        5.0                   NaN
accomplished                    4.0                   NaN
acted                           6.0                   NaN

In [202]:
top_rotten_words_exclusive.head()

          Occurence bad review  Occurence good review
able                       4.0                    NaN
annoying                   4.0                    NaN
apart                      4.0                    NaN
attempt                    7.0                    NaN
average                    4.0                    NaN

In [203]:
#Get only positive words 
top_fresh_words_exclusive_list = top_fresh_words_exclusive['Occurence good review'].index.tolist()
top_fresh_words_exclusive_list

['2019',
 'ability',
 'absolute',
 'accomplished',
 'acted',
 'acting',
 'adaptation',
 'adults',
 'adventure',
 'affecting',
 'although',
 'amazing',
 'ambitious',
 'america',
 'among',
 'amount',
 'animated',
 'animation',
 'anyone',
 'appreciate',
 'approach',
 'artist',
 'artistic',
 'assured',
 'attempts',
 'audiences',
 'authenticity',
 'baby',
 'balance',
 'band',
 'basically',
 'batman',
 'beats',
 'beautiful',
 'beautifully',
 'beauty',
 'behind',
 'believable',
 'beneath',
 'beyond',
 'biopic',
 'black',
 'blood',
 'bloody',
 'body',
 'boys',
 'breaks',
 'brilliant',
 'brings',
 'brown',
 'builds',
 'cage',
 'call',
 'captures',
 'care',
 'central',
 'change',
 'charm',
 'charming',
 'chemistry',
 'childhood',
 'children',
 'chilling',
 'cinematography',
 'city',
 'classic',
 'cleverly',
 'cold',
 'comfortable',
 'comingofage',
 'commentary',
 'compassion',
 'compelling',
 'complex',
 'conventional',
 'cool',
 'country',
 'courage',
 'create',
 'creative',
 'culture',
 'cursing',
 'dark',
 'date',
 'david',
 'days',
 'dazzling',
 'dead',
 'death',
 'deep',
 'deeply',
 'deliver',
 'delivers',
 'depth',
 'design',
 'details',
 'difficult',
 'directed',
 'directors',
 'disney',
 'doc',
 'drug',
 'dynamic',
 'easily',
 'editing',
 'effective',
 'emotion',
 'emotions',
 'empathy',
 'endearing',
 'ending',
 'energy',
 'engaging',
 'enjoy',
 'enjoyable',
 'entertain',
 'entirely',
 'epic',
 'era',
 'escape',
 'exactly',
 'excellent',
 'exciting',
 'existential',
 'expect',
 'expectations',
 'exploring',
 'expression',
 'extraordinary',
 'eyes',
 'face',
 'fairly',
 'fantastic',
 'fantasy',
 'farce',
 'fare',
 'fascinating',
 'fast',
 'fear',
 'feelings',
 'fiction',
 'filled',
 'finding',
 'finds',
 'fine',
 'focuses',
 'follows',
 'footage',
 'force',
 'four',
 'fresh',
 'friends',
 'friendship',
 'future',
 'gags',
 'game',
 'generation',
 'genius',
 'gently',
 'genuine',
 'genuinely',
 'ghost',
 'give',
 'giving',
 'golden',
 'gorgeous',
 'greatest',
 'greatness',
 'green',
 'gripping',
 'ground',
 'half',
 'happily',
 'heartbreaking',
 'heartfelt',
 'heartwarming',
 'help',
 'high',
 'highly',
 'hilarious',
 'history',
 'hit',
 'hitchcock',
 'hits',
 'holiday',
 'hope',
 'im',
 'images',
 'imagine',
 'important',
 'impressive',
 'increasingly',
 'incredible',
 'indie',
 'insightful',
 'inspiration',
 'inspired',
 'intelligent',
 'intense',
 'interested',
 'intimate',
 'itll',
 'james',
 'john',
 'journey',
 'joy',
 'keeps',
 'kid',
 'knows',
 'land',
 'landscape',
 'language',
 'late',
 'laugh',
 'leads',
 'leave',
 'level',
 'lifetime',
 'light',
 'likely',
 'lively',
 'lives',
 'longer',
 'looking',
 'looks',
 'loud',
 'lovely',
 'loving',
 'mad',
 'madness',
 'magic',
 'mainstream',
 'mark',
 'matter',
 'maybe',
 'message',
 'middle',
 'missed',
 'misses',
 'modest',
 'morality',
 'mostly',
 'mother',
 'moves',
 'must',
 'name',
 'nearly',
 'needs',
 'next',
 'nice',
 'nicely',
 'noir',
 'nostalgic',
 'note',
 'novel',
 'old',
 'oldfashioned',
 'ones',
 'opening',
 'opera',
 'outside',
 'outstanding',
 'overall',
 'paced',
 'particularly',
 'past',
 'peace',
 'perfect',
 'perfectly',
 'personal',
 'perspective',
 'places',
 'pleasant',
 'please',
 'pop',
 'portrait',
 'portrayal',
 'powerful',
 'presence',
 'product',
 'profound',
 'proves',
 'provide',
 'provides',
 'pulls',
 'pulp',
 'pure',
 'puts',
 'quality',
 'quiet',
 'rare',
 'rarely',
 'ray',
 'reality',
 'recent',
 'red',
 'redemption',
 'refreshingly',
 'relationship',
 'relationships',
 'remarkable',
 'resonates',
 'results',
 'return',
 'returns',
 'rewarding',
 'richard',
 'riot',
 'rising',
 'riveting',
 'road',
 'romcom',
 'romp',
 'scary',
 'scifi',
 'scope',
 'score',
 'season',
 'seeing',
 'sentimental',
 'serious',
 'seriously',
 'serve',
 'seth',
 'sheer',
 'shows',
 'side',
 'simple',
 'singular',
 'sinister',
 'sister',
 'skin',
 'slick',
 'slow',
 'smaller',
 'smile',
 'society',
 'solid',
 'sometimes',
 'soul',
 'soulful',
 'sound',
 'sounds',
 'space',
 'spectacular',
 'stand',
 'standard',
 'stars',
 'start',
 'state',
 'step',
 'stick',
 'sticks',
 'stories',
 'strange',
 'strength',
 'striking',
 'study',
 'stunning',
 'stupid',
 'stylish',
 'subject',
 'subtle',
 'succeeds',
 'summer',
 'superb',
 'superhero',
 'superior',
 'support',
 'surprise',
 'surprising',
 'surprisingly',
 'suspense',
 'sweet',
 'talented',
 'tells',
 'tender',
 'tense',
 'tension',
 'terrific',
 'thankfully',
 'thanks',
 'themes',
 'theron',
 'thin',
 'thoughtful',
 'thrillers',
 'thrilling',
 'thrills',
 'throughout',
 'throwback',
 'timely',
 'today',
 'told',
 'touch',
 'touches',
 'touching',
 'tough',
 'toward',
 'treat',
 'treatment',
 'tribute',
 'trip',
 'triumph',
 'turn',
 'type',
 'typical',
 'unconventional',
 'unique',
 'unlike',
 'use',
 'usually',
 'utterly',
 'values',
 'viewer',
 'viewing',
 'violent',
 'visual',
 'voice',
 'waiting',
 'warm',
 'warmth',
 'watchable',
 'weird',
 'western',
 'weve',
 'whether',
 'whose',
 'wit',
 'within',
 'woman',
 'wonderful',
 'wont',
 'worlds',
 'writer',
 'years',
 'yes',
 'youll',
 'young',
 'youre']

In [ ]:
#take out the ones that seem to make sense: 
top_fresh_words_exclusive = ['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

# top_fresh_words_exclusive

In [205]:
#Get only negative words 
top_rotten_words_exclusive_list = top_rotten_words_exclusive['Occurence bad review'].index.tolist()
top_rotten_words_exclusive_list

['able',
 'annoying',
 'apart',
 'attempt',
 'average',
 'becoming',
 'book',
 'boring',
 'budget',
 'cannot',
 'cartoonish',
 'cheap',
 'cliches',
 'club',
 'coherent',
 'completely',
 'course',
 'creepy',
 'crime',
 'dancing',
 'delivering',
 'depressing',
 'direction',
 'disappointment',
 'dramatically',
 'dull',
 'early',
 'earth',
 'eastwood',
 'effect',
 'ends',
 'ensemble',
 'entry',
 'evil',
 'excitement',
 'excuse',
 'exercise',
 'explore',
 'fails',
 'failure',
 'falls',
 'features',
 'female',
 'flat',
 'forgettable',
 'formula',
 'fully',
 'george',
 'getting',
 'gore',
 'grossout',
 'guy',
 'halfbaked',
 'heavyhanded',
 'hoping',
 'house',
 'ideas',
 'imagination',
 'impact',
 'inconsistent',
 'ingredients',
 'intentions',
 'involved',
 'jokes',
 'keeping',
 'kept',
 'king',
 'lack',
 'lacking',
 'leading',
 'lee',
 'length',
 'loses',
 'meandering',
 'meant',
 'mediocre',
 'melodrama',
 'mildly',
 'miss',
 'missing',
 'musical',
 'neither',
 'nobody',
 'offer',
 'overcome',
 'pieces',
 'playing',
 'plotting',
 'pointless',
 'poor',
 'problems',
 'public',
 'quickly',
 'quirky',
 'rest',
 'ridiculous',
 'roll',
 'routine',
 'said',
 'satisfying',
 'save',
 'school',
 'sequences',
 'silly',
 'single',
 'sloppy',
 'small',
 'someone',
 'stellar',
 'straight',
 'struggles',
 'stuff',
 'substance',
 'supposed',
 'technical',
 'tedious',
 'television',
 'telling',
 'terrible',
 'terribly',
 'think',
 'thought',
 'top',
 'total',
 'trapped',
 'trash',
 'trying',
 'tv',
 'unfortunately',
 'video',
 'war',
 'welcome',
 'white',
 'wild',
 'worst',
 'writing',
 'wrong']

In [ ]:
#take out the ones that seem to make sense: 
top_rotten_words_exclusive = [
 'attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']
# top_rotten_words_exclusive

## Labelling Function

### 1. Word Occurences

###  A. Good / bad exclusive words occurrences

In [207]:
from snorkel.labeling.apply.spark import SparkLFApplier

from pyspark import SparkContext 
from pyspark.sql import SQLContext 
import pandas as pd 
sqlc=SQLContext(sc) 
df=pd.read_csv('/project/development_split.csv',index_col = 'Unnamed: 0')
df_with_punctuation = df.copy()
df['Review'] = remove_punctuation(df)
development_split=sqlc.createDataFrame(df)
development_split_with_punctuation=sqlc.createDataFrame(df_with_punctuation)

In [208]:
development_split.show(5)

+--------------------+---------+
|              Review|Freshness|
+--------------------+---------+
|vantage point is ...|        0|
|the movie makes i...|        0|
|claire denis show...|        0|
| the plotting is ...|        1|
|the movies two ha...|        0|
+--------------------+---------+
only showing top 5 rows

In [209]:
ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()
def fresh(x):
    for word in top_fresh_words_exclusive:
        word = " " +word+" "
        if word in str(x).lower():
            return FRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

@labeling_function()
def rotten(x):
    for word in top_rotten_words_exclusive:
        word = " " +word+" "
        if word in str(x).lower():
            return NOTFRESH
    return ABSTAIN
#return NOTFRESH if "best" in x.str.lower() else ABSTAIN

In [210]:
lfs = [fresh]
applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [211]:
sample_L

array([[ 1],
       [-1],
       [-1],
       ...,
       [-1],
       [ 1],
       [-1]])

In [212]:
coverage_fresh = (sample_L != ABSTAIN).mean(axis=0)
print("fresh coverage:{:.1%}".format(coverage_fresh[0]))

fresh coverage:33.7%

In [213]:
lfs = [rotten]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [214]:
coverage_rotten = (sample_L != ABSTAIN).mean(axis=0)
print("rotten coverage:{:.1%}".format(coverage_rotten[0]))

rotten coverage:7.6%

### B. Word 'too' occurances

In [215]:
common_words_fresh_df[common_words_fresh_df.index == 'too']

     Occurence good review
too                     22

In [216]:
common_words_rotten_df[common_words_rotten_df.index == 'too']

     Occurence bad review
too                    46

In [217]:
@labeling_function()
def keyword_too(x):
    return NOTFRESH if 'too' in str(x).lower() else ABSTAIN

In [218]:
lfs = [keyword_too]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [219]:
coverage_keyword_too = (sample_L != ABSTAIN).mean(axis=0)
print("keyword too coverage:{:.1%}".format(coverage_keyword_too[0]))

keyword too coverage:4.2%

### C. Word 'far' occurrences

In [220]:
common_words_fresh_df[common_words_fresh_df.index == 'far']

     Occurence good review
far                     23

In [221]:
common_words_rotten_df[common_words_rotten_df.index == 'far']

     Occurence bad review
far                    10

In [222]:
@labeling_function()
def keyword_far(x):
    return FRESH if 'far' in str(x).lower() else ABSTAIN

In [223]:
lfs = [keyword_far]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [224]:
coverage_keyword_far = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_keyword_far[0]))

keyword far coverage:2.7%

### D. "n't" words occurrences

In [225]:
# Exploration on the n't
# Word occurancy that with punctuation with it

# Word occurrences dataframe for fresh reviews
development_split_fresh_1 = split_fresh.str.split(expand=True).stack().value_counts()
development_split_fresh_df = pd.DataFrame(development_split_fresh_1).reset_index()

# Words occurrences dataframe for rotten reviews
development_split_rotten_1 = split_rotten.str.split(expand=True).stack().value_counts()
development_split_rotten_df = pd.DataFrame(development_split_rotten_1).reset_index()

In [226]:
@labeling_function()

def t(x):
    if re.search("'t",str(x).lower()):
        return NOTFRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

In [227]:
lfs = [t]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [228]:
coverage_t = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_t[0]))

keyword far coverage:16.1%

### E. Occurenes of good & bad words from external list

<div class="alert alert-success">
We also want to look at an imported list of postive and negative words and see whether we can base the labelling functions on them.
    </div>

In [230]:
#Importing good and bad words & preparing for labelling function 

#POSITIVE WORDS 
#positive words from --> DON't DELETE! NEED TO CITE PROPERLY http://ptrckprry.com/course/ssd/data/positive-words.txt
positive_word = pd.read_csv('/project/positive_words.csv')

#sample 500 words 
positive_word = positive_word.sample(500)

#convert it into a list 
positive_word= positive_word['a+'].tolist()



#NEGATIVE WORDS 
#negative words from --> HONG?? 
negative_word = pd.read_csv('/project/negative_words.csv')

#sample 500 words 
negative_word = negative_word.sample(500)

#convert it into a list 
negative_word= negative_word['2-faces'].tolist()

In [231]:
@labeling_function()
def negative(x): 
    for word in negative_word:
        word = " " + word + " "
        if word in str(x).lower():
            return NOTFRESH 
    return ABSTAIN 


@labeling_function()
def positive(x):
    for word in positive_word:
        word = " " + word + " "
        if word in str(x).lower():
            return FRESH 
    return ABSTAIN

In [232]:
lfs = [negative]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [233]:
coverage_negative = (sample_L != ABSTAIN).mean(axis=0)
print("negative words coverage:{:.1%}".format(coverage_negative[0]))

negative words coverage:7.1%

In [234]:
lfs = [positive]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [235]:
coverage_positive = (sample_L != ABSTAIN).mean(axis=0)
print("positive words coverage:{:.1%}".format(coverage_positive[0]))

positive words coverage:26.2%

## 2. Punctuation occurrences

In [286]:
#Preprocessing for punctuation occurences

In [236]:
# Turn review column into Series
development_split_fresh_series = pd.Series(development_split_fresh.Review)
development_split_rotten_series = pd.Series(development_split_rotten.Review)

In [237]:
# Positive reviews
# Split reviews into word
fresh_split = pd.Series(development_split_fresh_series.str.split(expand=True).stack())
fresh_words = [i for i in fresh_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in fresh_words]
fresh_split_words = pd.Series(split_str())

In [238]:
# Negative reviews
# Split reviews into word
rotten_split = pd.Series(development_split_rotten_series.str.split(expand=True).stack())
rotten_words = [i for i in rotten_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in rotten_words]
rotten_split_words = pd.Series(split_str())

In [239]:
# Turn into a flattened list
fresh_flattened_list = [y for x in fresh_split_words for y in x]
rotten_flattened_list = [y for x in rotten_split_words for y in x]

# Count the occurancy of each character
# Positive reviews
fresh_split_characters = pd.Series(fresh_flattened_list).value_counts()
fresh_split_characters = pd.DataFrame(fresh_split_characters).reset_index()

# Negative reviews
rotten_split_characters = pd.Series(rotten_flattened_list).value_counts()
rotten_split_characters = pd.DataFrame(rotten_split_characters).reset_index()

### A. Question mark occurrences

In [240]:
# Count the # of occurance of '?' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '?']

   index   0
62     ?  19

In [241]:
# Count the # of occurance of '?' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '?']

   index   0
53     ?  26

In [242]:
list_with_question_mark = []
for review in development_split_rotten.Review:
    if '?' in review:
        list_with_question_mark.append(review)
        
print (list_with_question_mark[:3])

[" Those stupid interminable close-ups of Dee Wallace-Stone's suburban-mom face, upturned and simpering-will I ever be able to scrub them from my memory?", 'There are six writers and eight producers listed in the credits. Is it any wonder that it feels like an amalgamation of mismatched bits and pieces?', " Isn't this series over with yet?"]

In [243]:
@labeling_function()
def question_mark(x):
    return NOTFRESH if '?' in str(x).lower() else ABSTAIN

In [244]:
lfs = [question_mark]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split_with_punctuation.rdd)

In [245]:
coverage_question_mark = (sample_L != ABSTAIN).mean(axis=0)
print("question mark coverage:{:.1%}".format(coverage_question_mark[0]))

question mark coverage:2.1%

### B. Exclamation mark occurrences

In [246]:
# Count the # of occurance of '!' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '!']

   index   0
67     !  13

In [247]:
# Count the # of occurance of '!' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '!']

   index   0
67     !  10

In [248]:
@labeling_function()
def exclamation_mark(x):
    return FRESH if '!' in str(x).lower() else ABSTAIN

In [249]:
lfs = [exclamation_mark]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split_with_punctuation.rdd)

In [250]:
coverage_exclamation_mark = (sample_L != ABSTAIN).mean(axis=0)
print("exclamation mark coverage:{:.1%}".format(coverage_exclamation_mark[0]))

exclamation mark coverage:0.7%

## Sentiment Analysis

In [287]:
from snorkel.preprocess import preprocessor
from textblob import TextBlob

In [288]:
def getSentiment(text):
    x = {}
    x["polarity"] = TextBlob(text).sentiment.polarity
    x["subjectivity"] = TextBlob(text).sentiment.subjectivity
    return x

In [289]:
@labeling_function()
def textblob_polarity(x):
    x = getSentiment(x.Review)
    return FRESH if x["polarity"] > 0.8 else ABSTAIN


@labeling_function()
def textblob_subjectivity(x):
    x = getSentiment(x.Review)
    return FRESH if x["subjectivity"] >= 0.5 else ABSTAIN

In [290]:
lfs = [
       textblob_polarity,
       textblob_subjectivity
      ]

applier = SparkLFApplier(lfs)

sample_L = applier.apply(development_split.rdd)

In [291]:
LFAnalysis(sample_L, lfs).lf_summary()

                       j Polarity  Coverage  Overlaps  Conflicts
textblob_polarity      0      [1]    0.0120    0.0075        0.0
textblob_subjectivity  1      [1]    0.5635    0.0075        0.0

### 3. Combining labelling functions

<div class="alert alert-success">
Next, we want to combine all the labelling functions into one and apply them to the training set. However, as the labelling functions around the punctuation have very low coverages, we decided not to include these.
    </div>

In [292]:
lfs = [fresh,
       rotten,
       keyword_too,
       keyword_far,
       t,
       negative,
       positive,
       textblob_polarity,
       textblob_subjectivity
      ]

applier = SparkLFApplier(lfs)

sample_L = applier.apply(development_split.rdd)

In [293]:
LFAnalysis(sample_L, lfs).lf_summary()

                       j Polarity  Coverage  Overlaps  Conflicts
fresh                  0      [1]    0.3365    0.2795     0.1010
rotten                 1      [0]    0.0765    0.0615     0.0565
keyword_too            2      [0]    0.0425    0.0345     0.0310
keyword_far            3      [1]    0.0270    0.0245     0.0085
t                      4      [0]    0.1605    0.1210     0.1155
negative               5      [0]    0.0710    0.0620     0.0580
positive               6      [1]    0.2620    0.2215     0.0770
textblob_polarity      7      [1]    0.0120    0.0085     0.0025
textblob_subjectivity  8      [1]    0.5635    0.3985     0.1765

In [299]:
#Removing punctuation from training set 
train_prepared = train.copy()
train_prepared['Review'] = remove_punctuation(train_prepared)

#Removing punctuation from test set 
test_prepared = test.copy()
test_prepared['Review'] = remove_punctuation(test_prepared)

In [302]:
#Splitting in training and testing & applying lfs

L_train=sqlc.createDataFrame(train_prepared)

L_test = sqlc.createDataFrame(test_prepared)


L_train = applier.apply(L_train.rdd)

L_test = applier.apply(L_test.rdd)

## 4. MajorityLabelVoter

In [307]:
from snorkel.labeling import MajorityLabelVoter

majority_model = MajorityLabelVoter()
preds_train = majority_model.predict(L=L_train)

In [308]:
preds_train.shape

(12000,)

In [311]:
#needs to show version 2.3
import networkx as nx
nx.__version__

'2.3'

## 5. LabelModel

In [312]:
#Labelling according to weights 
from snorkel.labeling import LabelModel

label_model = LabelModel(cardinality=2, verbose=True)
label_model.fit(L_train=L_train, n_epochs=500, log_freq=100, seed=123)

In [314]:
Y_test = test['Freshness']

In [315]:
majority_acc = majority_model.score(L=L_test, Y=Y_test, tie_break_policy="random")[
    "accuracy"
]
print(f"{'Majority Vote Accuracy:':<25} {majority_acc * 100:.1f}%")

label_model_acc = label_model.score(L=L_test, Y=Y_test, tie_break_policy="random")[
    "accuracy"
]
print(f"{'Label Model Accuracy:':<25} {label_model_acc * 100:.1f}%")

Majority Vote Accuracy:   61.1%
Label Model Accuracy:     60.0%

# Classifier

In [316]:
import pandas as pd
import numpy as np
import nltk
import string

# Spark Environment
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import pyspark

number_cores = 4
memory_gb = 16
conf = (
    pyspark.SparkConf()
        .setMaster('local[{}]'.format(number_cores))
        .set('spark.driver.memory', '{}g'.format(memory_gb))
)
sc = pyspark.SparkContext.getOrCreate(conf=conf)
print(sc)

# get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark) 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

<SparkContext master=local[4] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f3df900cc88>

In [317]:
# Download files
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

!pip install langid
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
import preproc as pp

# Register all the functions in Preproc with Spark Context
check_lang_udf = udf(pp.check_lang, StringType())
remove_stops_udf = udf(pp.remove_stops, StringType())
remove_features_udf = udf(pp.remove_features, StringType())
tag_and_remove_udf = udf(pp.tag_and_remove, StringType())
lemmatize_udf = udf(pp.lemmatize, StringType())
check_blanks_udf = udf(pp.check_blanks, StringType())

[nltk_data] Downloading package punkt to /home/faculty/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

[nltk_data] Downloading package wordnet to /home/faculty/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

Requirement already satisfied: langid in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (1.1.6)
Requirement already satisfied: numpy in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from langid) (1.18.1)

In [318]:
from pyspark.sql.types import IntegerType

# Read the data (Spark)
review_df = development_split

# Rename Column
review_df = review_df.withColumnRenamed('Review','text')
review_df = review_df.withColumnRenamed('Freshness','label')
review_df = review_df.withColumnRenamed('_c0','index')

# Remove Null
review_df = review_df.filter(review_df.label. isNotNull())

# Change data type to Integer
review_df = review_df.withColumn("label", review_df["label"].cast(IntegerType()))

# Show df information
review_df.show()
review_df.printSchema()
review_df.count()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|vantage point is ...|    0|
|the movie makes i...|    0|
|claire denis show...|    0|
| the plotting is ...|    1|
|the movies two ha...|    0|
|the first feature...|    1|
|misses the sense ...|    0|
|the movie is a fa...|    1|
| in the end prett...|    0|
|follows some of t...|    1|
|even in its most ...|    1|
|when the story sh...|    1|
|a thrilling but f...|    1|
|it remains watcha...|    1|
|softness of bodie...|    0|
| cusack who selfd...|    1|
| knightleys sugar...|    0|
| best of all is p...|    1|
|none of the filmm...|    0|
|filled with clich...|    0|
+--------------------+-----+
only showing top 20 rows

root
 |-- text: string (nullable = true)
 |-- label: integer (nullable = true)

2000

In [319]:
# remove stop words to reduce dimensionality
review_df = review_df.withColumn("text", remove_stops_udf(review_df["text"]))

# remove other non essential words
review_df = review_df.withColumn("text", remove_features_udf(review_df["text"]))

# tag the words remaining and keep only Nouns, Verbs and Adjectives
review_df = review_df.withColumn("text", tag_and_remove_udf(review_df["text"]))

# lemmatization of remaining words to reduce dimensionality & boost measures
review_df = review_df.withColumn("text", lemmatize_udf(review_df["text"]))

review_df.show()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|vantage point thr...|    0|
|movie make point ...|    0|
|claire denis show...|    0|
|plot predictable ...|    1|
|movie halve larde...|    0|
|first feature cre...|    1|
|miss sense menace...|    0|
|movie convince fa...|    1|
|end pink fraudule...|    0|
|follow drug thril...|    1|
|inspired moment s...|    1|
|story shift nashv...|    1|
|thrill frivolous ...|    1|
|remains watchable...|    1|
|softness body wor...|    0|
|cusack mock iconi...|    1|
|knightleys sugar ...|    0|
|best parker perfe...|    1|
|none filmmaking a...|    0|
|fill cliche runof...|    0|
+--------------------+-----+
only showing top 20 rows

In [320]:
#Specify Training and Test data
training_df = review_df
test_df = sqlContext.read.csv('/project/1000_labels_v2.csv', header=True,sep = '~')
test_df.select('Freshness').distinct().show()
# Rename Column
test_df = test_df.withColumnRenamed('Review','text')
test_df = test_df.withColumnRenamed('Freshness','label')
test_df = test_df.withColumnRenamed('_c0','index')
test_df.show()
# Remove Null
test_df.filter(test_df.label.isNotNull())
# Change data type to Integer
test_df = test_df.withColumn("label", test_df["label"].cast(IntegerType()))


test_df.show()
test_df.printSchema()
test_df.count()

+---------+
|Freshness|
+---------+
|        0|
|        1|
+---------+

+-----+----------+--------------------+-----+
|index|Unnamed: 0|                text|label|
+-----+----------+--------------------+-----+
|    0|         1|A cornball drone ...|    0|
|    1|         3|I don't like impo...|    0|
|    2|         4| The Void marks a...|    1|
|    3|         5|The only way to l...|    0|
|    4|         9| a tame and insul...|    0|
|    5|        10|How sorry can you...|    0|
|    6|        11|"Though not parti...|    1|
|    7|        16|"""Blood"" [chapt...|    1|
|    8|        19|The lack of empat...|    0|
|    9|        21|This modern fanta...|    1|
|   10|        22|The best film I'v...|    0|
|   11|        27| After being surp...|    0|
|   12|        34|  An inert thriller.|    0|
|   13|        35|What cannot be ar...|    1|
|   14|        36|Amid the glut of ...|    1|
|   15|        38|It is ultimately ...|    0|
|   16|        40|I laughed frequen...|    0|
|   17|        42|Fighting with My ...|    1|
|   18|        46|Weinstein walks a...|    1|
|   19|        47|[A] frenetic jumb...|    0|
+-----+----------+--------------------+-----+
only showing top 20 rows

DataFrame[index: string, Unnamed: 0: string, text: string, label: string]

+-----+----------+--------------------+-----+
|index|Unnamed: 0|                text|label|
+-----+----------+--------------------+-----+
|    0|         1|A cornball drone ...|    0|
|    1|         3|I don't like impo...|    0|
|    2|         4| The Void marks a...|    1|
|    3|         5|The only way to l...|    0|
|    4|         9| a tame and insul...|    0|
|    5|        10|How sorry can you...|    0|
|    6|        11|"Though not parti...|    1|
|    7|        16|"""Blood"" [chapt...|    1|
|    8|        19|The lack of empat...|    0|
|    9|        21|This modern fanta...|    1|
|   10|        22|The best film I'v...|    0|
|   11|        27| After being surp...|    0|
|   12|        34|  An inert thriller.|    0|
|   13|        35|What cannot be ar...|    1|
|   14|        36|Amid the glut of ...|    1|
|   15|        38|It is ultimately ...|    0|
|   16|        40|I laughed frequen...|    0|
|   17|        42|Fighting with My ...|    1|
|   18|        46|Weinstein walks a...|    1|
|   19|        47|[A] frenetic jumb...|    0|
+-----+----------+--------------------+-----+
only showing top 20 rows

root
 |-- index: string (nullable = true)
 |-- Unnamed: 0: string (nullable = true)
 |-- text: string (nullable = true)
 |-- label: integer (nullable = true)

999

In [321]:
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
from pyspark.ml import Pipeline
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder
from pyspark.ml.tuning import CrossValidator

# Configure an ML pipeline, which consists of tree stages: tokenizer, hashingTF, and nb.
tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol='words', outputCol="features")
idf = IDF(minDocFreq=3, inputCol="features", outputCol="idf")
nb = NaiveBayes()
pipeline = Pipeline(stages=[tokenizer, hashingTF, idf, nb])


paramGrid = ParamGridBuilder().addGrid(nb.smoothing, [0.0, 1.0]).build()


cv = CrossValidator(estimator=pipeline, 
                    estimatorParamMaps=paramGrid, 
                    evaluator=MulticlassClassificationEvaluator(), 
                    numFolds=4)

# Error
cvModel = cv.fit(training_df)

result = cvModel.transform(test_df)
prediction_df = result.select("text", "label", "prediction")
prediction_df.show()

+--------------------+-----+----------+
|                text|label|prediction|
+--------------------+-----+----------+
|A cornball drone ...|    0|       0.0|
|I don't like impo...|    0|       1.0|
| The Void marks a...|    1|       0.0|
|The only way to l...|    0|       1.0|
| a tame and insul...|    0|       1.0|
|How sorry can you...|    0|       0.0|
|"Though not parti...|    1|       1.0|
|"""Blood"" [chapt...|    1|       1.0|
|The lack of empat...|    0|       1.0|
|This modern fanta...|    1|       1.0|
|The best film I'v...|    0|       1.0|
| After being surp...|    0|       1.0|
|  An inert thriller.|    0|       0.0|
|What cannot be ar...|    1|       1.0|
|Amid the glut of ...|    1|       0.0|
|It is ultimately ...|    0|       0.0|
|I laughed frequen...|    0|       1.0|
|Fighting with My ...|    1|       1.0|
|Weinstein walks a...|    1|       1.0|
|[A] frenetic jumb...|    0|       0.0|
+--------------------+-----+----------+
only showing top 20 rows

In [322]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Evaluate the Accuracy
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction")
evaluator.evaluate(result, {evaluator.metricName: "accuracy"})

0.6236236236236237

# Classifier B

In [323]:
review_df_2.select('Review','predicted_train').show()

NameError: name 'review_df_2' is not defined

In [ ]:
# Read the data (Spark)
review_df_2 = sqlContext.read.csv('/project/12000_predicted_labels.csv', header=True,sep='~')

# Combine with review_df with 2000 labels
review_df = review_df.union(review_df_2)

# Remove Null
review_df = review_df.filter(review_df.predicted_train.isNotNull())

review_df = review_df.withColumnRenamed('Review','text')
review_df = review_df.withColumnRenamed('predicted_train','label')
review_df = review_df.withColumn("label", review_df["label"].cast(IntegerType()))

# remove stop words to reduce dimensionality
review_df = review_df.withColumn("text", remove_stops_udf(review_df["text"]))

# remove other non essential words
review_df = review_df.withColumn("text", remove_features_udf(review_df["text"]))

# tag the words remaining and keep only Nouns, Verbs and Adjectives
review_df = review_df.withColumn("text", tag_and_remove_udf(review_df["text"]))

# lemmatization of remaining words to reduce dimensionality & boost measures
review_df = review_df.withColumn("text", lemmatize_udf(review_df["text"]))

training_df = review_df

training_df.show()
training_df.count()

In [ ]:
# Configure an ML pipeline, which consists of tree stages: tokenizer, hashingTF, and nb.
tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol='words', outputCol="features")
idf = IDF(minDocFreq=3, inputCol="features", outputCol="idf")
nb = NaiveBayes()
pipeline = Pipeline(stages=[tokenizer, hashingTF, idf, nb])


paramGrid = ParamGridBuilder().addGrid(nb.smoothing, [0.0, 1.0]).build()


cv = CrossValidator(estimator=pipeline, 
                    estimatorParamMaps=paramGrid, 
                    evaluator=MulticlassClassificationEvaluator(), 
                    numFolds=4)

cvModel = cv.fit(training_df)

result = cvModel.transform(test_df)
prediction_df = result.select("text", "label", "prediction")

#Evaluate the accuracy
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction")
evaluator.evaluate(result, {evaluator.metricName: "accuracy"})