# Data Engineering Group Project

## Team: Data Magicians
Members:
<p>
Arda Putra Ryandika
</p>
<p>
Atthaya Busayaruengrat (Hong)
</p>
<p>
Jingxue (Vera) Cao
</p>
<p>
Katharina Wiedmann  
</p>
<p>
Ying Tung (Debbie) Lau
</p>

## Objective
In this project, we are taking three sources of movie review data (csv, tsv, web scraping) and aiming to create weak labelling functions based on the data. The objective of the project is to compare the performance of a machine learning based classifier with that of the combination of weak labelling functions.

## Movie Review Data

We split the work of obtaining data to three group members (Hong, Debbie, Vera) . Hong was responsible for scraping movie reviews from the rotten tomato website, while Debbie and Vera sought for other data formats like tsv and csv to ensure the sufficiency of data sample. 

The dataset contains two columns: one is the text review posted by people, another is the label 1 or 0. 1 indicates a positive review (fresh), and 0 indicates an non-positive review (not fresh).

The final dataset consists of 15000 reviews in total, with 5000 from web scrapping, 5000 from csv file, and 5000 from tsv file. 

We further sampled 2000 data points for labelling function development (development data set) and made sure the positive and non-positive reviews had the same amounts.

## Building classifiers 

Arda was responsible for building a NLP classifier, which will be later applied to compare with the labelling function classifier. This model was done by utilizing tokens generated from two types of reviews and fed as features. This NLP classifier yielded 70% accuracy on the testing set. 
Arda also implemented the spark on Faculty so that the following labelling functions can be implemented in a spark environment.

## Building Labelling functions

Meanwhile, the rest of the team members worked on generating weak labelling functions based on the findings in data exploration. 

During data exploration, as implementing spark slowed down the computation process as it partitions the dataset, we chose to use pandas to notice any patterns and differences in positive and non-positive reviews. We faced a few challenges in this stage. For example, we built a lemmatization function on the word count dataframe to avoid classifier bias caused by word inflections. However, many words were converted into completely different words incorrectly. Due to the mis-correction on words, we decided not to use lemmatization. 

As for building the labelling functions, Katie looked for stop words in the review first and counted the word occurrences in positive reviews and negative reviews. By identifying the difference in the word occurrences, we built our labelling functions to separate positive and non-positive reviews based on exclusive words. 

We also looked for capital letters mentioned in each type of reviews, but since the capital letters were irrelevant to emotions and most didn’t make sense for understanding, we decided not to create a labelling function based on it.

As we noticed keywords like “too” and “far” occurred more often in a specific type of reviews, so other labelling functions were created based on the keywords. 
Similarly, exclamation mark and question mark also appeared more often in one type of reviews, so we created labelling functions based on them as well.

After finalising the labeling functions, Arda built a classifier to combine the labeling functions together.

## Results

<>

## GitHub
Every time we made a change, we used terminal in Faculty to push the changes to our group repository. 
After committing the change, we used “git status” to double check the state of repository. Using “git diff” also enables us to see all the changes in repository.

Link to GitHub repository:
https://github.com/KatharinaWiedmann/DataEngGroupProject.git

## JIRA board 
We used JIRA to manage the progress of our project and record our meeting topics. The brief of meetings is shown as below:
<p>
First meeting:
•	Rotten Tomatoes labelling functions - good movie or not (positive/ negative rating). 
•	Twitter data: Labelling whether someone is a Boris Johnson supporter or not. 
•	YouTube comments: positive or negative comment 
•	Promotion emails - is an email a spam email or a genuine email. 
</p>
<p>
Second meeting:
•	Labelling functions (Vera, Debbie, Katie) 
•	Classifier (Arda) 
•	Web Scraping (Hong) 
•	GitHub (Katie)
</p>
<p>
Third meeting:
•	Rewriting labelling functions (SparkLFApplier - done together)
•	Combining labelling functions (Hong & Katie)
•	Analyzing summary/ results labelling functions (Hong & Katie)
•	Plug in classifier (Arda)
•	Compare results between using labelling functions and not labelling functions (Arda)
•	Iterate on Mark-up/ write-down (Vera)
•	JIRA cleanup & additional notes (Katie)
•	Github reminder - don't forget to push/ pull (everyone)
•	Make sensitivity analysis work (Debbie) 
•	nt function (Hong)
</p>

Further details can be found at:
http://csjira2.cs.ucl.ac.uk:8080/secure/RapidBoard.jspa?rapidView=316&view=detail&selectedIssue=DED-16

In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
# conda install networkx==2.3.0
# run once and then need to restart the kernel?

In [3]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    gunicorn-20.0.4            |           py36_0         125 KB
    libssh2-1.9.0              |       h1ba5d50_1         269 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    plotly-4.5.2               |             py_0         1.6 MB
    setuptools-46.0.0          |           py36_0         519 KB
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following packages will be UPDATED:

  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  libssh2                                  1.8.2-h1ba5d50_0 --> 1.9.0-h1ba5d50_1
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.5.0-py_0 --> 4.5.2-py_0
  setuptools                                  45.2.0-py36_0 --> 46.0.0-py36_0



Downloading and Extracting Packages
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
setuptools-46.0.0    | 519 KB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
libssh2-1.9.0        | 269 KB    | ##################################### | 100%
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: - b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
/ b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install networkx==2.3.0

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - networkx==2.3.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    networkx-2.3               |             py_0         1.1 MB
    ------------------------------------------------------------
                                           Total:         1.1 MB

The following packages will be DOWNGRADED:

  networkx                                         2.4-py_0 --> 2.3-py_0



Downloading and Extracting Packages
networkx-2.3         | 1.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [5]:
#needs to show version 2.3

import networkx as nx
nx.__version__

'2.3'

In [6]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |   py36h9f0ad1d_1         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hdb11119_1         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hdb11119_1
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  python_abi         conda-forge/linux-64::python_abi-3.6-1_cp36m
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be UPDATED:

  certifi              pkgs/main::certifi-2019.11.28-py36_0 --> conda-forge::certifi-2019.11.28-py36h9f0ad1d_1

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [7]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [8]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import nltk
from itertools import repeat
from nltk.sentiment import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
#Spark 

# Spark Environment
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
import pyspark

number_cores = 4
memory_gb = 16
conf = (
    pyspark.SparkConf()
        .setMaster('local[{}]'.format(number_cores))
        .set('spark.driver.memory', '{}g'.format(memory_gb))
)
sc = pyspark.SparkContext.getOrCreate(conf=conf)
print(sc)

# get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark) 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

<SparkContext master=local[4] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f0dd9209d30>

# Web Scraping

## Browse all from DVD releases page

In [10]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [11]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [12]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/charlies_angels_2019

Number of movies in list: 32

In [13]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [14]:
len(movie_url_split)

12

In [15]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [16]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [17]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 328
Data columns (total 3 columns):
title     327 non-null object
review    327 non-null object
rating    327 non-null object
dtypes: object(3)
memory usage: 10.2+ KB

In [18]:
df.dropna(inplace=True)
df.head(3)

       title                                             review  rating
0  Frozen II  A distressingly unnecessary (and fairly tediou...  rotten
1  Frozen II  Frozen II is the exact kind of sequel that mor...   fresh
2  Frozen II  [A]n ultimately satisfying story of more matur...   fresh

In [19]:
# Export to CSV files
# df.to_csv('web_scraping_rotten_tomatoes.csv')

# Reading & Preparing TSV file

In [20]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [21]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [22]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [23]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [24]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [25]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [26]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [27]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [28]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 11663 to 43278
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [29]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [30]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

                                                   Review  Freshness
360008   A modern-day, screwball reimagining of Thomas...          1
282820   Evans makes Mr. Brooks the CEO of a box facto...          0
243035   Trite and boring portrait of rich and self-ab...          0
14495    Charlize Theron and Kim Bassinger star in an ...          1
138710   The soft and derivative script by newcomer Gu...          0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 360008 to 319989
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [31]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

,Unnamed: 0,title,review,rating
0,0,My Hindu Friend (Meu amigo Hindu),Babenco's cinematic farewell isn't perfect by ...,fresh
1,1,My Hindu Friend (Meu amigo Hindu),This is a good film if you are looking for som...,fresh
2,2,My Hindu Friend (Meu amigo Hindu),"My Hindu Friend is a celebration of life, love...",fresh
3,3,My Hindu Friend (Meu amigo Hindu),I wouldn't miss it; it's a film that's more th...,fresh
4,4,My Hindu Friend (Meu amigo Hindu),"...surreal, reflective (though never sentiment...",fresh

In [32]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

,Unnamed: 0,title,Review,Freshness
312,312,Inherit the Viper,"""Inherit the Viper"" isn't surprising, but it's...",1
1951,1951,Liam Gallagher: As It Was,... essentially a filmed press release from pu...,0
1618,1618,The Farewell,The Farewell is among 2019's best films. It be...,1
545,545,Leslie Jones: Time Machine,Giving Jones an hour or more in the spotlight ...,1
29,29,The Trouble with You (En liberté!),...the type of commercial French filmmaking wh...,1

In [33]:
web_scraping_reviews.head()

                                                 Review Freshness
312   "Inherit the Viper" isn't surprising, but it's...         1
1951  ... essentially a filmed press release from pu...         0
1618  The Farewell is among 2019's best films. It be...         1
545   Giving Jones an hour or more in the spotlight ...         1
29    ...the type of commercial French filmmaking wh...         1

# Combining all the data together

In [34]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
360008   A modern-day, screwball reimagining of Thomas...         1
282820   Evans makes Mr. Brooks the CEO of a box facto...         0
243035   Trite and boring portrait of rich and self-ab...         0
14495    Charlize Theron and Kim Bassinger star in an ...         1
138710   The soft and derivative script by newcomer Gu...         0

In [35]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [38]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'])

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 446760 to 122956
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [40]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 5704 to 208474
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [41]:
train.head()

                                                   Review  Freshness
446760   An excessively convoluted rehash of its prede...          0
44418   Osment's the weak link in the movie and becaus...          1
27216   If you want to see some spectacularly adorable...          1
24133   Not only do we rarely get to participate in th...          0
19332   You never know what to expect from Martin McDo...          1

In [42]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [43]:
test['Freshness'].value_counts()

1    1785
0    1215
Name: Freshness, dtype: int64

In [44]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(2000,random_state=42)
development_split.head()

                                                   Review  Freshness
3154    It won't have much cinematic impact...but I qu...          1
5314    Serenity is a film that seems to reject unders...          1
272692   The rare kind of spellbinding, wonderful film...          1
201190   John Ford's most complete vision about the pa...          0
30750   Lampoons ethnocentrism and celebrates the valu...          1

In [45]:
# test2000.index

In [46]:
# test1000 = pd.merge(test,test2000,how='left',on = 'Review')
# test1000 = test1000[test1000.Freshness_y.isnull()]

In [47]:
# test1000.shape

In [48]:
# test1000.drop('Freshness_y',axis=1, inplace=True)
# test1000.columns = ['Review','Freshness']
# test1000

In [49]:
# test1000.to_csv('1000_labels.csv')

In [50]:
#For finding labelling functions: 
development_split

                                                   Review  Freshness
3154    It won't have much cinematic impact...but I qu...          1
5314    Serenity is a film that seems to reject unders...          1
272692   The rare kind of spellbinding, wonderful film...          1
201190   John Ford's most complete vision about the pa...          0
30750   Lampoons ethnocentrism and celebrates the valu...          1
50054   Everything about Benson Lee's predictable danc...          0
34473   The talented cast is left high and dry by writ...          0
6679    The film dares its viewers to consider that--f...          1
5863    While [All the Bright Places] remains sensitiv...          0
11272   Great fights. You wouldn't think of Damon as a...          1
45169   Supremacy is briskly paced and the screenwriti...          1
27674    In these linked vignettes, Another Year paint...          1
331453   Ultimately "Shopgirl" is an attractive but em...          0
1890    At its core, Harpoon isn't aiming for deep sta...          1
290     A cloned human is created by no god, but a hum...          1
33175   Hitchcock once famously said that a good filmm...          0
1068    Killerman is the story of how an antihero is c...          0
313249   Arguably one of the most important Egyptian f...          1
29073   The breezy manner with which the musical sends...          1
79331    Very nearly as inventive and fascinating as i...          1
54223   'Snakes are definitely a mid-air danger,' said...          0
37444   Despite the supposed passion that such materia...          0
46597   The comedy and drama simply don't jive and the...          0
47151   It is a fable, albeit a dark and twisted one d...          1
93      Filmmaker Juan Cabral presents a muddled philo...          0
20273                       Middlebrow self-consciousness          0
27951   There is something adorably British about Nick...          1
444915   uses its R rating as perhaps an eight-year-ol...          0
4839    Will leave old and new fans satisfied. [Full r...          1
36072    It's hard to say what the creators of "Space ...          0
...                                                   ...        ...
40328    The chicken and his dad seem to feel a bit li...          1
944     Modern horror comedy that resonates due to the...          1
286196   It's hardly surprising that Beresford's retur...          1
52478   A bit shapeless as a story but relies on the c...          1
3126    Joan Stanley's story of means and ends opens i...          1
52199   Del's repeatedly attacked by bad robots, marke...          0
3918    Critters Attack! might entertain the biggest B...          0
957     Give it a spin, but just be warned, it's more ...          1
53508   Cameron Crowe remains, as always, uncool. And ...          1
13962   Surprisingly adapted from a novel, Date is sac...          0
11116   Bereford makes the best of a workmanlike scrip...          1
21553    Never terribly clever, but always intestinall...          1
51144    ...moves you the most when it pauses to liste...          1
24641   The film loses the most credibility.. near the...          0
1359    Earthquake Bird is somewhat laborious in makin...          1
51623   The use of digital effects to place Wayans' fa...          0
17123   When you stop looking at the forest, you'll se...          1
232827   The film is sweet, simplified and a bit syrup...          1
12583   [Empire of the Sun] has too much childish buoy...          0
448810   A predictably woeful affair that achieves the...          0
30206   ...a meditation on the nature of celebrity and...          1
449774   There's something tedious about this film, pa...          0
117159   The protagonists' aimless drug- and sex-fuell...          0
374699   With no Michael Sheen this time around and Ch...          0
372176   Ek Thi Daayan starts out as a well-acted, wel...          1
173907   Canopy succeeds on its own modest, limited te...          1
31535    Jesus Is Magic manages to push hot buttons wi...          1
1466    A potentially provocative concept becomes lost...          0
4189    Better at personalizing the experiences and co...          1
41164   It's difficult to say which is worse--Allcroft...          0

[2000 rows x 2 columns]

In [51]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [52]:
development_split.to_csv('development_split.csv')

In [53]:
# development_split = pd.read_csv('development_split.csv',index_col = 'Unnamed: 0')

In [54]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [55]:
development_split.head()

                                                   Review  Freshness
3154    It won't have much cinematic impact...but I qu...          1
5314    Serenity is a film that seems to reject unders...          1
272692   The rare kind of spellbinding, wonderful film...          1
201190   John Ford's most complete vision about the pa...          0
30750   Lampoons ethnocentrism and celebrates the valu...          1

In [56]:
#Might have to get rid off index?

development_split[development_split['Freshness'] !=1].count()

Review       823
Freshness    823
dtype: int64

In [57]:
development_split['Freshness'].value_counts()

1    1177
0     823
Name: Freshness, dtype: int64

## Split into positive and negative reviews

In [58]:
development_split = pd.read_csv('development_split.csv')

In [59]:
development_split_fresh = development_split[development_split['Freshness'] == 1]
development_split_rotten = development_split[development_split['Freshness'] == 0]
development_split_fresh.head()
development_split_rotten.head()

   Unnamed: 0                                             Review  Freshness
0        3154  It won't have much cinematic impact...but I qu...          1
1        5314  Serenity is a film that seems to reject unders...          1
2      272692   The rare kind of spellbinding, wonderful film...          1
4       30750  Lampoons ethnocentrism and celebrates the valu...          1
7        6679  The film dares its viewers to consider that--f...          1

    Unnamed: 0                                             Review  Freshness
3       201190   John Ford's most complete vision about the pa...          0
5        50054  Everything about Benson Lee's predictable danc...          0
6        34473  The talented cast is left high and dry by writ...          0
8         5863  While [All the Bright Places] remains sensitiv...          0
12      331453   Ultimately "Shopgirl" is an attractive but em...          0

In [60]:
# fresh reviews 
development_split_fresh.info()
# rotten reviews 
development_split_rotten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1177 entries, 0 to 1998
Data columns (total 3 columns):
Unnamed: 0    1177 non-null int64
Review        1177 non-null object
Freshness     1177 non-null int64
dtypes: int64(2), object(1)
memory usage: 36.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 823 entries, 3 to 1999
Data columns (total 3 columns):
Unnamed: 0    823 non-null int64
Review        823 non-null object
Freshness     823 non-null int64
dtypes: int64(2), object(1)
memory usage: 25.7+ KB

## Labelling Functions

## 1. Word occurrences

### Positive Reviews

In [61]:
# Removing punctuation 
def remove_punctuation(dataframe):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in dataframe.Review.str.lower():
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [62]:
#Remove punctuation from fresh reviews & turn into Series
split_fresh= pd.Series(remove_punctuation(development_split_fresh))
split_fresh.head()

0    it wont have much cinematic impactbut i quite ...
1    serenity is a film that seems to reject unders...
2     the rare kind of spellbinding wonderful film ...
3    lampoons ethnocentrism and celebrates the valu...
4    the film dares its viewers to consider thatfor...
dtype: object

In [63]:
stopWordList = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves",\
                "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",\
                "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",\
                "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",\
                "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between",\
                "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off",\
                "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any",\
                "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",\
                "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [64]:
#Removing stopwords from fresh

replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_fresh.replace(replacements, regex=True, inplace=True)
split_fresh.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

### Implement lemmatization

In [65]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [66]:
common_words_fresh = split_fresh.str.split(expand=True).stack().value_counts()
common_words_fresh_df = pd.DataFrame(common_words_fresh)
common_words_fresh_df = common_words_fresh_df.rename({0:'Occurence good review'}, axis='columns')
new_common_words_fresh_df = common_words_fresh_df.reset_index()

In [67]:
stem_recount(new_common_words_fresh_df)

           index  Occurence good review
0           film                    264
1           movy                    113
2             on                    103
3          story                     81
4            lik                     67
5            ful                     59
6           span                     54
7           film                     54
8         review                     53
9           good                     48
10           tim                     58
11            ev                     44
12          best                     44
13           fun                     39
14         funny                     37
15        comedy                     37
16           gre                     35
17           mak                     34
18           may                     34
19           lov                     33
20           way                     33
21       charact                     32
22            us                     32
23           lif                     32
24           yet                     31
25        direct                     31
26        doesnt                     31
27          ther                     31
28          much                     31
29         littl                     31
...          ...                    ...
5993        clev                      1
5994   merciless                      1
5995   insufficy                      1
5996        stat                      1
5997       amand                      1
5998      reunit                      1
5999       diary                      1
6000          am                      1
6001        warn                      1
6002        wint                      1
6003        duel                      1
6004     shangha                      1
6005  oneofakind                      1
6006    biograph                      1
6007        magn                      1
6008     profess                      1
6009        grab                      1
6010     surpass                      1
6011      breezy                      1
6012        trad                      1
6013          10                      1
6014        wayn                      1
6015        hang                      1
6016   humorless                      1
6017         lik                      1
6018     whiskey                      1
6019         tir                      1
6020       innoc                      1
6021         fam                      1
6022         nat                      1

[6023 rows x 2 columns]

In [68]:
#Get most common words in positive reviews 
top_common_words_fresh = common_words_fresh_df[common_words_fresh_df['Occurence good review'] >=4]
top_common_words_fresh

                  Occurence good review
film                                210
movie                               113
one                                 103
story                                81
like                                 67
full                                 59
spanish                              54
films                                54
review                               53
good                                 48
time                                 44
even                                 44
best                                 44
fun                                  39
funny                                37
comedy                               37
great                                35
make                                 34
may                                  34
love                                 33
way                                  33
characters                           32
us                                   32
life                                 32
yet                                  31
director                             31
doesnt                               31
theres                               31
much                                 31
little                               31
...                                 ...
career                                4
inspiring                             4
respect                               4
refreshing                            4
obvious                               4
uneven                                4
treat                                 4
dialogue                              4
relationships                         4
understands                           4
seeing                                4
unapologetically                      4
imaginative                           4
essential                             4
talented                              4
christmas                             4
forced                                4
tour                                  4
carry                                 4
violent                               4
grownups                              4
head                                  4
broken                                4
cry                                   4
wild                                  4
indie                                 4
nostalgia                             4
eye                                   4
found                                 4
sex                                   4

[787 rows x 1 columns]

### *** EXPLAIN WHY WE DONT USE LEMMATIZATION

<div class="alert alert-success">
<b> Reason for not using Lemmatization </b>

<p>
    Before counting the occurance of words in the movie review, we noticed that inflections in words may result in different occurances and thus generating bias during counting. For example, "enjoy" and "enjoyed" share the same root but would be counted separately if not using Lemmatization.
    </p> 
    
<p>
    The function "stem_recount" takes the root of a word and recounts the occurences. However, it posed a disadvantage of mis-normalizing words into other completely different words. For example, "movie" was identified as "movy", and "like" was identified as "lik". We thought this disadvantage exceeds the benefits of correcting word inflection, so we decided to not implement it.
    </p> 

</div>

### Negative reviews

In [69]:
#Remove punctuation from rotten & turn into Series
split_rotten= pd.Series(remove_punctuation(development_split_rotten))
split_rotten.head()

0     john fords most complete vision about the pas...
1    everything about benson lees predictable dance...
2    the talented cast is left high and dry by writ...
3    while all the bright places remains sensitive ...
4     ultimately shopgirl is an attractive but empt...
dtype: object

In [70]:
# Removing stopwords from negative reviews
replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_rotten.replace(replacements, regex=True, inplace=True)
split_rotten.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

In [71]:
#Get most common words in negative reviews 

common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
common_words_rotten_df = pd.DataFrame(common_words_rotten)
common_words_rotten_df = common_words_rotten_df.rename({0:'Occurence bad review'}, axis='columns')
top_common_words_rotten = common_words_rotten_df[common_words_rotten_df['Occurence bad review'] >=4]

In [72]:
top_common_words_rotten.head()

       Occurence bad review
film                    122
movie                   114
much                     58
too                      54
like                     51

## Comparison of good and bad reviews

<div class="alert alert-success">
We want to find out which of the words in the good list only appear in the good movies (and not in the bad movies), vice versa and base labeling functions on these findings. We first ened to prepare the data accordingly, before we can write the labelling functions.
    <div>

In [73]:
top_fresh_words_exclusive = top_common_words_fresh.merge(top_common_words_rotten, indicator='i', how='outer', left_index=True,\
                                                         right_index=True).query('i == "left_only"').drop('i', 1)

top_rotten_words_exclusive = top_common_words_rotten.merge(top_common_words_fresh, indicator='i', how='outer', left_index=True,\
                                                           right_index=True).query('i == "left_only"').drop('i', 1)

In [74]:
top_fresh_words_exclusive.head()

              Occurence good review  Occurence bad review
able                            6.0                   NaN
absurd                          5.0                   NaN
accomplished                    5.0                   NaN
across                          4.0                   NaN
acted                           7.0                   NaN

In [75]:
top_rotten_words_exclusive.head()

           Occurence bad review  Occurence good review
achieve                     4.0                    NaN
air                         5.0                    NaN
appealing                   4.0                    NaN
attempt                     7.0                    NaN
barely                      5.0                    NaN

In [76]:
#Get only positive words 
top_fresh_words_exclusive_list = top_fresh_words_exclusive['Occurence good review'].index.tolist()
top_fresh_words_exclusive_list

['able',
 'absurd',
 'accomplished',
 'across',
 'acted',
 'actor',
 'addition',
 'adventure',
 'age',
 'albeit',
 'allows',
 'alone',
 'already',
 'although',
 'america',
 'among',
 'animated',
 'animation',
 'answers',
 'anyone',
 'apart',
 'appears',
 'artist',
 'artists',
 'aside',
 'assured',
 'atmospheric',
 'beautifully',
 'become',
 'behind',
 'betrayal',
 'bizarre',
 'black',
 'bleak',
 'blockbuster',
 'blow',
 'boasts',
 'body',
 'boldly',
 'brave',
 'breaks',
 'brilliant',
 'bring',
 'broken',
 'brothers',
 'brought',
 'brutal',
 'budget',
 'cage',
 'camera',
 'capable',
 'captivating',
 'captures',
 'career',
 'carry',
 'casts',
 'change',
 'charm',
 'charming',
 'cheap',
 'chemistry',
 'children',
 'chilling',
 'cinematography',
 'classic',
 'clever',
 'clift',
 'comedic',
 'coming',
 'comingofage',
 'community',
 'compelling',
 'contemporary',
 'conventional',
 'cool',
 'country',
 'couple',
 'crafted',
 'create',
 'created',
 'creates',
 'creation',
 'crude',
 'cry',
 'cultural',
 'curious',
 'current',
 'cursing',
 'dark',
 'david',
 'de',
 'deal',
 'death',
 'debut',
 'decade',
 'deep',
 'deeply',
 'delight',
 'delightful',
 'deliver',
 'depth',
 'deserve',
 'deserves',
 'designed',
 'directors',
 'disappointed',
 'disney',
 'documentary',
 'dramatic',
 'dramedy',
 'due',
 'early',
 'easily',
 'eastwood',
 'emotion',
 'endearing',
 'engrossing',
 'enjoy',
 'enjoyable',
 'essential',
 'ever',
 'excellent',
 'exercise',
 'experiences',
 'extraordinary',
 'extremely',
 'eyes',
 'fabulous',
 'face',
 'fact',
 'faith',
 'fall',
 'familiar',
 'fan',
 'fantastic',
 'fascinating',
 'fast',
 'feet',
 'female',
 'fiction',
 'figures',
 'final',
 'five',
 'focus',
 'force',
 'forced',
 'foreign',
 'form',
 'formula',
 'found',
 'four',
 'friendship',
 'funnier',
 'furious',
 'future',
 'genius',
 'getting',
 'girl',
 'girls',
 'giving',
 'god',
 'gore',
 'got',
 'gothic',
 'grace',
 'grim',
 'grownups',
 'hand',
 'hands',
 'happen',
 'harrowing',
 'haunting',
 'head',
 'heartbreaking',
 'heartfelt',
 'heartwarming',
 'hell',
 'hilarious',
 'hill',
 'hit',
 'hits',
 'hold',
 'holiday',
 'home',
 'honest',
 'hope',
 'hour',
 'human',
 'images',
 'imaginative',
 'imagine',
 'impact',
 'important',
 'impressive',
 'includes',
 'incredibly',
 'indie',
 'inspirational',
 'inspired',
 'inspiring',
 'intense',
 'intimate',
 'intriguing',
 'introduction',
 'issues',
 'ive',
 'jackson',
 'jane',
 'job',
 'joy',
 'justice',
 'keeps',
 'kinds',
 'known',
 'late',
 'latest',
 'laugh',
 'lies',
 'likeable',
 'limited',
 'line',
 'live',
 'lively',
 'lives',
 'location',
 'lovely',
 'low',
 'mad',
 'magic',
 'marriage',
 'martin',
 'meditation',
 'meets',
 'members',
 'michael',
 'mix',
 'modern',
 'modest',
 'moment',
 'moore',
 'move',
 'musical',
 'mustsee',
 'name',
 'nature',
 'netflixs',
 'next',
 'nice',
 'nostalgia',
 'notes',
 'number',
 'occasional',
 'oddly',
 'ones',
 'opening',
 'others',
 'otherwise',
 'overcome',
 'packs',
 'part',
 'parts',
 'passion',
 'past',
 'paul',
 'payoff',
 'perfect',
 'period',
 'personal',
 'peter',
 'physical',
 'pieces',
 'places',
 'playing',
 'pleasant',
 'pleasure',
 'plus',
 'poignant',
 'politics',
 'portrait',
 'possibly',
 'powerful',
 'presents',
 'product',
 'profoundly',
 'project',
 'proves',
 'provides',
 'quality',
 'queer',
 'quiet',
 'quietly',
 'range',
 'rare',
 'reality',
 'recent',
 'refreshing',
 'refreshingly',
 'relationships',
 'release',
 'relevant',
 'remarkable',
 'reminder',
 'respect',
 'return',
 'rich',
 'ride',
 'riveting',
 'rock',
 'role',
 'romance',
 'romcom',
 'room',
 'rough',
 'run',
 'running',
 'rural',
 'russell',
 'satisfying',
 'school',
 'scifi',
 'score',
 'season',
 'seeing',
 'seen',
 'sequences',
 'seriously',
 'serves',
 'seth',
 'sets',
 'setting',
 'sex',
 'share',
 'shot',
 'shows',
 'side',
 'silly',
 'simple',
 'since',
 'skill',
 'slick',
 'smart',
 'smith',
 'social',
 'society',
 'solid',
 'sometimes',
 'somewhat',
 'sort',
 'sound',
 'spectacular',
 'speed',
 'spin',
 'sports',
 'stand',
 'stands',
 'starts',
 'stop',
 'stories',
 'striking',
 'struggles',
 'studio',
 'stuff',
 'stunning',
 'stylish',
 'subtle',
 'succeeds',
 'summer',
 'supporting',
 'sure',
 'surprise',
 'surprising',
 'survival',
 'survive',
 'sweet',
 'talent',
 'team',
 'telling',
 'tender',
 'tense',
 'theme',
 'thought',
 'thoughtful',
 'today',
 'told',
 'top',
 'touching',
 'tour',
 'traditional',
 'transgender',
 'treat',
 'tribute',
 'trilogy',
 'tropes',
 'truly',
 'unapologetically',
 'understands',
 'unexpected',
 'unique',
 'used',
 'uses',
 'utterly',
 'vibe',
 'viewers',
 'violent',
 'visual',
 'visually',
 'visuals',
 'wanted',
 'war',
 'warm',
 'ways',
 'western',
 'whose',
 'wish',
 'within',
 'wonderful',
 'wonderfully',
 'wont',
 'worthy',
 'writerdirector',
 'yarn',
 'yes']

In [77]:
#take out the ones that seem to make sense: 
top_fresh_words_exclusive = ['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

top_fresh_words_exclusive

['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

In [78]:
#Get only negative words 
top_rotten_words_exclusive_list = top_rotten_words_exclusive['Occurence bad review'].index.tolist()
top_rotten_words_exclusive_list

['achieve',
 'air',
 'appealing',
 'attempt',
 'barely',
 'battle',
 'bland',
 'bloody',
 'built',
 'bythenumbers',
 'call',
 'cannot',
 'care',
 'case',
 'central',
 'chance',
 'clichés',
 'complex',
 'complicated',
 'concept',
 'concerned',
 'conflict',
 'core',
 'couldnt',
 'dance',
 'danger',
 'derivative',
 'difficult',
 'disappointing',
 'disappointment',
 'disturbing',
 'dull',
 'effects',
 'efforts',
 'else',
 'empathy',
 'entirely',
 'epic',
 'eventually',
 'except',
 'excessive',
 'execution',
 'expectations',
 'failure',
 'felt',
 'fight',
 'filled',
 'filmmaker',
 'finally',
 'finish',
 'flat',
 'follow',
 'front',
 'fury',
 'gags',
 'game',
 'generic',
 'genuine',
 'genuinely',
 'grave',
 'happens',
 'heavy',
 'hot',
 'identity',
 'imagination',
 'impossible',
 'intentions',
 'involved',
 'justify',
 'knows',
 'lacks',
 'largely',
 'lazy',
 'leached',
 'loses',
 'mean',
 'means',
 'meant',
 'melodrama',
 'mess',
 'message',
 'messy',
 'moon',
 'mystery',
 'needed',
 'neither',
 'none',
 'pacing',
 'pain',
 'parents',
 'perhaps',
 'poor',
 'predecessor',
 'problem',
 'problems',
 'promise',
 'pull',
 'quickly',
 'rarely',
 'reason',
 'reasonably',
 'red',
 'remains',
 'remotely',
 'ridiculous',
 'rote',
 'sadly',
 'satire',
 'save',
 'saying',
 'says',
 'screenplay',
 'serve',
 'several',
 'shouldnt',
 'space',
 'spirit',
 'stepping',
 'stick',
 'success',
 'suffers',
 'surface',
 'taken',
 'talk',
 'taste',
 'terrible',
 'themes',
 'third',
 'throughout',
 'title',
 'tough',
 'towards',
 'understand',
 'unfortunately',
 'unfunny',
 'uninspired',
 'vapid',
 'video',
 'viewing',
 'vision',
 'weight',
 'word',
 'worst',
 'written',
 'zero']

In [79]:
#take out the ones that seem to make sense: 
top_rotten_words_exclusive = [
 'attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']
top_rotten_words_exclusive

['attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']

## Labelling Function

### 1. Word Occurences

###  A. Good / bad exclusive words occurrences

In [80]:
from snorkel.labeling.apply.spark import SparkLFApplier

from pyspark import SparkContext 
from pyspark.sql import SQLContext 
import pandas as pd 
sqlc=SQLContext(sc) 
df=pd.read_csv('/project/development_split.csv',index_col = 'Unnamed: 0')
df_with_punctuation = df.copy()
df['Review'] = remove_punctuation(df)
development_split=sqlc.createDataFrame(df)
development_split_with_punctuation=sqlc.createDataFrame(df_with_punctuation)

In [81]:
development_split.show(5)

+--------------------+---------+
|              Review|Freshness|
+--------------------+---------+
|it wont have much...|        1|
|serenity is a fil...|        1|
| the rare kind of...|        1|
| john fords most ...|        0|
|lampoons ethnocen...|        1|
+--------------------+---------+
only showing top 5 rows

In [82]:
# development_split = pd.read_csv('/project/development_split.csv')
ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()
def fresh(x):
    for word in top_fresh_words_exclusive:
        word = " " +word+" "
        if word in str(x).lower():
            return FRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

@labeling_function()
def rotten(x):
    for word in top_rotten_words_exclusive:
        word = " " +word+" "
        if word in str(x).lower():
            return NOTFRESH
    return ABSTAIN
#return NOTFRESH if "best" in x.str.lower() else ABSTAIN

In [83]:
lfs = [fresh]
applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [84]:
sample_L

array([[ 1],
       [-1],
       [ 1],
       ...,
       [ 1],
       [-1],
       [-1]])

In [85]:
coverage_fresh = (sample_L != ABSTAIN).mean(axis=0)
print("fresh coverage:{:.1%}".format(coverage_fresh[0]))

fresh coverage:35.1%

In [86]:
lfs = [rotten]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [87]:
coverage_rotten = (sample_L != ABSTAIN).mean(axis=0)
print("rotten coverage:{:.1%}".format(coverage_rotten[0]))

rotten coverage:8.0%

### B. Word 'too' occurances

In [88]:
common_words_fresh_df[common_words_fresh_df.index == 'too']

     Occurence good review
too                     30

In [89]:
common_words_rotten_df[common_words_rotten_df.index == 'too']

     Occurence bad review
too                    54

In [90]:
@labeling_function()
def keyword_too(x):
    return NOTFRESH if 'too' in str(x).lower() else ABSTAIN

In [91]:
lfs = [keyword_too]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [92]:
coverage_keyword_too = (sample_L != ABSTAIN).mean(axis=0)
print("keyword too coverage:{:.1%}".format(coverage_keyword_too[0]))

keyword too coverage:4.5%

### C. Word 'far' occurrences

In [93]:
common_words_fresh_df[common_words_fresh_df.index == 'far']

     Occurence good review
far                     13

In [94]:
common_words_rotten_df[common_words_rotten_df.index == 'far']

     Occurence bad review
far                    13

In [95]:
@labeling_function()
def keyword_far(x):
    return FRESH if 'far' in str(x).lower() else ABSTAIN

In [96]:
lfs = [keyword_far]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [97]:
coverage_keyword_far = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_keyword_far[0]))

keyword far coverage:2.6%

### D. "n't" words occurrences

In [98]:
# Exploration on the n't
# Word occurancy that with punctuation with it

# Word occurrences dataframe for fresh reviews
development_split_fresh_1 = split_fresh.str.split(expand=True).stack().value_counts()
development_split_fresh_df = pd.DataFrame(development_split_fresh_1).reset_index()

# Words occurrences dataframe for rotten reviews
development_split_rotten_1 = split_rotten.str.split(expand=True).stack().value_counts()
development_split_rotten_df = pd.DataFrame(development_split_rotten_1).reset_index()

In [99]:
@labeling_function()

def t(x):
    if re.search("'t",str(x).lower()):
        return NOTFRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

In [100]:
lfs = [t]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [101]:
coverage_t = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_t[0]))

keyword far coverage:14.7%

### E. Occurenes of good & bad words from external list

<div class="alert alert-success">
We also want to look at an imported list of postive and negative words and see whether we can base the labelling functions on them.
    </div>

In [102]:
#Importing good and bad words & preparing for labelling function

In [103]:
#POSITIVE WORDS 
#positive words from --> DON't DELETE! NEED TO CITE PROPERLY http://ptrckprry.com/course/ssd/data/positive-words.txt
positive_word = pd.read_csv('/project/positive_words.csv')

#sample 500 words 
positive_word = positive_word.sample(500)

#convert it into a list 
positive_word= positive_word['a+'].tolist()



#NEGATIVE WORDS 
#negative words from --> HONG?? 
negative_word = pd.read_csv('/project/negative_words.csv')

#sample 500 words 
negative_word = negative_word.sample(500)

#convert it into a list 
negative_word= negative_word['2-faces'].tolist()

In [104]:
@labeling_function()
def negative(x): 
    for word in negative_word:
        word = " " + word + " "
        if word in str(x).lower():
            return NOTFRESH 
    return ABSTAIN 


@labeling_function()
def positive(x):
    for word in positive_word:
        word = " " + word + " "
        if word in str(x).lower():
            return FRESH 
    return ABSTAIN

In [105]:
lfs = [negative]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [106]:
coverage_negative = (sample_L != ABSTAIN).mean(axis=0)
print("negative words coverage:{:.1%}".format(coverage_negative[0]))

negative words coverage:6.9%

In [107]:
lfs = [positive]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [108]:
coverage_positive = (sample_L != ABSTAIN).mean(axis=0)
print("positive words coverage:{:.1%}".format(coverage_positive[0]))

positive words coverage:28.1%

## 2. Punctuation occurrences

In [109]:
# Turn review column into Series
development_split_fresh_series = pd.Series(development_split_fresh.Review)
development_split_rotten_series = pd.Series(development_split_rotten.Review)

In [110]:
# Positive reviews
# Split reviews into word
fresh_split = pd.Series(development_split_fresh_series.str.split(expand=True).stack())
fresh_words = [i for i in fresh_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in fresh_words]
fresh_split_words = pd.Series(split_str())

In [111]:
# Negative reviews
# Split reviews into word
rotten_split = pd.Series(development_split_rotten_series.str.split(expand=True).stack())
rotten_words = [i for i in rotten_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in rotten_words]
rotten_split_words = pd.Series(split_str())

In [112]:
# Turn into a flattened list
fresh_flattened_list = [y for x in fresh_split_words for y in x]
rotten_flattened_list = [y for x in rotten_split_words for y in x]

# Count the occurancy of each character
# Positive reviews
fresh_split_characters = pd.Series(fresh_flattened_list).value_counts()
fresh_split_characters = pd.DataFrame(fresh_split_characters).reset_index()

# Negative reviews
rotten_split_characters = pd.Series(rotten_flattened_list).value_counts()
rotten_split_characters = pd.DataFrame(rotten_split_characters).reset_index()

### A. Question mark occurrences

In [113]:
# Count the # of occurance of '?' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '?']

   index   0
60     ?  17

In [114]:
# Count the # of occurance of '?' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '?']

   index   0
52     ?  32

In [115]:
list_with_question_mark = []
for review in development_split_rotten.Review:
    if '?' in review:
        list_with_question_mark.append(review)
        
print (list_with_question_mark[:3])

['Are you looking for a hilariously erotic thriller comedy? Sit down and let the weirdness of Blood Paradise wash over you.', ' I Spit on Your Grave improves on Meir Zarchi?s 1978 original, but that?s not saying much.', " The movie's main purpose seems to be to make audiences squirm uncomfortably. Yelp and shriek in armchair-clawing glee? Not likely."]

In [116]:
@labeling_function()
def question_mark(x):
    return NOTFRESH if '?' in str(x).lower() else ABSTAIN

In [117]:
lfs = [question_mark]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split_with_punctuation.rdd)

In [118]:
coverage_question_mark = (sample_L != ABSTAIN).mean(axis=0)
print("question mark coverage:{:.1%}".format(coverage_question_mark[0]))

question mark coverage:2.1%

### B. Exclamation mark occurrences

In [119]:
# Count the # of occurance of '!' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '!']

   index  0
74     !  5

In [120]:
# Count the # of occurance of '!' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '!']

   index  0
74     !  3

In [121]:
@labeling_function()
def exclamation_mark(x):
    return FRESH if '!' in str(x).lower() else ABSTAIN

In [122]:
lfs = [exclamation_mark]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split_with_punctuation.rdd)

In [123]:
coverage_exclamation_mark = (sample_L != ABSTAIN).mean(axis=0)
print("exclamation mark coverage:{:.1%}".format(coverage_exclamation_mark[0]))

exclamation mark coverage:0.4%

### 3. Combining labelling functions

<div class="alert alert-success">
Next, we want to combine all the labelling functions into one and apply them to the training set. However, as the labelling functions around the punctuation have very low coverages, we decided not to include these.
    </div>

In [124]:
lfs = [fresh,
       rotten,
       keyword_too,
       keyword_far,
       t,
       negative,
       positive]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

In [125]:
train_prepared = train.copy()

train_prepared
train_prepared['Review'] = remove_punctuation(train_prepared)

                                                   Review
446760   An excessively convoluted rehash of its prede...
44418   Osment's the weak link in the movie and becaus...
27216   If you want to see some spectacularly adorable...
24133   Not only do we rarely get to participate in th...
19332   You never know what to expect from Martin McDo...
3438    There are genuinely imaginative special effect...
435470   ...dissects contemporary adolescence with a w...
2880    It's convivial, imaginative, and always cinema...
3264    "Ma" is poorly written, but Spencer lifts it u...
150646   Balance out the few highs and many, scatologi...
5795    Shin infuses an intoxicating blend of grime, c...
9267     An unappealing comedy with a derisive and dis...
1699    It feels like the ideal fit for Netflix and as...
168258   The Mummy is the perfect movie if you love mi...
53446   Sporadically tests one's sugar endurance, but ...
3439    Sure, Tracy Oliver's screenplay is simplistic ...
48909   James Marsh's Project Nim ruminates on ideas o...
14912   It speaks to its entire audience, without ever...
3779    The Wedding Guest has all the right pieces the...
26862   A beast of a movie is gifted a superfluous-but...
105143   Like a fun house mirror, Burger's story is ne...
451206   There are moments of mad genius here, and a w...
34      It's frantic stuff, slight and cheesy but ende...
1265    A featherweight film with a lot of heart but n...
12420   Darker than expected but with a good theme: mo...
13927    An answered prayer for those who believe that...
33756   Whatever failings the film may have, none can ...
24983   The movie is sometimes charged with real tensi...
39069   If you want a turn-on, turn-off Caligula. Stay...
5915    Conspicuous assets are the striking color phot...
...                                                   ...
5529    Room for Rent is an enthralling psychological ...
1023    The Sound of My Voice is entirely satisfying a...
4032    As a partner piece to Hamlet, it's an interest...
23833   David O. Russell continues to prove just how w...
19973                                  Acceptably uneven.
22297   Being a baseball fan involves repeatedly exper...
40606    I wish that director/co-writer Todd Phillips....
43127   Another stunning martial arts masterpiece from...
31647   The kind of boot-strap-pulling, tear-duct-tick...
381264   Vanessa Hudgens and Alyson Michalka played mo...
2796    Directed by Jeremy Sims, Wayne is snapshot of ...
243035   Trite and boring portrait of rich and self-ab...
71237    There's a fascinating and terrifying story to...
5334    An action movie without suspense, a message wi...
962     On paper, Don't Let Go's premise - a supernatu...
4252    There are some clever touches in the script, f...
588     Military idolatry and craven female objectific...
371     So-so sequel is full of blood but not much cha...
20902   Be prepared for long intervals of holding your...
10748   When you wrap a movie around a gimmick, the wr...
20556   It's tense, compelling and steeped in an urban...
25608   Burns' latest demonstrates the workmanlike ski...
20793   One of the toughest movies ever made, an uncom...
39327    Making the transition from long-arc TV series...
314508   The whole thing leaves you with an appalling ...
363750   Vampire movies were always cool, but it took ...
367127   Very much a child of today's Hollywood, it's ...
144060   Above all, Iñárritu's "Birdman" is a celebrat...
21108   Your reaction to the whole thing probably depe...
122956   Paul Thomas Anderson is here to honor everyth...

[12000 rows x 1 columns]

In [126]:
from snorkel.labeling import LFAnalysis
LFAnalysis(L=sample_L, lfs = lfs).lf_summary()

             j Polarity  Coverage  Overlaps  Conflicts
fresh        0      [1]    0.3515    0.1925     0.0990
rotten       1      [0]    0.0800    0.0525     0.0380
keyword_too  2      [0]    0.0450    0.0285     0.0215
keyword_far  3      [1]    0.0260    0.0200     0.0100
t            4      [0]    0.1470    0.0890     0.0760
negative     5      [0]    0.0690    0.0430     0.0325
positive     6      [1]    0.2810    0.1685     0.0755

In [127]:
lfs = [fresh,
       rotten,
       keyword_too,
       keyword_far,
       t,
       negative,
       positive]

applier = SparkLFApplier(lfs)

L_train=sqlc.createDataFrame(train_prepared)

#is this next line correct?
L_test = sqlc.createDataFrame(test)

# type(L_train)
L_train = applier.apply(L_train.rdd)

#is this next line correct?
L_test = applier.apply(L_test.rdd)

In [128]:
type(L_train)

numpy.ndarray

In [129]:
L_train

array([[-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       [ 1, -1, -1, ..., -1, -1, -1],
       ...,
       [ 1, -1, -1, ..., -1, -1, -1],
       [ 1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1]])

In [130]:
from snorkel.labeling import MajorityLabelVoter

majority_model = MajorityLabelVoter()
preds_train = majority_model.predict(L=L_train)

In [131]:
preds_train.shape

(12000,)

In [132]:
preds_train

array([0, 1, 1, ..., 1, 1, 0])

In [133]:
train2 = train.copy()
train2['predicted_train'] = preds_train
train2.to_csv('12000_predicted_labels.csv')

In [134]:
#needs to show version 2.3
import networkx as nx
nx.__version__

'2.3'

In [135]:
#Labelling according to weights 
from snorkel.labeling import LabelModel

label_model = LabelModel(cardinality=2, verbose=True)
label_model.fit(L_train=L_train, n_epochs=500, log_freq=100, seed=123)

In [136]:
#need to be checked 
L_test = L_test
Y_test = test['Freshness']

In [137]:
majority_acc = majority_model.score(L=L_test, Y=Y_test, tie_break_policy="random")[
    "accuracy"
]
print(f"{'Majority Vote Accuracy:':<25} {majority_acc * 100:.1f}%")

label_model_acc = label_model.score(L=L_test, Y=Y_test, tie_break_policy="random")[
    "accuracy"
]
print(f"{'Label Model Accuracy:':<25} {label_model_acc * 100:.1f}%")

Majority Vote Accuracy:   59.8%
Label Model Accuracy:     59.8%

## Sensitivity Analysis

In [138]:
# conda install py4j

In [139]:
import py4j

In [140]:
from pyspark.context import SparkContext
from pyspark import SQLContext, SparkConf

print('Spark version:', sc.version)

print('Python version:', sys.version)

#Apparently PySpark does not work with Python 3.6.10
#This is why we get the Java4 Error

Spark version: 2.4.5
Python version: 3.6.10 |Anaconda, Inc.| (default, Jan  7 2020, 21:14:29)
[GCC 7.3.0]

In [141]:
from snorkel.preprocess import preprocessor
from textblob import TextBlob

# @preprocessor(memoize=True)
# def textblob_sentiment(x):
#     scores = TextBlob(x.text)
#     x.polarity = scores.sentiment.polarity
#     x.subjectivity = scores.sentiment.subjectivity
#     return x

# #pick a reasonable threshold 
# #Using a lower threshold than other examples as this could be a good indicator for determining official sources vs general negative sentiment
# @labeling_function()
# def textblob_polarity(x):
#     return NOTFRESH if x.polarity > 0.8 else ABSTAIN

# #do the same for the subjectivity scores. 
# #Using a higher threshold than other examples as this could be a good indicator for determining official sources
# #This will run faster than the last cell, since we memoized the Preprocessor outputs.
# @labeling_function()
# def textblob_subjectivity(x):
#     return FRESH if x.subjectivity >= 0.6 else ABSTAIN

In [142]:
def getSentiment(text):
    x = {}
    x["polarity"] = TextBlob(text).sentiment.polarity
    x["subjectivity"] = TextBlob(text).sentiment.subjectivity
    return x

In [143]:
# @labeling_function(pre=[textblob_sentiment])
# def textblob_polarity(x):
#     x = getSentiment(x.text)
#     return FRESH if x.polarity > 0.8 else ABSTAIN

# @labeling_function(pre=[textblob_sentiment])
# def textblob_subjectivity(x):
#     x = getSentiment(x.text)
#     return FRESH if x.subjectivity >= 0.5 else ABSTAIN



#pick a reasonable threshold 
#Using a lower threshold than other examples as this could be a good indicator for determining official sources vs general negative sentiment
#@labeling_function(pre=[textblob_sentiment])
@labeling_function()
def textblob_polarity(x):
    x = getSentiment(x.Review)
    return FRESH if x["polarity"] > 0.8 else ABSTAIN

#do the same for the subjectivity scores. 
#Using a higher threshold than other examples as this could be a good indicator for determining official sources
#This will run faster than the last cell, since we memoized the Preprocessor outputs.
#@labeling_function(pre=[textblob_sentiment])
@labeling_function()
def textblob_subjectivity(x):
    x = getSentiment(x.Review)
    return FRESH if x["subjectivity"] >= 0.5 else ABSTAIN

In [144]:
development_split.show()

+--------------------+---------+
|              Review|Freshness|
+--------------------+---------+
|it wont have much...|        1|
|serenity is a fil...|        1|
| the rare kind of...|        1|
| john fords most ...|        0|
|lampoons ethnocen...|        1|
|everything about ...|        0|
|the talented cast...|        0|
|the film dares it...|        1|
|while all the bri...|        0|
|great fights you ...|        1|
|supremacy is bris...|        1|
| in these linked ...|        1|
| ultimately shopg...|        0|
|at its core harpo...|        1|
|a cloned human is...|        1|
|hitchcock once fa...|        0|
|killerman is the ...|        0|
| arguably one of ...|        1|
|the breezy manner...|        1|
| very nearly as i...|        1|
+--------------------+---------+
only showing top 20 rows

In [145]:
development_split[development_split.Review == ""].count()

0

In [146]:
development_split.select('Freshness').distinct().show(truncate=False)

development_split[development_split.Freshness == None].count()

+---------+
|Freshness|
+---------+
|0        |
|1        |
+---------+

0

In [147]:
lfs = [
       textblob_polarity,
       textblob_subjectivity
      ]

applier = SparkLFApplier(lfs)

sample_L = applier.apply(development_split.rdd)

In [148]:
LFAnalysis(sample_L, lfs).lf_summary()

                       j Polarity  Coverage  Overlaps  Conflicts
textblob_polarity      0      [1]     0.009    0.0055        0.0
textblob_subjectivity  1      [1]     0.567    0.0055        0.0

# Classifier

In [149]:
import pandas as pd
import numpy as np
import nltk
import string

# Spark Environment
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import pyspark

number_cores = 4
memory_gb = 16
conf = (
    pyspark.SparkConf()
        .setMaster('local[{}]'.format(number_cores))
        .set('spark.driver.memory', '{}g'.format(memory_gb))
)
sc = pyspark.SparkContext.getOrCreate(conf=conf)
print(sc)

# get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark) 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

<SparkContext master=local[4] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f0dd9209d30>

In [150]:
# Download files
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

!pip install langid
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
import preproc as pp

# Register all the functions in Preproc with Spark Context
check_lang_udf = udf(pp.check_lang, StringType())
remove_stops_udf = udf(pp.remove_stops, StringType())
remove_features_udf = udf(pp.remove_features, StringType())
tag_and_remove_udf = udf(pp.tag_and_remove, StringType())
lemmatize_udf = udf(pp.lemmatize, StringType())
check_blanks_udf = udf(pp.check_blanks, StringType())

[nltk_data] Downloading package punkt to /home/faculty/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

[nltk_data] Downloading package wordnet to /home/faculty/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

Processing /home/faculty/.cache/pip/wheels/b4/77/b4/b38806c8087e0860cfeabab1f96b60c48346d8db59a9254787/langid-1.1.6-py3-none-any.whl
Requirement already satisfied: numpy in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from langid) (1.18.1)
Installing collected packages: langid
Successfully installed langid-1.1.6

In [217]:
from pyspark.sql.types import IntegerType

# Read the data (Spark)
review_df = development_split

# Rename Column
review_df = review_df.withColumnRenamed('Review','text')
review_df = review_df.withColumnRenamed('Freshness','label')
review_df = review_df.withColumnRenamed('_c0','index')

# Remove Null
review_df = review_df.filter(review_df.label. isNotNull())

# Change data type to Integer
review_df = review_df.withColumn("label", review_df["label"].cast(IntegerType()))

# Show df information
review_df.show()
review_df.printSchema()
review_df.count()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|it wont have much...|    1|
|serenity is a fil...|    1|
| the rare kind of...|    1|
| john fords most ...|    0|
|lampoons ethnocen...|    1|
|everything about ...|    0|
|the talented cast...|    0|
|the film dares it...|    1|
|while all the bri...|    0|
|great fights you ...|    1|
|supremacy is bris...|    1|
| in these linked ...|    1|
| ultimately shopg...|    0|
|at its core harpo...|    1|
|a cloned human is...|    1|
|hitchcock once fa...|    0|
|killerman is the ...|    0|
| arguably one of ...|    1|
|the breezy manner...|    1|
| very nearly as i...|    1|
+--------------------+-----+
only showing top 20 rows

root
 |-- text: string (nullable = true)
 |-- label: integer (nullable = true)

2000

In [218]:
# remove stop words to reduce dimensionality
review_df = review_df.withColumn("text", remove_stops_udf(review_df["text"]))

# remove other non essential words
review_df = review_df.withColumn("text", remove_features_udf(review_df["text"]))

# tag the words remaining and keep only Nouns, Verbs and Adjectives
review_df = review_df.withColumn("text", tag_and_remove_udf(review_df["text"]))

# lemmatization of remaining words to reduce dimensionality & boost measures
review_df = review_df.withColumn("text", lemmatize_udf(review_df["text"]))

review_df.show()

+--------------------+-----+
|                text|label|
+--------------------+-----+
|much cinematic im...|    1|
|serenity film see...|    1|
|rare kind spellbi...|    1|
|john ford complet...|    0|
|lampoon ethnocent...|    1|
|everything benson...|    0|
|talented cast lea...|    0|
|film dare viewer ...|    1|
|bright place rema...|    0|
|great fight would...|    1|
|supremacy pace sc...|    1|
|link vignette yea...|    1|
|shopgirl attracti...|    0|
|core harpoon isnt...|    1|
|clone human creat...|    1|
|hitchcock say goo...|    0|
|killerman story a...|    0|
|important egyptia...|    1|
|breezy manner mus...|    1|
|inventive fascina...|    1|
+--------------------+-----+
only showing top 20 rows

In [198]:
#Specify Training and Test data
training_df = review_df
test_df = sqlContext.read.csv('/project/1000_labels_v2.csv', header=True,sep = '~')
test_df.select('Freshness').distinct().show()
# Rename Column
test_df = test_df.withColumnRenamed('Review','text')
test_df = test_df.withColumnRenamed('Freshness','label')
test_df = test_df.withColumnRenamed('_c0','index')
test_df.show()
# Remove Null
test_df.filter(test_df.label.isNotNull())
# Change data type to Integer
test_df = test_df.withColumn("label", test_df["label"].cast(IntegerType()))


test_df.show()
test_df.printSchema()
test_df.count()

+---------+
|Freshness|
+---------+
|        0|
|        1|
+---------+

+-----+----------+--------------------+-----+
|index|Unnamed: 0|                text|label|
+-----+----------+--------------------+-----+
|    0|         1|A cornball drone ...|    0|
|    1|         3|I don't like impo...|    0|
|    2|         4| The Void marks a...|    1|
|    3|         5|The only way to l...|    0|
|    4|         9| a tame and insul...|    0|
|    5|        10|How sorry can you...|    0|
|    6|        11|"Though not parti...|    1|
|    7|        16|"""Blood"" [chapt...|    1|
|    8|        19|The lack of empat...|    0|
|    9|        21|This modern fanta...|    1|
|   10|        22|The best film I'v...|    0|
|   11|        27| After being surp...|    0|
|   12|        34|  An inert thriller.|    0|
|   13|        35|What cannot be ar...|    1|
|   14|        36|Amid the glut of ...|    1|
|   15|        38|It is ultimately ...|    0|
|   16|        40|I laughed frequen...|    0|
|   17|        42|Fighting with My ...|    1|
|   18|        46|Weinstein walks a...|    1|
|   19|        47|[A] frenetic jumb...|    0|
+-----+----------+--------------------+-----+
only showing top 20 rows

DataFrame[index: string, Unnamed: 0: string, text: string, label: string]

+-----+----------+--------------------+-----+
|index|Unnamed: 0|                text|label|
+-----+----------+--------------------+-----+
|    0|         1|A cornball drone ...|    0|
|    1|         3|I don't like impo...|    0|
|    2|         4| The Void marks a...|    1|
|    3|         5|The only way to l...|    0|
|    4|         9| a tame and insul...|    0|
|    5|        10|How sorry can you...|    0|
|    6|        11|"Though not parti...|    1|
|    7|        16|"""Blood"" [chapt...|    1|
|    8|        19|The lack of empat...|    0|
|    9|        21|This modern fanta...|    1|
|   10|        22|The best film I'v...|    0|
|   11|        27| After being surp...|    0|
|   12|        34|  An inert thriller.|    0|
|   13|        35|What cannot be ar...|    1|
|   14|        36|Amid the glut of ...|    1|
|   15|        38|It is ultimately ...|    0|
|   16|        40|I laughed frequen...|    0|
|   17|        42|Fighting with My ...|    1|
|   18|        46|Weinstein walks a...|    1|
|   19|        47|[A] frenetic jumb...|    0|
+-----+----------+--------------------+-----+
only showing top 20 rows

root
 |-- index: string (nullable = true)
 |-- Unnamed: 0: string (nullable = true)
 |-- text: string (nullable = true)
 |-- label: integer (nullable = true)

999

In [199]:
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
from pyspark.ml import Pipeline
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder
from pyspark.ml.tuning import CrossValidator

# Configure an ML pipeline, which consists of tree stages: tokenizer, hashingTF, and nb.
tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol='words', outputCol="features")
idf = IDF(minDocFreq=3, inputCol="features", outputCol="idf")
nb = NaiveBayes()
pipeline = Pipeline(stages=[tokenizer, hashingTF, idf, nb])


paramGrid = ParamGridBuilder().addGrid(nb.smoothing, [0.0, 1.0]).build()


cv = CrossValidator(estimator=pipeline, 
                    estimatorParamMaps=paramGrid, 
                    evaluator=MulticlassClassificationEvaluator(), 
                    numFolds=4)

# Error
cvModel = cv.fit(training_df)

result = cvModel.transform(test_df)
prediction_df = result.select("text", "label", "prediction")
prediction_df.show()

+--------------------+-----+----------+
|                text|label|prediction|
+--------------------+-----+----------+
|A cornball drone ...|    0|       1.0|
|I don't like impo...|    0|       1.0|
| The Void marks a...|    1|       0.0|
|The only way to l...|    0|       1.0|
| a tame and insul...|    0|       0.0|
|How sorry can you...|    0|       0.0|
|"Though not parti...|    1|       1.0|
|"""Blood"" [chapt...|    1|       1.0|
|The lack of empat...|    0|       1.0|
|This modern fanta...|    1|       1.0|
|The best film I'v...|    0|       1.0|
| After being surp...|    0|       1.0|
|  An inert thriller.|    0|       1.0|
|What cannot be ar...|    1|       1.0|
|Amid the glut of ...|    1|       0.0|
|It is ultimately ...|    0|       0.0|
|I laughed frequen...|    0|       1.0|
|Fighting with My ...|    1|       1.0|
|Weinstein walks a...|    1|       1.0|
|[A] frenetic jumb...|    0|       0.0|
+--------------------+-----+----------+
only showing top 20 rows

In [200]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Evaluate the Accuracy
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction")
evaluator.evaluate(result, {evaluator.metricName: "accuracy"})

0.6446446446446447

# Classifier B

In [222]:
review_df_2.select('Review','predicted_train').show()

+--------------------+---------------+
|              Review|predicted_train|
+--------------------+---------------+
| An excessively c...|              0|
|Osment's the weak...|              1|
|If you want to se...|              1|
|Not only do we ra...|              0|
|You never know wh...|              1|
|There are genuine...|              0|
| ...dissects cont...|              1|
|It's convivial, i...|              1|
|"""Ma"" is poorly...|              0|
|" Balance out the...|              1|
|Shin infuses an i...|              0|
| An unappealing c...|              1|
|It feels like the...|              1|
| The Mummy is the...|              0|
|Sporadically test...|              1|
|Sure, Tracy Olive...|              1|
|James Marsh's Pro...|              1|
|It speaks to its ...|              0|
|The Wedding Guest...|              0|
|A beast of a movi...|              1|
+--------------------+---------------+
only showing top 20 rows

In [219]:
# Read the data (Spark)
review_df_2 = sqlContext.read.csv('/project/12000_predicted_labels.csv', header=True,sep='~')

# Combine with review_df with 2000 labels
review_df = review_df.union(review_df_2)

# Remove Null
review_df = review_df.filter(review_df.predicted_train.isNotNull())

review_df = review_df.withColumnRenamed('Review','text')
review_df = review_df.withColumnRenamed('predicted_train','label')
review_df = review_df.withColumn("label", review_df["label"].cast(IntegerType()))

# remove stop words to reduce dimensionality
review_df = review_df.withColumn("text", remove_stops_udf(review_df["text"]))

# remove other non essential words
review_df = review_df.withColumn("text", remove_features_udf(review_df["text"]))

# tag the words remaining and keep only Nouns, Verbs and Adjectives
review_df = review_df.withColumn("text", tag_and_remove_udf(review_df["text"]))

# lemmatization of remaining words to reduce dimensionality & boost measures
review_df = review_df.withColumn("text", lemmatize_udf(review_df["text"]))

training_df = review_df

training_df.show()
training_df.count()

AnalysisException: "Union can only be performed on tables with the same number of columns, but the first table has 2 columns and the second table has 4 columns;;\n'Union\n:- Project [lemmatize(text#10624) AS text#10628, label#10598]\n:  +- Project [tag_and_remove(text#10620) AS text#10624, label#10598]\n:     +- Project [remove_features(text#10616) AS text#10620, label#10598]\n:        +- Project [remove_stops(text#10590) AS text#10616, label#10598]\n:           +- Project [text#10590, cast(label#10593L as int) AS label#10598]\n:              +- Filter isnotnull(label#10593L)\n:                 +- Project [text#10590, Freshness#1L AS label#10593L]\n:                    +- Project [Review#0 AS text#10590, Freshness#1L]\n:                       +- LogicalRDD [Review#0, Freshness#1L], false\n+- Relation[_c0#10649,Unnamed: 0#10650,Review#10651,predicted_train#10652] csv\n"

In [ ]:
# Configure an ML pipeline, which consists of tree stages: tokenizer, hashingTF, and nb.
tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol='words', outputCol="features")
idf = IDF(minDocFreq=3, inputCol="features", outputCol="idf")
nb = NaiveBayes()
pipeline = Pipeline(stages=[tokenizer, hashingTF, idf, nb])


paramGrid = ParamGridBuilder().addGrid(nb.smoothing, [0.0, 1.0]).build()


cv = CrossValidator(estimator=pipeline, 
                    estimatorParamMaps=paramGrid, 
                    evaluator=MulticlassClassificationEvaluator(), 
                    numFolds=4)

cvModel = cv.fit(training_df)

result = cvModel.transform(test_df)
prediction_df = result.select("text", "label", "prediction")

#Evaluate the accuracy
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction")
evaluator.evaluate(result, {evaluator.metricName: "accuracy"})