# Installing & Imports

#Functions we have so far: 
- Exclusive bad (Katie - delete the words that do not make sense and finish up  )
- Exclusive good (Katie - delete the words that do not make sense and finish up  )
- Exclamation mark (Debbie)
- Question mark (Debbie)
- Capital letters (Debbie)
- too (negative) (Vera)
- far (positive) (Vera)
- n\'t (Hong)
- positive word (Katie)
- negative word (Katie)

In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.2           |   py36heb32a55_0         124 KB
    dask-2.11.0                |             py_0          13 KB
    dask-core-2.11.0           |             py_0         565 KB
    distributed-2.11.0         |           py36_0         943 KB
    gunicorn-20.0.4            |           py36_0         125 KB
    hypothesis-5.5.4           |             py_0         227 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    ncurses-6.2                |       he6710b0_0         1.1 MB
    plotly-4.5.2               |             py_0         1.6 MB
    pytest-astropy-0.8.0       |             py_0           9 KB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following packages will be UPDATED:

  bottleneck                           1.3.1-py36hdd07704_0 --> 1.3.2-py36heb32a55_0
  dask                                          2.10.1-py_0 --> 2.11.0-py_0
  dask-core                                     2.10.1-py_0 --> 2.11.0-py_0
  distributed        pkgs/main/noarch::distributed-2.10.0-~ --> pkgs/main/linux-64::distributed-2.11.0-py36_0
  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  hypothesis                                     5.4.1-py_0 --> 5.5.4-py_0
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  ncurses                                    6.1-he6710b0_1 --> 6.2-he6710b0_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.4.1-py_0 --> 4.5.2-py_0
  pytest-astropy                                 0.7.0-py_0 --> 0.8.0-py_0



Downloading and Extracting Packages
pytest-astropy-0.8.0 | 9 KB      | ##################################### | 100%
distributed-2.11.0   | 943 KB    | ##################################### | 100%
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
ncurses-6.2          | 1.1 MB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
hypothesis-5.5.4     | 227 KB    | ##################################### | 100%
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
dask-2.11.0          | 13 KB     | ##################################### | 100%
dask-core-2.11.0     | 565 KB    | ##################################### | 100%
bottleneck-1.3.2     | 124 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
/ b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hc9558a2_0         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hc9558a2_0
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [5]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import nltk
from itertools import repeat
from nltk.sentiment import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
#Spark 

# # Spark Environment
# import os
# import sys

# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# import pyspark

# number_cores = 4
# memory_gb = 16
# conf = (
#     pyspark.SparkConf()
#         .setMaster('local[{}]'.format(number_cores))
#         .set('spark.driver.memory', '{}g'.format(memory_gb))
# )
# sc = pyspark.SparkContext.getOrCreate(conf=conf)
# print(sc)

# # get the context
# spark = pyspark.sql.SparkSession.builder.getOrCreate()
# print(spark) 

# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)

# Web Scraping

## Browse all from DVD releases page

In [7]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [8]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [9]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/queen_and_slim

Number of movies in list: 32

In [10]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [11]:
len(movie_url_split)

12

In [12]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [13]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [14]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 333
Data columns (total 3 columns):
title     333 non-null object
review    333 non-null object
rating    333 non-null object
dtypes: object(3)
memory usage: 10.4+ KB

In [15]:
df.dropna(inplace=True)
df.head(3)

       title                                             review  rating
0  Frozen II  A distressingly unnecessary (and fairly tediou...  rotten
1  Frozen II  Frozen II is the exact kind of sequel that mor...   fresh
2  Frozen II  [A]n ultimately satisfying story of more matur...   fresh

In [16]:
# Export to CSV files
# df.to_csv('web_scraping_rotten_tomatoes.csv')

# Reading & Preparing TSV file

In [17]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [18]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [19]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [20]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [21]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [22]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [23]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [24]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [25]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 681 to 23827
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [26]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [27]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

                                                   Review  Freshness
72635    Tthe script is clunky, the acting strained. T...          0
359595   Guts, charisma and inventiveness. That's what...          1
196550   As a showcasing of the evolution of such a re...          1
120701   Many feel the film, based on Lipsky's intervi...          1
64348    An orgy of anachronism in a sea of bad action...          0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 72635 to 325690
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [28]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

,Unnamed: 0,title,review,rating
0,0,My Hindu Friend (Meu amigo Hindu),Babenco's cinematic farewell isn't perfect by ...,fresh
1,1,My Hindu Friend (Meu amigo Hindu),This is a good film if you are looking for som...,fresh
2,2,My Hindu Friend (Meu amigo Hindu),"My Hindu Friend is a celebration of life, love...",fresh
3,3,My Hindu Friend (Meu amigo Hindu),I wouldn't miss it; it's a film that's more th...,fresh
4,4,My Hindu Friend (Meu amigo Hindu),"...surreal, reflective (though never sentiment...",fresh

In [29]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

,Unnamed: 0,title,Review,Freshness
2247,2247,Crawl,A relentless thriller with all the right eleme...,1
2631,2631,Between Two Ferns: The Movie,The most important thing you need to know abou...,1
45,45,Close Enemies (Freres Ennemis),The dramatic tension is grim and relentless as...,1
195,195,The Battle of Jangsari,Visceral and sentimental Korean War as fought ...,1
2374,2374,Semper Fi,"Contrived, undercooked and increasingly implau...",0

In [30]:
web_scraping_reviews.head()

                                                 Review Freshness
2247  A relentless thriller with all the right eleme...         1
2631  The most important thing you need to know abou...         1
45    The dramatic tension is grim and relentless as...         1
195   Visceral and sentimental Korean War as fought ...         1
2374  Contrived, undercooked and increasingly implau...         0

# Combining all the data together

In [31]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
72635    Tthe script is clunky, the acting strained. T...         0
359595   Guts, charisma and inventiveness. That's what...         1
196550   As a showcasing of the evolution of such a re...         1
120701   Many feel the film, based on Lipsky's intervi...         1
64348    An orgy of anachronism in a sea of bad action...         0

In [32]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [35]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'])

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 278735 to 436908
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 3827 to 12525
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [38]:
train.head()

                                                   Review  Freshness
278735   ...like the majority of flicks that prominent...          0
3405    ..."Rocko's Modern Life: Static Cling" offers ...          0
16268    And then there's also much ado about an alleg...          0
2729    An unsubtle, fast-moving film with plenty of j...          1
3070    But once you've defined what a "Men In Black a...          0

In [39]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [40]:
test['Freshness'].value_counts()

1    1770
0    1230
Name: Freshness, dtype: int64

In [41]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(2000,random_state=42)
development_split.head()

                                                  Review  Freshness
23248  One of those thrillers that pivots around the ...          0
4277   The characters, none of whom are the slightest...          1
3583      It is beautiful and painful in equal measures.          1
21063          Cage returns to resplendently weird form.          1
72132   A fast-moving swashbuckler with an Arabian Ni...          1

In [42]:
#For finding labelling functions: 
development_split

                                                   Review  Freshness
23248   One of those thrillers that pivots around the ...          0
4277    The characters, none of whom are the slightest...          1
3583       It is beautiful and painful in equal measures.          1
21063           Cage returns to resplendently weird form.          1
72132    A fast-moving swashbuckler with an Arabian Ni...          1
15654   Without the dark spookiness of Crystal Lake Ca...          0
16039   When Molly Ringwald and Annie Potts are onscre...          1
33792   Get On Up delivers the funk, which Brown himse...          1
44351   A well-meaning trifle, earnestly performed but...          0
383472   The American Side never quite adds up to a sa...          1
1611    While the exact events of Rattlesnake might ha...          0
1610    Rattlesnake is a great example of how a film t...          1
436456   There was a time when car movies used to be a...          0
40282   It doesn't have that extra spark required to m...          0
263009   What starts out as a standard documentary pro...          1
7245            The saddles aren't blazing; they're damp.          0
18346   A film that maintains a good pace and knows ho...          1
5396    JT LeRoy is a decent telling of a fascinating,...          1
198     The ensemble cast is very strong, making the m...          1
211980   Reese Witherspoon gives a raw, masterful perf...          1
5289    Sean Nelson is a quiet revelation as the title...          1
305534   The result is a thoughtful, nuanced portrait ...          1
220039   The acting could not be worse than the story,...          0
5141    "Ladies in Black" doesn't aim to overwhelm, an...          1
1687    Many films get the "so bad it's good" comment,...          1
22961    If the monsters weren't in the scene, I kept ...          1
140258   The Mechanic will be a decent time-killer for...          0
4927    It's got a couple of flaws, but I left the the...          1
51988   This is a showcase for her [Parker's] sensitiv...          1
1976    It's really well shot, really well acted, and ...          1
...                                                   ...        ...
2968    Itsy Bitsy is a perfect combination of Hollywo...          1
389668   "Hoodwinked Too," which runs an eternity-risk...          0
1744    Stylishly directed and beautifully shot, The G...          1
4487    Peele crafted a film that successfully follows...          1
52452   This had potential to be something of an actio...          0
3125    Red Joan itself is reportedly based on the sto...          0
51090   In a dominant era for family-friendly animatio...          1
386012   The Oscar talk surrounding It's Complicated i...          0
350490   Moore may simply be preaching to the choir, b...          1
246172   A post-Scream scream, this genre puzzle rearr...          1
368968   There's a certain pleasure to be had in such ...          0
5258    Taiwan's candidate for the U.S. Academy Awards...          1
522     It's not tongue-in-cheek; it means everything ...          1
338838   I love musicals and I was a big fan of Mamma ...          0
245     he tense tedium of hiding from Nazis in rural ...          1
35208                     Retreat as quickly as possible.          0
22462     Informative -- and entertaining -- documentary.          1
83      Come to Daddy oozes Timpson's remarkable devot...          1
117780   An affecting account of the quiet courage nee...          1
36478   Almost immediately, you sense this is going to...          1
2514    Since none of the characters are terribly brig...          0
5860    There's messaging inserted near the start of t...          0
2938    Confirming the supernatural is way more harmle...          1
44535   The most amateurish, inadvertently funny studi...          0
34914   Really great performances... but this inspired...          1
54426   The film lapses too often into sugary sentimen...          0
37895   Still Alice will be remembered for Moore's eff...          1
170990   This sweet story that has been put to film sh...          1
40261    With the awards season swirling around us, Mr...          1
359     The writing and character building are the mov...          0

[2000 rows x 2 columns]

In [43]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [44]:
development_split.to_csv('development_split.csv')

In [45]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [46]:
development_split.head()

                                                  Review  Freshness
23248  One of those thrillers that pivots around the ...          0
4277   The characters, none of whom are the slightest...          1
3583      It is beautiful and painful in equal measures.          1
21063          Cage returns to resplendently weird form.          1
72132   A fast-moving swashbuckler with an Arabian Ni...          1

In [47]:
#Might have to get rid off index?

development_split[development_split['Freshness'] !=1].count()

Review       820
Freshness    820
dtype: int64

In [48]:
development_split['Freshness'].value_counts()

1    1180
0     820
Name: Freshness, dtype: int64

## Split into positive and negative reviews

In [49]:
development_split_fresh = development_split[development_split['Freshness'] == 1]
development_split_rotten = development_split[development_split['Freshness'] == 0]
development_split_fresh.head()
development_split_rotten.head()

                                                  Review  Freshness
4277   The characters, none of whom are the slightest...          1
3583      It is beautiful and painful in equal measures.          1
21063          Cage returns to resplendently weird form.          1
72132   A fast-moving swashbuckler with an Arabian Ni...          1
16039  When Molly Ringwald and Annie Potts are onscre...          1

                                                   Review  Freshness
23248   One of those thrillers that pivots around the ...          0
15654   Without the dark spookiness of Crystal Lake Ca...          0
44351   A well-meaning trifle, earnestly performed but...          0
1611    While the exact events of Rattlesnake might ha...          0
436456   There was a time when car movies used to be a...          0

In [50]:
# fresh reviews 
development_split_fresh.info()
# rotten reviews 
development_split_rotten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1180 entries, 4277 to 40261
Data columns (total 2 columns):
Review       1180 non-null object
Freshness    1180 non-null int64
dtypes: int64(1), object(1)
memory usage: 27.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 820 entries, 23248 to 359
Data columns (total 2 columns):
Review       820 non-null object
Freshness    820 non-null int64
dtypes: int64(1), object(1)
memory usage: 19.2+ KB

## Labelling Functions

## 1. Word occurrences

### Positive Reviews

In [51]:
# Removing punctuation 
def remove_punctuation(dataframe):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in dataframe.Review.str.lower():
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [52]:
#Remove punctuation from fresh reviews & turn into Series
split_fresh= pd.Series(remove_punctuation(development_split_fresh))
split_fresh.head()

0    the characters none of whom are the slightest ...
1        it is beautiful and painful in equal measures
2             cage returns to resplendently weird form
3     a fastmoving swashbuckler with an arabian nig...
4    when molly ringwald and annie potts are onscre...
dtype: object

In [53]:
stopWordList = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves",\
                "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",\
                "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",\
                "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",\
                "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between",\
                "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off",\
                "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any",\
                "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",\
                "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [54]:
#Removing stopwords from fresh

replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_fresh.replace(replacements, regex=True, inplace=True)
split_fresh.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

### Implement lemmatization

In [55]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [56]:
common_words_fresh = split_fresh.str.split(expand=True).stack().value_counts()
common_words_fresh_df = pd.DataFrame(common_words_fresh)
common_words_fresh_df = common_words_fresh_df.rename({0:'Occurence good review'}, axis='columns')
new_common_words_fresh_df = common_words_fresh_df.reset_index()

In [57]:
stem_recount(new_common_words_fresh_df)

                     index  Occurence good review
0                     film                    227
1                     movy                    110
2                       on                    105
3                      lik                     76
4                    story                     72
5                      ful                     63
6                     span                     55
7                   review                     54
8                     good                     51
9                       ev                     48
10                    much                     45
11                 perform                     45
12                     may                     44
13                     mak                     43
14                     mak                     54
15                     too                     40
16                     gre                     39
17                     lif                     39
18                  comedy                     39
19                    film                     37
20                    work                     36
21                  enough                     36
22                    stil                     36
23                     lov                     35
24                   funny                     35
25                     nev                     35
26                    dram                     34
27                     see                     34
28                 charact                     34
29                    ther                     34
...                    ...                    ...
6177                 cattl                      1
6178                  walk                      1
6179             haphazard                      1
6180                  arab                      1
6181                   cue                      1
6182      satisfyingthough                      1
6183       straightforward                      1
6184                 allow                      1
6185                  self                      1
6186               lawless                      1
6187        directorcowrit                      1
6188  storytellingalthough                      1
6189                  valu                      1
6190             outdirect                      1
6191                   mel                      1
6192                  ling                      1
6193            misanthrop                      1
6194                  21st                      1
6195                 chapt                      1
6196                  glor                      1
6197               latesum                      1
6198           hardtoenjoy                      1
6199                  text                      1
6200              likemind                      1
6201                murray                      1
6202              dysfunct                      1
6203                  argo                      1
6204              portrait                      1
6205                   adv                      1
6206                 aspir                      1

[6207 rows x 2 columns]

In [58]:
#Get most common words in positive reviews 
top_common_words_fresh = common_words_fresh_df[common_words_fresh_df['Occurence good review'] >=4]
top_common_words_fresh

               Occurence good review
film                             227
movie                            110
one                              105
like                              76
story                             72
full                              63
spanish                           55
review                            54
good                              51
even                              48
much                              45
performance                       45
may                               44
makes                             43
make                              42
too                               40
great                             39
life                              39
comedy                            39
films                             37
work                              36
enough                            36
still                             36
love                              35
funny                             35
never                             35
drama                             34
see                               34
characters                        34
theres                            34
...                              ...
particularly                       4
pain                               4
thomas                             4
charismatic                        4
tone                               4
delightful                         4
points                             4
captures                           4
writing                            4
holiday                            4
mother                             4
twists                             4
apart                              4
onscreen                           4
artful                             4
focus                              4
concept                            4
hugely                             4
marks                              4
soderbergh                         4
mass                               4
smile                              4
climax                             4
top                                4
gay                                4
main                               4
greatest                           4
john                               4
worthwhile                         4
unforgettable                      4

[801 rows x 1 columns]

### *** EXPLAIN WHY WE DONT USE LEMMATIZATION

<div class="alert alert-success">
<b> Reason for not using Lemmatization </b>

<p>
    Before counting the occurance of words in the movie review, we noticed that inflections in words may result in different occurances and thus generating bias during counting. For example, "enjoy" and "enjoyed" share the same root but would be counted separately if not using Lemmatization.
    </p> 
    
<p>
    The function "stem_recount" takes the root of a word and recounts the occurences. However, it posed a disadvantage of mis-normalizing words into other completely different words. For example, "movie" was identified as "movy", and "like" was identified as "lik". We thought this disadvantage exceeds the benefits of correcting word inflection, so we decided to not implement it.
    </p> 

</div>

### Negative reviews

In [59]:
#Remove punctuation from rotten & turn into Series
split_rotten= pd.Series(remove_punctuation(development_split_rotten))
split_rotten.head()

0    one of those thrillers that pivots around the ...
1    without the dark spookiness of crystal lake ca...
2    a wellmeaning trifle earnestly performed but w...
3    while the exact events of rattlesnake might ha...
4     there was a time when car movies used to be a...
dtype: object

In [60]:
# Removing stopwords from negative reviews
replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_rotten.replace(replacements, regex=True, inplace=True)
split_rotten.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

In [61]:
#Get most common words in negative reviews 

common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
common_words_rotten_df = pd.DataFrame(common_words_rotten)
common_words_rotten_df = common_words_rotten_df.rename({0:'Occurence bad review'}, axis='columns')
top_common_words_rotten = common_words_rotten_df[common_words_rotten_df['Occurence bad review'] >=4]

In [62]:
top_common_words_rotten.head()

       Occurence bad review
film                    128
movie                   104
like                     60
one                      58
too                      56

## Comparison of good and bad reviews

In [63]:
#Compare the two lists 
#--> find out which of the words in the good list only appear in the good movies (and not in the bad movies )

In [64]:
#Attempts before 
#outer join --> displays words that are only in good reviews and only in bad reviews
# top_common_words = pd.concat([top_common_words_fresh, top_common_words_rotten], axis=1)
# top_common_words

#inner join 
# top_common_words = pd.merge(top_common_words_fresh, top_common_words_rotten, left_index=True, right_index=True)
# top_common_words

top_fresh_words_exclusive = top_common_words_fresh.merge(top_common_words_rotten, indicator='i', how='outer', left_index=True,\
                                                         right_index=True).query('i == "left_only"').drop('i', 1)

top_rotten_words_exclusive = top_common_words_rotten.merge(top_common_words_fresh, indicator='i', how='outer', left_index=True,\
                                                           right_index=True).query('i == "left_only"').drop('i', 1)

In [65]:
top_fresh_words_exclusive.head()

            Occurence good review  Occurence bad review
ability                       4.0                   NaN
absolute                      4.0                   NaN
absurd                        6.0                   NaN
accessible                    4.0                   NaN
acted                         5.0                   NaN

In [66]:
top_rotten_words_exclusive.head()

            Occurence bad review  Occurence good review
2                            6.0                    NaN
actual                       4.0                    NaN
adaptation                   4.0                    NaN
allen                        4.0                    NaN
amusing                      5.0                    NaN

In [67]:
#Get only positive words 
top_fresh_words_exclusive_list = top_fresh_words_exclusive['Occurence good review'].index.tolist()
top_fresh_words_exclusive_list

['ability',
 'absolute',
 'absurd',
 'accessible',
 'acted',
 'actor',
 'actress',
 'actually',
 'adams',
 'adds',
 'adults',
 'adventure',
 'alice',
 'allows',
 'along',
 'always',
 'amazing',
 'america',
 'among',
 'amount',
 'anger',
 'animated',
 'animation',
 'anyone',
 'apart',
 'approach',
 'art',
 'artful',
 'astonishing',
 'average',
 'based',
 'battle',
 'beautiful',
 'beautifully',
 'behind',
 'ben',
 'bleak',
 'blend',
 'body',
 'bond',
 'boy',
 'boys',
 'breaks',
 'brilliant',
 'brings',
 'british',
 'broken',
 'call',
 'camera',
 'captivating',
 'captures',
 'career',
 'central',
 'chaotic',
 'charismatic',
 'charming',
 'childhood',
 'children',
 'christmas',
 'cinematography',
 'city',
 'clear',
 'clearly',
 'cleverly',
 'climax',
 'coen',
 'combination',
 'comedies',
 'comic',
 'compassion',
 'complex',
 'complicated',
 'concept',
 'consider',
 'consistently',
 'constructed',
 'contemporary',
 'continues',
 'controlled',
 'conventional',
 'core',
 'country',
 'couple',
 'course',
 'crafted',
 'create',
 'creative',
 'creativity',
 'cross',
 'culture',
 'dark',
 'david',
 'dazzling',
 'debut',
 'deeper',
 'delight',
 'delightful',
 'deliver',
 'delivers',
 'depth',
 'deserves',
 'development',
 'difficult',
 'dig',
 'directing',
 'directors',
 'disappoint',
 'disney',
 'divine',
 'dramatic',
 'dynamic',
 'earnest',
 'ease',
 'easy',
 'edge',
 'editing',
 'effective',
 'effects',
 'embrace',
 'emotion',
 'emotionally',
 'empathy',
 'endearing',
 'ending',
 'engaging',
 'engrossing',
 'enjoy',
 'enjoyable',
 'enjoyed',
 'ensemble',
 'entirely',
 'era',
 'essence',
 'everyone',
 'examination',
 'example',
 'excellent',
 'exciting',
 'existence',
 'expectations',
 'explores',
 'exquisite',
 'eye',
 'face',
 'faces',
 'facts',
 'fair',
 'familiar',
 'fan',
 'fantastic',
 'fantasy',
 'fearless',
 'felt',
 'female',
 'filmmaking',
 'focus',
 'footage',
 'form',
 'found',
 'four',
 'friends',
 'friendship',
 'future',
 'gay',
 'general',
 'generally',
 'generation',
 'genuine',
 'genuinely',
 'girls',
 'gorgeous',
 'grace',
 'greatest',
 'gripping',
 'hallucinatory',
 'happens',
 'haunting',
 'heartfelt',
 'help',
 'hilarious',
 'historical',
 'history',
 'holiday',
 'home',
 'hope',
 'however',
 'hugely',
 'human',
 'humanity',
 'humour',
 'imaginative',
 'imagine',
 'important',
 'impressive',
 'including',
 'incredibly',
 'indie',
 'inspired',
 'inspiring',
 'intelligent',
 'intense',
 'intimate',
 'involving',
 'issue',
 'issues',
 'jackson',
 'james',
 'jason',
 'jaws',
 'job',
 'john',
 'journey',
 'joy',
 'justice',
 'keeps',
 'kick',
 'kids',
 'killing',
 'king',
 'knowing',
 'knows',
 'la',
 'lacks',
 'latest',
 'laugh',
 'lead',
 'lean',
 'leave',
 'left',
 'let',
 'letter',
 'level',
 'light',
 'likely',
 'lives',
 'living',
 'loss',
 'lovely',
 'magical',
 'major',
 'manages',
 'marks',
 'mass',
 'masterful',
 'masterpiece',
 'match',
 'meets',
 'memorable',
 'men',
 'message',
 'michael',
 'middle',
 'mirrors',
 'miss',
 'modest',
 'mood',
 'moore',
 'mother',
 'moves',
 'moving',
 'murder',
 'musical',
 'must',
 'name',
 'natural',
 'nature',
 'neither',
 'netflix',
 'nuanced',
 'offering',
 'oldfashioned',
 'ones',
 'onscreen',
 'oscar',
 'others',
 'paced',
 'packs',
 'pain',
 'particular',
 'parts',
 'perfectly',
 'period',
 'person',
 'personal',
 'perspective',
 'peter',
 'pieces',
 'pitt',
 'play',
 'played',
 'plenty',
 'points',
 'portrait',
 'potential',
 'powerful',
 'predecessor',
 'premise',
 'presence',
 'previous',
 'process',
 'profound',
 'protagonist',
 'proves',
 'provocative',
 'public',
 'punch',
 'pure',
 'put',
 'puts',
 'quality',
 'queen',
 'questions',
 'quiet',
 'quirky',
 'rare',
 'rarely',
 'raw',
 'ready',
 'references',
 'refreshingly',
 'relentless',
 'relevant',
 'remarkable',
 'remarkably',
 'results',
 'reveals',
 'rhythms',
 'richard',
 'riveting',
 'road',
 'robert',
 'rock',
 'rocky',
 'roll',
 'run',
 'scale',
 'scary',
 'school',
 'season',
 'seeing',
 'sequences',
 'serious',
 'sets',
 'sex',
 'sexy',
 'shes',
 'shock',
 'shot',
 'show',
 'side',
 'silly',
 'since',
 'situation',
 'situations',
 'slice',
 'smart',
 'smartest',
 'smile',
 'society',
 'soderbergh',
 'solid',
 'somewhat',
 'sophisticated',
 'sort',
 'soul',
 'space',
 'stand',
 'standard',
 'step',
 'stories',
 'strange',
 'striking',
 'study',
 'stunning',
 'style',
 'sure',
 'surprise',
 'surprising',
 'surprisingly',
 'suspense',
 'suspenseful',
 'sweetness',
 'talented',
 'talking',
 'team',
 'teen',
 'telling',
 'tense',
 'terrific',
 'thanks',
 'theyre',
 'thinking',
 'third',
 'thomas',
 'thoroughly',
 'thoughtful',
 'throughout',
 'tight',
 'timely',
 'title',
 'told',
 'tone',
 'top',
 'touch',
 'touching',
 'tough',
 'tour',
 'tradition',
 'trilogy',
 'trip',
 'true',
 'turning',
 'twists',
 'uncomfortable',
 'understand',
 'understands',
 'unforgettable',
 'unique',
 'unlike',
 'unpretentious',
 'unsettling',
 'utterly',
 'viewing',
 'violent',
 'vision',
 'visual',
 'voice',
 'warm',
 'watchable',
 'welcome',
 'weve',
 'whats',
 'wit',
 'within',
 'wonderful',
 'words',
 'working',
 'works',
 'worlds',
 'worthwhile',
 'worthy',
 'writing',
 'wrong',
 'yes']

In [112]:
#take out the ones that seem to make sense: 
top_fresh_words_exclusive = ['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

top_fresh_words_exclusive

['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

In [69]:
#Get only negative words 
top_rotten_words_exclusive_list = top_rotten_words_exclusive['Occurence bad review'].index.tolist()
top_rotten_words_exclusive_list

['2',
 'actual',
 'adaptation',
 'allen',
 'amusing',
 'aside',
 'attempt',
 'attention',
 'awkward',
 'barely',
 'basically',
 'beyond',
 'bill',
 'bizarre',
 'bland',
 'book',
 'bore',
 'boring',
 'box',
 'buy',
 'car',
 'cares',
 'casting',
 'chemistry',
 'club',
 'clumsy',
 'comedic',
 'crime',
 'decent',
 'detail',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'ends',
 'equally',
 'exercise',
 'fact',
 'failed',
 'fails',
 'figure',
 'flat',
 'forgettable',
 'formula',
 'formulaic',
 'franchise',
 'fully',
 'gags',
 'game',
 'games',
 'generic',
 'getting',
 'guy',
 'hair',
 'hand',
 'hold',
 'hour',
 'house',
 'ideas',
 'impact',
 'inside',
 'irritating',
 'ive',
 'joan',
 'lacking',
 'largely',
 'leads',
 'leaves',
 'leaving',
 'lee',
 'lifeless',
 'luck',
 'manic',
 'memory',
 'missing',
 'monster',
 'needed',
 'nobody',
 'noir',
 'none',
 'novel',
 'obvious',
 'otherwise',
 'painfully',
 'paul',
 'pointless',
 'poorly',
 'possible',
 'probably',
 'problem',
 'quickly',
 'red',
 'romcom',
 'running',
 'runs',
 'scifi',
 'several',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'somehow',
 'somewhere',
 'spectacle',
 'stallone',
 'storyline',
 'succeeds',
 'suffers',
 'superficial',
 'supposed',
 'taking',
 'technical',
 'themes',
 'thought',
 'total',
 'track',
 'try',
 'tv',
 'unfortunately',
 'unfunny',
 'usual',
 'video',
 'view',
 'week',
 'wonder',
 'worked',
 'worst',
 'written',
 'youd',
 'youve']

In [114]:
#take out the ones that seem to make sense: 
top_rotten_words_exclusive = [
 'attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']
top_rotten_words_exclusive

['attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']

## Labelling Function

###  A. Good / bad exclusive words occurrences

In [115]:
ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()
def fresh(x):
    for word in top_fresh_words_exclusive:
        if word in str(x).lower():
            return FRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

@labeling_function()
def rotten(x):
    for word in top_rotten_words_exclusive:
        if word in str(x).lower():
            return NOTFRESH
    return ABSTAIN
#return NOTFRESH if "best" in x.str.lower() else ABSTAIN

In [116]:
lfs = [fresh]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:39<00:00, 50.43it/s]

In [117]:
coverage_fresh = (sample_L != ABSTAIN).mean(axis=0)
print("fresh coverage:{:.1%}".format(coverage_fresh[0]))

fresh coverage:100.0%

In [118]:
lfs = [rotten]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:22<00:00, 87.18it/s]

In [119]:
coverage_rotten = (sample_L != ABSTAIN).mean(axis=0)
print("rotten coverage:{:.1%}".format(coverage_rotten[0]))

rotten coverage:5.2%

### B. Word 'too' occurances

In [76]:
common_words_fresh_df[common_words_fresh_df.index == 'too']

     Occurence good review
too                     40

In [77]:
common_words_rotten_df[common_words_rotten_df.index == 'too']

     Occurence bad review
too                    56

In [78]:
@labeling_function()
def keyword_too(x):
    return NOTFRESH if 'too' in str(x).lower() else ABSTAIN

In [79]:
lfs = [keyword_too]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:00<00:00, 3071.22it/s]

In [80]:
coverage_keyword_too = (sample_L != ABSTAIN).mean(axis=0)
print("keyword too coverage:{:.1%}".format(coverage_keyword_too[0]))

keyword too coverage:1.7%

### C. Word 'far' occurrences

In [81]:
common_words_fresh_df[common_words_fresh_df.index == 'far']

     Occurence good review
far                     12

In [82]:
common_words_rotten_df[common_words_rotten_df.index == 'far']

     Occurence bad review
far                     4

In [83]:
@labeling_function()
def keyword_far(x):
    return FRESH if 'far' in str(x).lower() else ABSTAIN

In [84]:
lfs = [keyword_far]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:00<00:00, 3092.71it/s]

In [85]:
coverage_keyword_far = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_keyword_far[0]))

keyword far coverage:1.0%

### D. "n't" words occurrences

In [86]:
# Word occurancy that with punctuation with it

# Word occurrences dataframe for fresh reviews
development_split_fresh_1 = split_fresh.str.split(expand=True).stack().value_counts()
development_split_fresh_df = pd.DataFrame(development_split_fresh_1).reset_index()

# Words occurrences dataframe for rotten reviews
development_split_rotten_1 = split_rotten.str.split(expand=True).stack().value_counts()
development_split_rotten_df = pd.DataFrame(development_split_rotten_1).reset_index()

### E. Capital words occurrences

In [87]:
# Define function to remove punctuation
def remove_punctuation_capital_letters(dataframe):
    new_words = []
    for word in dataframe.Review:
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [88]:
# Removing punctuation in reviews
fresh_df = pd.DataFrame(pd.Series(remove_punctuation_capital_letters(development_split_fresh))\
                        .str.split(expand=True).stack().value_counts()) # Split review into words

# Capital letters words that are more than 1 character
fresh_capital_letters = [word for word in fresh_df.index if word.isupper() and len(word)>1]
len(fresh_capital_letters)

29

In [89]:
fresh_capital_letters

['US',
 'DC',
 'CGI',
 'THE',
 'TAMI',
 'GM',
 'FMMF',
 'SHAW',
 'LORO',
 'LL',
 'II',
 'PS',
 'TIFF',
 'VCR',
 'SAT',
 'SIXTH',
 'IMAX',
 'NY',
 'VHS',
 'JT',
 'MARRIAGE',
 'STORY',
 'MCU',
 'HOBBS',
 'NASA',
 '3D',
 'TV',
 'SENSE',
 'DIY']

In [90]:
# Removing punctuation in reviews
rotten_df = pd.DataFrame(pd.Series(remove_punctuation_capital_letters(development_split_rotten))\
                        .str.split(expand=True).stack().value_counts()) # Split review into words

# Capital letters words that are more than 1 character
rotten_capital_letters = [word for word in rotten_df.index if word.isupper() and len(word)>1]
len(rotten_capital_letters)

33

In [91]:
rotten_capital_letters

['TV',
 'DMX',
 'MTV',
 'TWILIGHT',
 'ROBOT',
 'XMEN',
 'PTSD',
 'SM',
 'JRR',
 'HBO',
 'FUN',
 'IRS',
 'OK',
 'BBC',
 'MCU',
 'WWII',
 'DC',
 'II',
 'THE',
 '2U',
 '3D',
 'KID',
 'CBBC',
 'CGI',
 'MOM',
 'CBS',
 'DINNER',
 'USA',
 'III',
 'US',
 'CA',
 'OMFG',
 'SUCK']

### F. Occurenes of good & bad words from external list

In [120]:
#Importing good and bad words & preparing for labelling function

In [123]:
#POSITIVE WORDS 
#positive words from --> DON't DELETE! NEED TO CITE PROPERLY http://ptrckprry.com/course/ssd/data/positive-words.txt
positive_word = pd.read_csv('/project/positive_words.csv')

#sample 500 words 
positive_word = positive_word.sample(500)

#convert it into a list 
positive_word= positive_word['a+'].tolist()



#NEGATIVE WORDS 
#negative words from --> HONG?? 
negative_word = pd.read_csv('/project/negative_words.csv')

#sample 500 words 
negative_word = negative_word.sample(500)

#convert it into a list 
negative_word= negative_word['2-faces'].tolist()

In [125]:
@labeling_function()
def negative(x): 
    for word in negative_word:
        if word in str(x).lower():
            return NOTFRESH 
    return ABSTAIN 



@labeling_function()
def positive(x):
    for word in positive_word:
        if word in str(x).lower():
            return FRESH 
    return ABSTAIN

In [126]:
development_split = pd.read_csv('/project/development_split.csv')

lfs = [negative]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [04:59<00:00,  6.68it/s]

In [127]:
sample_L

array([[-1],
       [-1],
       [-1],
       ...,
       [-1],
       [-1],
       [-1]])

In [128]:
coverage_negative = (sample_L != ABSTAIN).mean(axis=0)
print("negative words coverage:{:.1%}".format(coverage_negative[0]))

negative words coverage:9.0%

In [129]:
lfs = [positive]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [04:43<00:00,  7.04it/s]

In [130]:
coverage_positive = (sample_L != ABSTAIN).mean(axis=0)
print("positive words coverage:{:.1%}".format(coverage_positive[0]))

positive words coverage:17.5%

### Labelling Function

## 2. Punctuation occurrences

In [92]:
# Turn review column into Series
development_split_fresh_series = pd.Series(development_split_fresh.Review)
development_split_rotten_series = pd.Series(development_split_rotten.Review)

In [93]:
# Positive reviews
# Split reviews into word
fresh_split = pd.Series(development_split_fresh_series.str.split(expand=True).stack())
fresh_words = [i for i in fresh_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in fresh_words]
fresh_split_words = pd.Series(split_str())

In [94]:
# Negative reviews
# Split reviews into word
rotten_split = pd.Series(development_split_rotten_series.str.split(expand=True).stack())
rotten_words = [i for i in rotten_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in rotten_words]
rotten_split_words = pd.Series(split_str())

In [95]:
# Turn into a flattened list
fresh_flattened_list = [y for x in fresh_split_words for y in x]
rotten_flattened_list = [y for x in rotten_split_words for y in x]

# Count the occurancy of each character
# Positive reviews
fresh_split_characters = pd.Series(fresh_flattened_list).value_counts()
fresh_split_characters = pd.DataFrame(fresh_split_characters).reset_index()

# Negative reviews
rotten_split_characters = pd.Series(rotten_flattened_list).value_counts()
rotten_split_characters = pd.DataFrame(rotten_split_characters).reset_index()

### A. Question mark occurrences

In [96]:
# Count the # of occurance of '?' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '?']

   index   0
62     ?  20

In [97]:
# Count the # of occurance of '?' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '?']

   index   0
52     ?  34

In [98]:
list_with_question_mark = []
for review in development_split_rotten.Review:
    if '?' in review:
        list_with_question_mark.append(review)
        
print (list_with_question_mark[:3])

[' What exactly do we learn about our society? That it is one where just about every celebrity is willing to appear in a Woody Allen film.', 'It feels like all these characters are tiptoeing around certain subject matters for the purpose of prolonging the narrative. Why are they so afraid of asking obvious questions?', ' S-U-C-K! What does this movie do? It sucks! O-M-F-G! It sucks!']

In [99]:
@labeling_function()
def question_mark(x):
    return NOTFRESH if '?' in str(x).lower() else ABSTAIN

In [100]:
lfs = [question_mark]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:00<00:00, 3088.63it/s]

In [101]:
coverage_question_mark = (sample_L != ABSTAIN).mean(axis=0)
print("question mark coverage:{:.1%}".format(coverage_question_mark[0]))

question mark coverage:0.5%

###B. Exclaimation mark occurrences

In [102]:
# Count the # of occurance of '!' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '!']

   index   0
65     !  11

In [103]:
# Count the # of occurance of '!' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '!']

   index  0
65     !  7

In [104]:
@labeling_function()
def exclaimation_mark(x):
    return NOTFRESH if '!' in str(x).lower() else ABSTAIN

In [105]:
lfs = [exclaimation_mark]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|| 2000/2000 [00:00<00:00, 3133.33it/s]

In [106]:
coverage_exclaimation_mark = (sample_L != ABSTAIN).mean(axis=0)
print("exclaimation mark coverage:{:.1%}".format(coverage_exclaimation_mark[0]))

exclaimation mark coverage:0.4%

## Sensitivity Analysis

In [107]:
@preprocessor(memoize=True)
def textblob_sentiment(x):
    scores = TextBlob(str(x))
    x.polarity = scores.sentiment.polarity
    x.subjectivity = scores.sentiment.subjectivity
    return x

In [108]:
@labeling_function(pre=[textblob_sentiment])
def textblob_polarity(x):
    return FRESH if x.polarity > 0.8 else ABSTAIN

In [109]:
@labeling_function(pre=[textblob_sentiment])
def textblob_subjectivity(x):
    return FRESH if x.subjectivity >= 0.5 else ABSTAIN

In [110]:
lfs = [textblob_polarity, textblob_subjectivity]

applier = PandasLFApplier(lfs)
L_sample = applier.apply(development_split)

100%|| 2000/2000 [00:02<00:00, 691.62it/s]

In [111]:
LFAnalysis(L_sample, lfs).lf_summary()

                       j Polarity  Coverage  Overlaps  Conflicts
textblob_polarity      0      [1]     0.027     0.021        0.0
textblob_subjectivity  1      [1]     0.416     0.021        0.0

# Classifier