In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         153 KB
    ------------------------------------------------------------
                                           Total:         153 KB

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> pkgs/main::openssl-1.1.1d-h7b6447c_4

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> pkgs/main
  pandas             conda-forge::pandas-0.24.2-py36hb3f55~ --> pkgs/main::pandas-0.24.2-py36he6710b0_0



Downloading and Extracting Packages
certifi-2019.11.28   | 153 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libprotobuf-3.11.4         |       hd408876_0         2.9 MB
    ninja-1.9.0                |   py36hfd86e86_0         1.2 MB
    protobuf-3.11.4            |   py36he6710b0_0         635 KB
    tqdm-4.42.1                |             py_0          56 KB
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following packages will be UPDATED:

  libprotobuf        conda-forge::libprotobuf-3.11.3-h8b12~ --> pkgs/main::libprotobuf-3.11.4-hd408876_0
  protobuf           conda-forge::protobuf-3.11.3-py36he1b~ --> pkgs/main::protobuf-3.11.4-py36he6710b0_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ninja                conda-forge::ninja-1.10.0-hc9558a2_0 --> pkgs/main::ninja-1.9.0-py36hfd86e86_0
  tqdm                        conda-forge::tqdm-4.43.0-py_0 --> pkgs/main::tqdm-4.42.1-py_0



Downloading and Extracting Packages
libprotobuf-3.11.4   | 2.9 MB    | ##################################### | 100%
tqdm-4.42.1          | 56 KB     | ##################################### | 100%
ninja-1.9.0          | 1.2 MB    | ##################################### | 100%
protobuf-3.11.4      | 635 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         149 KB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0



Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [5]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import pandas as pd

In [6]:
# Read TSV file
reviews_tsv = pd.read_csv('reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [7]:
reviews_tsv.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [8]:
# Extract review and fresh columns
reviews_labelled = pd.DataFrame(reviews_tsv, columns = ['review', 'fresh'])

In [9]:
reviews_labelled.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [10]:
reviews_labelled.isnull().sum()

review    5563
fresh        0
dtype: int64

In [11]:
# drop NaN rows in reviews
index_name = reviews_labelled[(reviews_labelled['review'].isnull())].index
reviews_labelled.drop(index_name, inplace= True)

In [12]:
reviews_labelled.isnull().sum()

review    0
fresh     0
dtype: int64

In [13]:
# rename fresh as 1 and rotten as 0
reviews_labelled['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [14]:
#Rename columns
reviews_labelled.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
reviews_labelled.head()

                                              Review Freshness
0  A distinctly gallows take on contemporary fina...         1
1  It's an allegory in search of a meaning that n...         0
2  ... life lived in a bubble in financial dealin...         1
3  Continuing along a line introduced in last yea...         1
4             ... a perverse twist on neorealism...          1

In [15]:
# Read CSV file
reviews_csv= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
reviews_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480000 entries, 0 to 479999
Data columns (total 2 columns):
Freshness    480000 non-null int64
Review       480000 non-null object
dtypes: int64(1), object(1)
memory usage: 7.3+ MB

In [16]:
# Concat two files into all_reviews
all_reviews=pd.concat([reviews_csv,reviews_labelled],axis=0)
all_reviews.head()

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

  Freshness                                             Review
0         1   Manakamana doesn't answer any questions, yet ...
1         1   Wilfully offensive and powered by a chest-thu...
2         0   It would be difficult to imagine material mor...
3         0   Despite the gusto its star brings to the role...
4         0   If there was a good idea at the core of this ...

In [17]:
all_reviews.shape

(528869, 2)

In [25]:
# Random sample for classifier and weak labelling
sampledata=all_reviews.sample(500, random_state=42)
weaklabel_sampledata = all_reviews.sample(5000, random_state = 42)

In [26]:
sampledata.head()

       Freshness                                             Review
143258         0                            Parental Content Review
462148         1   Director Wayne Wang proves with Maid in Manha...
252505         0   the lack of dramatic development doesn't leav...
354204         1   A riveting documentary that explains educatio...
398815         0   The problem with The Informant!, aside from t...

In [27]:
weaklabel_sampledata.shape

(5000, 2)

In [28]:
sampledata.shape

(500, 2)

In [29]:
sampledata.tail()

       Freshness                                             Review
34268          0   So what is missing? A little of the original'...
138889         0   Bay seemingly relishes in tainting childhood ...
185086         0                 Niccol's metaphor gets silly fast.
31799          0  An uneasy mix of post-modern, self-referential...
305465         0                     A movie with no heart or soul.

In [30]:
sampledata.to_csv('sampledata.csv', index = False)

In [31]:
weaklabel_sampledata.to_csv('weaklabel_sampledata.csv', index = False)