In [8]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [9]:
import pandas as pd 
fresh = pd.read_csv('/project/Debbie/common_words_fresh_df.csv')
fresh = fresh[['index', '0']]

In [10]:
newfresh = stem_recount(fresh)
newfresh.head()

   index   0
0   film  95
1   movy  56
2     on  43
3    lik  35
4  story  32

In [11]:
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32

In [ ]:
@labeling_function()
def too_far_search(x):
    if ['too','far'] in str(x).lower():
        return NOTFRESH
    return ABSTAIN