# Installing & Imports

#Functions we have so far: 
- Exclusive bad (Katie - delete the words that do not make sense and finish up  )
- Exclusive good (Katie - delete the words that do not make sense and finish up  )
- Exclamation mark (Debbie)
- Question mark (Debbie)
- Capital letters (Debbie)
- too (negative) (Vera)
- far (positive) (Vera)
- n\'t (Hong)
- positive word (Katie)
- negative word (Katie)

In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [47]:
pip install py4j

Requirement already satisfied: py4j in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (0.10.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.2           |   py36heb32a55_0         124 KB
    dask-2.11.0                |             py_0          13 KB
    dask-core-2.11.0           |             py_0         565 KB
    distributed-2.11.0         |           py36_0         943 KB
    gunicorn-20.0.4            |           py36_0         125 KB
    hypothesis-5.5.4           |             py_0         227 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    ncurses-6.2                |       he6710b0_0         1.1 MB
    plotly-4.5.2               |             py_0         1.6 MB
    pytest-astropy-0.8.0       |             py_0           9 KB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following packages will be UPDATED:

  bottleneck                           1.3.1-py36hdd07704_0 --> 1.3.2-py36heb32a55_0
  dask                                          2.10.1-py_0 --> 2.11.0-py_0
  dask-core                                     2.10.1-py_0 --> 2.11.0-py_0
  distributed        pkgs/main/noarch::distributed-2.10.0-~ --> pkgs/main/linux-64::distributed-2.11.0-py36_0
  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  hypothesis                                     5.4.1-py_0 --> 5.5.4-py_0
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  ncurses                                    6.1-he6710b0_1 --> 6.2-he6710b0_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.4.1-py_0 --> 4.5.2-py_0
  pytest-astropy                                 0.7.0-py_0 --> 0.8.0-py_0



Downloading and Extracting Packages
hypothesis-5.5.4     | 227 KB    | ##################################### | 100%
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
dask-core-2.11.0     | 565 KB    | ##################################### | 100%
dask-2.11.0          | 13 KB     | ##################################### | 100%
pytest-astropy-0.8.0 | 9 KB      | ##################################### | 100%
distributed-2.11.0   | 943 KB    | ##################################### | 100%
bottleneck-1.3.2     | 124 KB    | ##################################### | 100%
ncurses-6.2          | 1.1 MB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
/ b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [52]:
conda install -c cyclus java-jdk

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - java-jdk


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         153 KB
    java-jdk-8.45.14           |                0       153.6 MB  cyclus
    ------------------------------------------------------------
                                           Total:       153.7 MB

The following NEW packages will be INSTALLED:

  java-jdk           cyclus/linux-64::java-jdk-8.45.14-0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> pkgs/main::openssl-1.1.1d-h7b6447c_4

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> pkgs/main



Downloading and Extracting Packages
java-jdk-8.45.14     | 153.6 MB  | ##################################### | 100%
certifi-2019.11.28   | 153 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hc9558a2_0         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hc9558a2_0
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [5]:
!pip install spacy

Collecting spacy
  Using cached spacy-2.2.3-cp36-cp36m-manylinux1_x86_64.whl (10.4 MB)
Collecting thinc<7.4.0,>=7.3.0
  Using cached thinc-7.3.1-cp36-cp36m-manylinux1_x86_64.whl (2.2 MB)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.18.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (2.22.0)
Collecting cymem<2.1.0,>=2.0.2
  Using cached cymem-2.0.3-cp36-cp36m-manylinux1_x86_64.whl (32 kB)
Collecting catalogue<1.1.0,>=0.0.7
  Using cached catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Collecting blis<0.5.0,>=0.4.0
  Using cached blis-0.4.1-cp36-cp36m-manylinux1_x86_64.whl (3.7 MB)
Collecting plac<1.2.0,>=0.9.6
  Using cached plac-1.1.3-py2.py3-none-any.whl (20 kB)
Collecting preshed<3.1.0,>=3.0.2
  Using cached preshed-3.0.2-cp36-cp36m-manylinux1_x86_64.whl (119 kB)
Collecting wasabi<1.1.0,>=0.4.0
  Using cached wasabi-0.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (45.2.0.post20200210)
Collecting srsly<1.1.0,>=0.1.0
  Using cached srsly-1.0.2-cp36-cp36m-manylinux1_x86_64.whl (185 kB)
Collecting murmurhash<1.1.0,>=0.28.0
  Using cached murmurhash-1.0.2-cp36-cp36m-manylinux1_x86_64.whl (19 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from thinc<7.4.0,>=7.3.0->spacy) (4.43.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.5.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (2.2.0)
Installing collected packages: wasabi, cymem, murmurhash, preshed, blis, srsly, plac, thinc, catalogue, spacy
Successfully installed blis-0.4.1 catalogue-1.0.0 cymem-2.0.3 murmurhash-1.0.2 plac-1.1.3 preshed-3.0.2 spacy-2.2.3 srsly-1.0.2 thinc-7.3.1 wasabi-0.6.0

In [6]:
! python -m spacy download en_core_web_sm

Collecting en_core_web_sm==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz (12.0 MB)
     |████████████████████████████████| 12.0 MB 772 kB/s eta 0:00:01    |██████▎                         | 2.4 MB 772 kB/s eta 0:00:13
Requirement already satisfied: spacy>=2.2.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from en_core_web_sm==2.2.5) (2.2.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.6.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.22.0)
Requirement already satisfied: thinc<7.4.0,>=7.3.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (7.3.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.2)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (45.2.0.post20200210)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.1.3)
Requirement already satisfied: srsly<1.1.0,>=0.1.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.0.3)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.18.1)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from thinc<7.4.0,>=7.3.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (4.43.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.5.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.2.0)
Building wheels for collected packages: en-core-web-sm
  Building wheel for en-core-web-sm (setup.py) ... done
  Created wheel for en-core-web-sm: filename=en_core_web_sm-2.2.5-py3-none-any.whl size=12011738 sha256=280cdd03234ea9954acafed5e9477e8e8e72efdb08520245cb81610289ffea21
  Stored in directory: /tmp/pip-ephem-wheel-cache-6_fqc0lk/wheels/b5/94/56/596daa677d7e91038cbddfcf32b591d0c915a1b3a3e3d3c79d
Successfully built en-core-web-sm
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-2.2.5
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [7]:
!pip install sagemaker_pyspark

Processing /home/faculty/.cache/pip/wheels/14/27/cc/e83fe1e4beb26a2d2c776f3dfdf7a465c544f4edc7dbf67c3d/sagemaker_pyspark-1.2.8-py3-none-any.whl
Processing /home/faculty/.cache/pip/wheels/0b/9f/11/1345c7d24df142160582b83b52f652542e8b708ebf73e13743/pyspark-2.3.2-py2.py3-none-any.whl
Requirement already satisfied: numpy in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from sagemaker_pyspark) (1.18.1)
Requirement already satisfied: py4j==0.10.7 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from pyspark==2.3.2->sagemaker_pyspark) (0.10.7)
Installing collected packages: pyspark, sagemaker-pyspark
  Attempting uninstall: pyspark
    Found existing installation: pyspark 2.4.5
    Uninstalling pyspark-2.4.5:
      Successfully uninstalled pyspark-2.4.5
Successfully installed pyspark-2.3.2 sagemaker-pyspark-1.2.8

In [17]:
import sys
!pip install snorkel
!pip install spacy
!python --version

Requirement already satisfied: snorkel in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (0.9.0)
Requirement already satisfied: scikit-learn<0.22.0,>=0.20.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (0.21.3)
Requirement already satisfied: pandas<0.25.0,>=0.24.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (0.24.2)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.4.1)
Requirement already satisfied: numpy<2.0.0,>=1.16.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.18.1)
Requirement already satisfied: tqdm<5.0.0,>=4.29.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (4.43.0)
Requirement already satisfied: torch<1.2.0,>=1.1.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.1.0)
Requirement already satisfied: networkx<3.0,>=2.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (2.4)
Requirement already satisfied: tensorboardX<2.0,>=1.6 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.9)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from scikit-learn<0.22.0,>=0.20.2->snorkel) (0.14.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from pandas<0.25.0,>=0.24.0->snorkel) (2.8.1)
Requirement already satisfied: pytz>=2011k in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from pandas<0.25.0,>=0.24.0->snorkel) (2019.3)
Requirement already satisfied: decorator>=4.3.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from networkx<3.0,>=2.2->snorkel) (4.4.1)
Requirement already satisfied: six in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from tensorboardX<2.0,>=1.6->snorkel) (1.14.0)
Requirement already satisfied: protobuf>=3.8.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from tensorboardX<2.0,>=1.6->snorkel) (3.11.3)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from protobuf>=3.8.0->tensorboardX<2.0,>=1.6->snorkel) (45.2.0.post20200210)
Requirement already satisfied: spacy in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (2.2.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (3.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (0.6.0)
Requirement already satisfied: thinc<7.4.0,>=7.3.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (7.3.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (2.22.0)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (45.2.0.post20200210)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.18.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.0.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (0.4.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (2.0.3)
Requirement already satisfied: srsly<1.1.0,>=0.1.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.0.2)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from thinc<7.4.0,>=7.3.0->spacy) (4.43.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.5.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (2.2.0)
Python 3.6.10 :: Anaconda, Inc.

In [18]:
from spacy.util import set_data_path

set_data_path('/path/to/spacy/data')

In [24]:
from pyspark import SparkContext, SparkConf
from sagemaker_pyspark import IAMRole, classpath_jars
from sagemaker_pyspark.algorithms import KMeansSageMakerEstimator
import findspark

In [25]:
import logging

import pyspark.sql.functions as F
from pyspark import SparkContext
from pyspark.sql import SQLContext
from snorkel.labeling import LabelModel
from snorkel.labeling.apply.spark import SparkLFApplier

logging.basicConfig(level=logging.INFO)

In [26]:
import sagemaker_pyspark
from pyspark.sql import SparkSession

classpath = ":".join(sagemaker_pyspark.classpath_jars())
spark = SparkSession.builder.config("spark.driver.extraClassPath", classpath).getOrCreate()

In [27]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import nltk
from itertools import repeat
from nltk.sentiment import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
%pip install findspark

import findspark
!insall pyspark

Requirement already satisfied: findspark in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.
/bin/sh: 1: insall: not found

In [29]:
#Spark 

# # Spark Environment
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
import pyspark

number_cores = 4
memory_gb = 16
conf = (
     pyspark.SparkConf()
         .setMaster('local[{}]'.format(number_cores))
         .set('spark.driver.memory', '{}g'.format(memory_gb))
)
sc = pyspark.SparkContext.getOrCreate(conf=conf)
print(sc)

# # get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark) 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

<SparkContext master=local[4] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f9887b53cc0>

In [32]:

from snorkel.labeling.apply.spark import SparkLFApplier

from pyspark import SparkContext 
from pyspark.sql import SQLContext 
import pandas as pd 
sqlc=SQLContext(sc) 
df=pd.read_csv('/project/development_split.csv') 
development_split=sqlc.createDataFrame(df)

# Web Scraping

## Browse all from DVD releases page

In [7]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [8]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [9]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/queen_and_slim

Number of movies in list: 32

In [10]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [11]:
len(movie_url_split)

12

In [12]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [13]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [14]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 333
Data columns (total 3 columns):
title     333 non-null object
review    333 non-null object
rating    333 non-null object
dtypes: object(3)
memory usage: 10.4+ KB

In [15]:
df.dropna(inplace=True)
df.head(3)

       title                                             review  rating
0  Frozen II  A distressingly unnecessary (and fairly tediou...  rotten
1  Frozen II  Frozen II is the exact kind of sequel that mor...   fresh
2  Frozen II  [A]n ultimately satisfying story of more matur...   fresh

In [16]:
# Export to CSV files
# df.to_csv('web_scraping_rotten_tomatoes.csv')

# Reading & Preparing TSV file

In [17]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [18]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [19]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [20]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [21]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [22]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [23]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [24]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [25]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 681 to 23827
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [26]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [27]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

                                                   Review  Freshness
72635    Tthe script is clunky, the acting strained. T...          0
359595   Guts, charisma and inventiveness. That's what...          1
196550   As a showcasing of the evolution of such a re...          1
120701   Many feel the film, based on Lipsky's intervi...          1
64348    An orgy of anachronism in a sea of bad action...          0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 72635 to 325690
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [28]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

,Unnamed: 0,title,review,rating
0,0,My Hindu Friend (Meu amigo Hindu),Babenco's cinematic farewell isn't perfect by ...,fresh
1,1,My Hindu Friend (Meu amigo Hindu),This is a good film if you are looking for som...,fresh
2,2,My Hindu Friend (Meu amigo Hindu),"My Hindu Friend is a celebration of life, love...",fresh
3,3,My Hindu Friend (Meu amigo Hindu),I wouldn't miss it; it's a film that's more th...,fresh
4,4,My Hindu Friend (Meu amigo Hindu),"...surreal, reflective (though never sentiment...",fresh

In [29]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

,Unnamed: 0,title,Review,Freshness
2247,2247,Crawl,A relentless thriller with all the right eleme...,1
2631,2631,Between Two Ferns: The Movie,The most important thing you need to know abou...,1
45,45,Close Enemies (Freres Ennemis),The dramatic tension is grim and relentless as...,1
195,195,The Battle of Jangsari,Visceral and sentimental Korean War as fought ...,1
2374,2374,Semper Fi,"Contrived, undercooked and increasingly implau...",0

In [30]:
web_scraping_reviews.head()

                                                 Review Freshness
2247  A relentless thriller with all the right eleme...         1
2631  The most important thing you need to know abou...         1
45    The dramatic tension is grim and relentless as...         1
195   Visceral and sentimental Korean War as fought ...         1
2374  Contrived, undercooked and increasingly implau...         0

# Combining all the data together

In [31]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
72635    Tthe script is clunky, the acting strained. T...         0
359595   Guts, charisma and inventiveness. That's what...         1
196550   As a showcasing of the evolution of such a re...         1
120701   Many feel the film, based on Lipsky's intervi...         1
64348    An orgy of anachronism in a sea of bad action...         0

In [32]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [35]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'])

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 278735 to 436908
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 3827 to 12525
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [38]:
train.head()

                                                   Review  Freshness
278735   ...like the majority of flicks that prominent...          0
3405    ..."Rocko's Modern Life: Static Cling" offers ...          0
16268    And then there's also much ado about an alleg...          0
2729    An unsubtle, fast-moving film with plenty of j...          1
3070    But once you've defined what a "Men In Black a...          0

In [39]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [40]:
test['Freshness'].value_counts()

1    1770
0    1230
Name: Freshness, dtype: int64

In [41]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(2000,random_state=42)
development_split.head()

                                                  Review  Freshness
23248  One of those thrillers that pivots around the ...          0
4277   The characters, none of whom are the slightest...          1
3583      It is beautiful and painful in equal measures.          1
21063          Cage returns to resplendently weird form.          1
72132   A fast-moving swashbuckler with an Arabian Ni...          1

In [ ]:
#For finding labelling functions: 
development_split

In [43]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [44]:
development_split.to_csv('development_split.csv')

In [45]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [46]:
development_split.head()

                                                  Review  Freshness
23248  One of those thrillers that pivots around the ...          0
4277   The characters, none of whom are the slightest...          1
3583      It is beautiful and painful in equal measures.          1
21063          Cage returns to resplendently weird form.          1
72132   A fast-moving swashbuckler with an Arabian Ni...          1

In [47]:
#Might have to get rid off index?

development_split[development_split['Freshness'] !=1].count()

Review       820
Freshness    820
dtype: int64

In [48]:
development_split['Freshness'].value_counts()

1    1180
0     820
Name: Freshness, dtype: int64

## Split into positive and negative reviews

In [23]:
development_split = pd.read_csv('/project/development_split.csv')

In [24]:
development_split_fresh = development_split[development_split['Freshness'] == 1]
development_split_rotten = development_split[development_split['Freshness'] == 0]
development_split_fresh.head()
development_split_rotten.head()

   Unnamed: 0                                             Review  Freshness
0      188209   A return to form with an incredibly likable c...          1
2      212254   You don't have to be familiar with the Inspec...          1
3        1996  This five-star film takes an alternate route b...          1
6       18338  A suspense film in which the violence is blunt...          1
8      223936   The Program is never less than interesting, a...          1

   Unnamed: 0                                             Review  Freshness
1       43444  like a good-looking blind date who promises di...          0
4       97135   When a movie features two spit takes in the f...          0
5       10938  The Darkest Minds never communicates the overw...          0
7        6091  Mostly, Generations spends its running length ...          0
9        5574  But much like the Playmobil toys, with their p...          0

In [25]:
# fresh reviews 
development_split_fresh.info()
# rotten reviews 
development_split_rotten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1998
Data columns (total 3 columns):
Unnamed: 0    1174 non-null int64
Review        1174 non-null object
Freshness     1174 non-null int64
dtypes: int64(2), object(1)
memory usage: 36.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 826 entries, 1 to 1999
Data columns (total 3 columns):
Unnamed: 0    826 non-null int64
Review        826 non-null object
Freshness     826 non-null int64
dtypes: int64(2), object(1)
memory usage: 25.8+ KB

## Labelling Functions

## 1. Word occurrences

### Positive Reviews

In [26]:
# Removing punctuation 
def remove_punctuation(dataframe):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in dataframe.Review.str.lower():
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [27]:
#Remove punctuation from fresh reviews & turn into Series
split_fresh= pd.Series(remove_punctuation(development_split_fresh))
split_fresh.head()

0     a return to form with an incredibly likable cast
1     you dont have to be familiar with the inspect...
2    this fivestar film takes an alternate route by...
3    a suspense film in which the violence is blunt...
4     the program is never less than interesting an...
dtype: object

In [28]:
stopWordList = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves",\
                "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",\
                "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",\
                "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",\
                "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between",\
                "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off",\
                "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any",\
                "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",\
                "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [29]:
#Removing stopwords from fresh

replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_fresh.replace(replacements, regex=True, inplace=True)
split_fresh.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

### Implement lemmatization

In [30]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [31]:
common_words_fresh = split_fresh.str.split(expand=True).stack().value_counts()
common_words_fresh_df = pd.DataFrame(common_words_fresh)
common_words_fresh_df = common_words_fresh_df.rename({0:'Occurence good review'}, axis='columns')
new_common_words_fresh_df = common_words_fresh_df.reset_index()

In [32]:
stem_recount(new_common_words_fresh_df)

            index  Occurence good review
0            film                    240
1            movy                    149
2              on                     88
3           story                     86
4             ful                     62
5             lik                     56
6            span                     51
7          review                     51
8            good                     49
9              ev                     49
10            fun                     46
11           film                     45
12         comedy                     44
13            way                     44
14           best                     42
15            tim                     41
16           much                     38
17             us                     38
18         direct                     36
19           stil                     36
20          funny                     35
21            too                     35
22         doesnt                     34
23            lov                     34
24            mak                     34
25           also                     33
26           dram                     33
27            new                     33
28            may                     32
29        charact                     32
...           ...                    ...
6145       careen                      1
6146         spar                      1
6147          lyr                      1
6148         titl                      1
6149     distinct                      1
6150      fairway                      1
6151        gelid                      1
6152          wan                      1
6153       inflam                      1
6154  lightweight                      1
6155          gut                      1
6156        riley                      1
6157         film                      1
6158       resolv                      1
6159        seven                      1
6160         jump                      1
6161          pel                      1
6162        doubt                      1
6163     daytoday                      1
6164      craftsm                      1
6165   selfacceiv                      1
6166         fasc                      1
6167           ex                      1
6168       formul                      1
6169        petit                      1
6170       larson                      1
6171         swag                      1
6172          wel                      1
6173         hono                      1
6174         ench                      1

[6175 rows x 2 columns]

In [33]:
#Get most common words in positive reviews 
top_common_words_fresh = common_words_fresh_df[common_words_fresh_df['Occurence good review'] >=4]
top_common_words_fresh

            Occurence good review
film                          195
movie                         117
one                            88
story                          86
full                           62
like                           56
spanish                        51
review                         51
good                           49
even                           49
fun                            46
films                          45
comedy                         44
way                            44
best                           42
time                           41
much                           38
us                             38
director                       36
still                          36
funny                          35
too                            35
doesnt                         34
love                           34
make                           34
also                           33
drama                          33
new                            33
may                            32
characters                     32
...                           ...
mary                            4
mars                            4
tricky                          4
battle                          4
lucas                           4
reasons                         4
roots                           4
effect                          4
decades                         4
bigger                          4
clear                           4
palma                           4
youve                           4
purpose                         4
youth                           4
results                         4
cannot                          4
act                             4
cute                            4
home                            4
greatness                       4
fantasy                         4
dan                             4
appealing                       4
usual                           4
vision                          4
justice                         4
joyful                          4
creativity                      4
forgotten                       4

[819 rows x 1 columns]

### *** EXPLAIN WHY WE DONT USE LEMMATIZATION

<div class="alert alert-success">
<b> Reason for not using Lemmatization </b>

<p>
    Before counting the occurance of words in the movie review, we noticed that inflections in words may result in different occurances and thus generating bias during counting. For example, "enjoy" and "enjoyed" share the same root but would be counted separately if not using Lemmatization.
    </p> 
    
<p>
    The function "stem_recount" takes the root of a word and recounts the occurences. However, it posed a disadvantage of mis-normalizing words into other completely different words. For example, "movie" was identified as "movy", and "like" was identified as "lik". We thought this disadvantage exceeds the benefits of correcting word inflection, so we decided to not implement it.
    </p> 

</div>

### Negative reviews

In [34]:
#Remove punctuation from rotten & turn into Series
split_rotten= pd.Series(remove_punctuation(development_split_rotten))
split_rotten.head()

0    like a goodlooking blind date who promises din...
1     when a movie features two spit takes in the f...
2    the darkest minds never communicates the overw...
3    mostly generations spends its running length s...
4    but much like the playmobil toys with their po...
dtype: object

In [35]:
# Removing stopwords from negative reviews
replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_rotten.replace(replacements, regex=True, inplace=True)
split_rotten.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

In [36]:
#Get most common words in negative reviews 

common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
common_words_rotten_df = pd.DataFrame(common_words_rotten)
common_words_rotten_df = common_words_rotten_df.rename({0:'Occurence bad review'}, axis='columns')
top_common_words_rotten = common_words_rotten_df[common_words_rotten_df['Occurence bad review'] >=4]

In [37]:
top_common_words_rotten.head()

       Occurence bad review
film                    121
movie                    94
like                     65
too                      56
one                      55

## Comparison of good and bad reviews

In [38]:
#Compare the two lists 
#--> find out which of the words in the good list only appear in the good movies (and not in the bad movies )

In [39]:
#Attempts before 
#outer join --> displays words that are only in good reviews and only in bad reviews
# top_common_words = pd.concat([top_common_words_fresh, top_common_words_rotten], axis=1)
# top_common_words

#inner join 
# top_common_words = pd.merge(top_common_words_fresh, top_common_words_rotten, left_index=True, right_index=True)
# top_common_words

top_fresh_words_exclusive = top_common_words_fresh.merge(top_common_words_rotten, indicator='i', how='outer', left_index=True,\
                                                         right_index=True).query('i == "left_only"').drop('i', 1)

top_rotten_words_exclusive = top_common_words_rotten.merge(top_common_words_fresh, indicator='i', how='outer', left_index=True,\
                                                           right_index=True).query('i == "left_only"').drop('i', 1)

In [40]:
top_fresh_words_exclusive.head()

            Occurence good review  Occurence bad review
2019                          6.0                   NaN
absolutely                    5.0                   NaN
absorbing                     4.0                   NaN
absurd                        5.0                   NaN
absurdity                     4.0                   NaN

In [41]:
top_rotten_words_exclusive.head()

          Occurence bad review  Occurence good review
actual                     4.0                    NaN
adam                       4.0                    NaN
approach                   6.0                    NaN
attempt                    4.0                    NaN
awful                      4.0                    NaN

In [42]:
#Get only positive words 
top_fresh_words_exclusive_list = top_fresh_words_exclusive['Occurence good review'].index.tolist()
top_fresh_words_exclusive_list

['2019',
 'absolutely',
 'absorbing',
 'absurd',
 'absurdity',
 'across',
 'acting',
 'actor',
 'adults',
 'adventure',
 'affecting',
 'age',
 'aimee',
 'alien',
 'allen',
 'allows',
 'amazing',
 'ambitious',
 'america',
 'among',
 'amusing',
 'angst',
 'animated',
 'animation',
 'anyone',
 'appeal',
 'appealing',
 'art',
 'atmospheric',
 'audiences',
 'awkward',
 'baseball',
 'battle',
 'beats',
 'beautiful',
 'beautifully',
 'beauty',
 'become',
 'behind',
 'believe',
 'bet',
 'bigger',
 'bill',
 'biopic',
 'bizarre',
 'body',
 'bold',
 'bond',
 'bourne',
 'brian',
 'bright',
 'brilliant',
 'bringing',
 'brings',
 'brothers',
 'brutal',
 'build',
 'bythenumbers',
 'came',
 'cannot',
 'career',
 'central',
 'certain',
 'change',
 'charm',
 'chief',
 'childhood',
 'chilling',
 'cinematography',
 'city',
 'class',
 'classic',
 'clearly',
 'clift',
 'close',
 'coen',
 'combination',
 'comedic',
 'comingofage',
 'commentary',
 'committed',
 'complex',
 'conclusion',
 'consistently',
 'contemporary',
 'conventions',
 'cool',
 'costume',
 'crafted',
 'create',
 'created',
 'creativity',
 'crime',
 'culture',
 'current',
 'cut',
 'cynical',
 'damn',
 'dan',
 'dance',
 'dark',
 'date',
 'david',
 'dazzling',
 'debut',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightfully',
 'deliver',
 'delivered',
 'delivers',
 'depth',
 'details',
 'difficult',
 'direction',
 'disney',
 'display',
 'disturbing',
 'dog',
 'done',
 'door',
 'doubt',
 'early',
 'easily',
 'easy',
 'eccentric',
 'edge',
 'editing',
 'effect',
 'effective',
 'effects',
 'elements',
 'elevate',
 'emotion',
 'emotionally',
 'emotions',
 'empathy',
 'energetic',
 'engaging',
 'enjoy',
 'enjoyable',
 'ensemble',
 'entertain',
 'entire',
 'entirely',
 'essential',
 'example',
 'excellent',
 'exercise',
 'explores',
 'extremely',
 'eye',
 'eyes',
 'face',
 'fact',
 'fairly',
 'families',
 'fantastic',
 'fascination',
 'fast',
 'father',
 'features',
 'female',
 'feminist',
 'fight',
 'filled',
 'filmmaker',
 'finally',
 'finding',
 'fine',
 'finely',
 'finest',
 'flair',
 'focus',
 'footage',
 'forgotten',
 'form',
 'forward',
 'found',
 'frame',
 'frequently',
 'friendship',
 'future',
 'generally',
 'generation',
 'generous',
 'genuinely',
 'girl',
 'gone',
 'greatest',
 'greatness',
 'green',
 'grim',
 'gripping',
 'gritty',
 'grotesque',
 'happen',
 'happy',
 'havent',
 'heartbreaking',
 'heartfelt',
 'heavyhanded',
 'hell',
 'help',
 'helps',
 'heroes',
 'high',
 'highly',
 'hilarious',
 'honest',
 'hope',
 'house',
 'however',
 'human',
 'humanity',
 'humour',
 'images',
 'imagination',
 'impact',
 'impossible',
 'impressive',
 'including',
 'increasingly',
 'incredibly',
 'insightful',
 'intellectual',
 'intelligent',
 'interviews',
 'intimate',
 'issue',
 'issues',
 'jacksons',
 'job',
 'josh',
 'journey',
 'joy',
 'joyful',
 'justice',
 'keeping',
 'keeps',
 'key',
 'kid',
 'known',
 'knows',
 'land',
 'language',
 'latest',
 'laugh',
 'lead',
 'leave',
 'leaving',
 'let',
 'lies',
 'likely',
 'line',
 'lives',
 'living',
 'looking',
 'loose',
 'lucas',
 'magic',
 'major',
 'manages',
 'mars',
 'marvel',
 'mary',
 'masterful',
 'masterpiece',
 'matter',
 'means',
 'memory',
 'men',
 'mental',
 'mesmerizing',
 'middle',
 'mind',
 'miss',
 'mix',
 'modern',
 'monster',
 'mood',
 'moore',
 'moral',
 'mother',
 'move',
 'moving',
 'murder',
 'murray',
 'music',
 'musical',
 'mystery',
 'national',
 'nature',
 'netflix',
 'nice',
 'noir',
 'odd',
 'ode',
 'offer',
 'ok',
 'oldfashioned',
 'pace',
 'palma',
 'part',
 'particular',
 'parts',
 'path',
 'pathos',
 'perfect',
 'perfection',
 'perfectly',
 'perhaps',
 'period',
 'personal',
 'perspective',
 'peter',
 'places',
 'pleasant',
 'plenty',
 'politics',
 'portrait',
 'portrayal',
 'power',
 'powerful',
 'primal',
 'production',
 'profound',
 'proves',
 'provides',
 'provocative',
 'psychological',
 'pull',
 'pulls',
 'pure',
 'purpose',
 'pursuit',
 'putting',
 'quality',
 'quest',
 'quiet',
 'rare',
 'raw',
 'reach',
 'ready',
 'reallife',
 'reasons',
 'recent',
 'refreshing',
 'relationship',
 'remains',
 'remarkable',
 'remember',
 'represents',
 'result',
 'results',
 'reveals',
 'revenge',
 'rewarding',
 'rhythms',
 'rich',
 'ride',
 'rise',
 'romance',
 'romp',
 'room',
 'roots',
 'satisfying',
 'saw',
 'school',
 'scifi',
 'score',
 'season',
 'secret',
 'seeing',
 'sequences',
 'serves',
 'shes',
 'shock',
 'shot',
 'showcase',
 'showing',
 'shows',
 'significant',
 'since',
 'sister',
 'situation',
 'skin',
 'slightly',
 'smart',
 'smarter',
 'smith',
 'social',
 'society',
 'solid',
 'somewhat',
 'son',
 'sophisticated',
 'soul',
 'sound',
 'space',
 'sparks',
 'spirit',
 'stage',
 'star',
 'starring',
 'state',
 'steve',
 'stop',
 'strong',
 'study',
 'stunning',
 'subtle',
 'succeeds',
 'successful',
 'summer',
 'superhero',
 'sure',
 'surprise',
 'surprisingly',
 'surreal',
 'survival',
 'taking',
 'talented',
 'talents',
 'target',
 'telling',
 'tells',
 'tender',
 'terrific',
 'thanks',
 'themes',
 'thinking',
 'thoroughly',
 'thought',
 'thoughtful',
 'throughout',
 'told',
 'top',
 'touching',
 'tough',
 'toy',
 'tragedy',
 'tricky',
 'trip',
 'tropes',
 'turning',
 'twists',
 'unexpected',
 'unique',
 'universe',
 'uses',
 'usual',
 'view',
 'viewing',
 'violent',
 'visuals',
 'voice',
 'warm',
 'watchable',
 'ways',
 'wellacted',
 'whats',
 'wit',
 'within',
 'witty',
 'wonder',
 'wonderful',
 'wonderfully',
 'wont',
 'working',
 'worlds',
 'wouldnt',
 'writing',
 'written',
 'yesterday',
 'youth',
 'youve']

In [43]:
#take out the ones that seem to make sense: 
top_fresh_words_exclusive = ['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

top_fresh_words_exclusive

['absolutely',
 'addition',
 'adventure',
 'affectionate',
 'amazing',
 'ambition',
 'art',
 'artist',
 'arts',
 'atmosphere',
 'attractive',
 'awards',
 'balance',
 'beautiful',
 'beautifully',
 'beauty',
 'bond',
 'bright',
 'brilliant',
 'captivating',
 'captures',
 'celebration',
 'charm',
 'charming',
 'christmas',
 'classic',
 'clever',
 'committed',
 'consistently',
 'contemporary',
 'conventional',
 'convincingly',
 'creates',
 'creating',
 'crowdpleaser',
 'cult',
 'decade',
 'decades',
 'deep',
 'deeper',
 'deeply',
 'definitely',
 'delightful',
 'delightfully',
 'depth',
 'deserves',
 'design',
 'details',
 'different',
 'diverse',
 'dramatic',
 'early',
 'elegant',
 'emotionally',
 'engaging',
 'enjoyable',
 'enjoyed',
 'equal',
 'especially',
 'exploration',
 'extraordinary',
 'extremely',
 'familiar',
 'famous',
 'fan',
 'fantastic',
 'fantasy',
 'fascinating',
 'felt',
 'filled',
 'finest',
 'frank',
 'fresh',
 'friends',
 'friendship',
 'gags',
 'gorgeous',
 'grand',
 'happy',
 'heart',
 'hilarious',
 'honest',
 'hope',
 'huge',
 'impact',
 'insightful',
 'inspiring',
 'intelligent',
 'intense',
 'intrigue',
 'joy',
 'laugh',
 'loved',
 'mature',
 'mind',
 'mystery',
 'nostalgia',
 'novel',
 'opening',
 'passion',
 'perfect',
 'performers',
 'personal',
 'pleasure',
 'poignant',
 'power',
 'powerful',
 'precisely',
 'profound',
 'project',
 'proves',
 'provide',
 'provocative',
 'psychological',
 'quality',
 'remarkable',
 'reveals',
 'rich',
 'riveting',
 'satisfying',
 'sharp',
 'simple',
 'smart',
 'smile',
 'stunning',
 'succeeds',
 'supernatural',
 'surprise',
 'surprises',
 'surprising',
 'surprisingly',
 'sweet',
 'talents',
 'thoughtful',
 'thrills',
 'touch',
 'touching',
 'tragedy',
 'tragic',
 'tribute',
 'unique',
 'universal',
 'warm',
 'watchable',
 'welcome',
 'wit',
 'witty',
 'wonderful',
 'worthwhile',
 'worthy']

In [44]:
#Get only negative words 
top_rotten_words_exclusive_list = top_rotten_words_exclusive['Occurence bad review'].index.tolist()
top_rotten_words_exclusive_list

['actual',
 'adam',
 'approach',
 'attempt',
 'awful',
 'believable',
 'bgrade',
 'bland',
 'boring',
 'building',
 'care',
 'cash',
 'chainsaw',
 'christmas',
 'clichés',
 'climax',
 'clumsy',
 'comic',
 'confusing',
 'content',
 'contrived',
 'critters',
 'designed',
 'desperate',
 'development',
 'dull',
 'effort',
 'else',
 'ending',
 'energy',
 'epic',
 'equivalent',
 'especially',
 'eventually',
 'everyone',
 'execution',
 'fails',
 'failure',
 'flat',
 'flick',
 'forgettable',
 'frustrating',
 'fully',
 'gags',
 'generic',
 'getting',
 'giving',
 'got',
 'guy',
 'half',
 'hanks',
 'happens',
 'hardly',
 'holds',
 'hours',
 'identity',
 'ingredients',
 'insight',
 'james',
 'lacks',
 'left',
 'length',
 'lifetime',
 'loud',
 'manner',
 'mean',
 'meaning',
 'meaningful',
 'melodrama',
 'mess',
 'minutes',
 'misses',
 'na',
 'name',
 'needs',
 'night',
 'none',
 'obsession',
 'obvious',
 'opportunity',
 'overall',
 'paper',
 'particularly',
 'possible',
 'premise',
 'presence',
 'problem',
 'promising',
 'questions',
 'quickly',
 'reason',
 'relationships',
 'release',
 'respect',
 'romcom',
 'running',
 'sadly',
 'scares',
 'second',
 'seem',
 'seemed',
 'seriously',
 'setting',
 'shouldnt',
 'sight',
 'simple',
 'somehow',
 'source',
 'spends',
 'stale',
 'sticks',
 'studio',
 'stuff',
 'substance',
 'suffers',
 'suggest',
 'supporting',
 'surface',
 'terms',
 'theatrical',
 'third',
 'tries',
 'try',
 'trying',
 'turned',
 'tv',
 'twist',
 'typical',
 'unfortunately',
 'version',
 'video',
 'wanted',
 'wants',
 'watched',
 'welcome',
 'western',
 'worst']

In [45]:
#take out the ones that seem to make sense: 
top_rotten_words_exclusive = [
 'attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']
top_rotten_words_exclusive

['attempt',
 'awkward',
 'barely',
 'basically',
 'bizarre',
 'bland',
 'boring',
 'clumsy',
 'comedic',
 'disappointing',
 'disappointingly',
 'disappointment',
 'disaster',
 'dull',
 'effort',
 'failed',
 'fails',
 'generic',
 'irritating',
 'lacking',
 'manic',
 'missing',
 'nobody',
 'noir',
 'none',
 'painfully',
 'pointless',
 'poorly',
 'problem',
 'shallow',
 'shame',
 'sloppy',
 'slow',
 'suffers',
 'superficial',
 'try',
 'unfortunately',
 'unfunny',
 'worst']

## Labelling Function

###  A. Good / bad exclusive words occurrences

In [46]:
ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()
def fresh(x):
    for word in top_fresh_words_exclusive:
        if word in str(x).lower():
            return FRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

@labeling_function()
def rotten(x):
    for word in top_rotten_words_exclusive:
        if word in str(x).lower():
            return NOTFRESH
    return ABSTAIN
#return NOTFRESH if "best" in x.str.lower() else ABSTAIN

In [47]:
lfs = [fresh]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 2000/2000 [00:41<00:00, 47.79it/s]

In [48]:
coverage_fresh = (sample_L != ABSTAIN).mean(axis=0)
print("fresh coverage:{:.1%}".format(coverage_fresh[0]))

fresh coverage:100.0%

In [49]:
lfs = [rotten]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 2000/2000 [00:23<00:00, 84.19it/s]

In [50]:
coverage_rotten = (sample_L != ABSTAIN).mean(axis=0)
print("rotten coverage:{:.1%}".format(coverage_rotten[0]))

rotten coverage:5.0%

### B. Word 'too' occurances

In [51]:
common_words_fresh_df[common_words_fresh_df.index == 'too']

     Occurence good review
too                     35

In [52]:
common_words_rotten_df[common_words_rotten_df.index == 'too']

     Occurence bad review
too                    56

In [53]:
@labeling_function()
def keyword_too(x):
    return NOTFRESH if 'too' in str(x).lower() else ABSTAIN

In [54]:
lfs = [keyword_too]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 2000/2000 [00:00<00:00, 2915.78it/s]

In [55]:
coverage_keyword_too = (sample_L != ABSTAIN).mean(axis=0)
print("keyword too coverage:{:.1%}".format(coverage_keyword_too[0]))

keyword too coverage:1.8%

### C. Word 'far' occurrences

In [56]:
common_words_fresh_df[common_words_fresh_df.index == 'far']

     Occurence good review
far                     15

In [57]:
common_words_rotten_df[common_words_rotten_df.index == 'far']

     Occurence bad review
far                    12

In [58]:
@labeling_function()
def keyword_far(x):
    return FRESH if 'far' in str(x).lower() else ABSTAIN

In [59]:
lfs = [keyword_far]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 2000/2000 [00:00<00:00, 2942.69it/s]

In [60]:
coverage_keyword_far = (sample_L != ABSTAIN).mean(axis=0)
print("keyword far coverage:{:.1%}".format(coverage_keyword_far[0]))

keyword far coverage:1.1%

### D. "n't" words occurrences

In [61]:
# Word occurancy that with punctuation with it

# Word occurrences dataframe for fresh reviews
development_split_fresh_1 = (development_split_fresh.Review).str.split(expand=True).stack().value_counts()
development_split_fresh_df = pd.DataFrame(development_split_fresh_1).reset_index()

# Words occurrences dataframe for rotten reviews
development_split_rotten_1 = (development_split_rotten.Review).str.split(expand=True).stack().value_counts()
development_split_rotten_df = pd.DataFrame(development_split_rotten_1).reset_index()

In [62]:
fresh_not_word = []
for word in development_split_fresh_df['index']:
    if 'n\'t' in word:
        fresh_not_word.append(word)

In [63]:
fresh_not_word

["doesn't",
 "isn't",
 "don't",
 "can't",
 "won't",
 "aren't",
 "haven't",
 "didn't",
 "wouldn't",
 "Don't",
 "shouldn't",
 "doesn't.",
 "aren't?",
 "hasn't",
 "wasn't",
 "don't.)",
 "doesn't,",
 "hadn't",
 "is-he-or-isn't-he",
 "doesn't?",
 "haven't.",
 "isn't."]

In [64]:
len(fresh_not_word)

22

In [65]:
rotten_not_word = []
for word in development_split_rotten_df['index']:
    if 'n\'t' in word:
        rotten_not_word.append(word)

In [66]:
len(rotten_not_word)

22

In [67]:
rotten_not_word

["doesn't",
 "isn't",
 "don't",
 "can't",
 "didn't",
 "aren't",
 "shouldn't",
 "won't",
 "wouldn't",
 "Don't",
 "couldn't",
 "wasn't",
 "weren't",
 "hadn't",
 "Doesn't",
 "oh-no-they-didn't",
 "didn't.",
 "story-doesn't",
 "Isn't",
 "can't,",
 "isn't.",
 "ain't."]

### E. Capital words occurrences

In [68]:
# Define function to remove punctuation
def remove_punctuation_capital_letters(dataframe):
    new_words = []
    for word in dataframe.Review:
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [69]:
# Removing punctuation in reviews
fresh_df = pd.DataFrame(pd.Series(remove_punctuation_capital_letters(development_split_fresh))\
                        .str.split(expand=True).stack().value_counts()) # Split review into words

# Capital letters words that are more than 1 character
fresh_capital_letters = [word for word in fresh_df.index if word.isupper() and len(word)>1]
len(fresh_capital_letters)

42

In [70]:
fresh_capital_letters

['OK',
 'THE',
 'MCU',
 'JT',
 'WWII',
 'DC',
 'US',
 'TV',
 'III',
 'WINDTHE',
 'BATMAN',
 'ESCAPE',
 'QC',
 'CGI',
 'SENTIMENTALITE',
 'GBH',
 'NOT',
 'II',
 'AOK',
 'MO',
 'WWE',
 '5SF',
 'DVD',
 'DOOM',
 'HUSH',
 'PRIMER',
 'NO',
 'EMPATHY',
 'WITCH',
 'VFW',
 'FROM',
 'DIY',
 'LOTR',
 'BFG3000',
 'CIA',
 'TOMORROW',
 'INC',
 'SM',
 'T2',
 '3D',
 'ITS',
 '2U']

In [71]:
# Removing punctuation in reviews
rotten_df = pd.DataFrame(pd.Series(remove_punctuation_capital_letters(development_split_rotten))\
                        .str.split(expand=True).stack().value_counts()) # Split review into words

# Capital letters words that are more than 1 character
rotten_capital_letters = [word for word in rotten_df.index if word.isupper() and len(word)>1]
len(rotten_capital_letters)

20

In [72]:
rotten_capital_letters

['TV',
 'II',
 '3D',
 'CGI',
 'WWE',
 'KILLERMAN',
 'VOD',
 '2U',
 'US',
 'SHOCKING',
 'AARP',
 'PSA',
 'HBO',
 'DMX',
 'LA',
 'ESPN',
 'SHAZAM',
 'OK',
 'NBC',
 'PG13']

In [73]:
@labeling_function()
def capital_letter(x):
    if word.isupper() and len(word)>1 in str(x):
        return NOTFRESH
    return ABSTAIN

In [74]:
for word in str()

SyntaxError: invalid syntax (<ipython-input-74-45a272e0647f>, line 1)

In [ ]:
for review in development_split.evieRw:
        for word in review:
            if word.isupper() and len(word)>1:
                print (word)

In [ ]:
@labeling_function()
def capital_letter(x):
    for review in x.Review:
        for word in review.split():
            if word.isupper() and len(word) >1:
                return NOTFRESH
    return ABSTAIN

In [ ]:
@labeling_function()
def capital_letter(x):
    if word.isupper() and len(word) >1 in x.Review.split():
        return NOTFRESH
    return ABSTAIN

In [ ]:
@labeling_function()
def capital_letter(x):
    if word.isupper() and len(word)>1 in str(x):
        return NOTFRESH
    return ABSTAIN

In [ ]:
@labeling_function()
def capital_letter(x):
    return NOTFRESH if re.search([A-Z\s]+, x.text) else ABSTAIN

In [ ]:
@labeling_function()
def capital_letter(x):
    if re.search(r'[A-Z\s]+', x.text, flags=re.I):
        return NOTFRESH
    return ABSTAIN

In [ ]:
@labeling_function()
def capital_letter(x):
    return NOTFRESH if re.search([A-Z\s]+, x.text) else ABSTAIN

In [ ]:
for review in development_split.Review:
    for word in review:
        if word.isupper() and len(word)>1:
            print (word)

In [ ]:
for review in development_split.Review:
    for word in review.split():
        if word.isupper() and len(word) >1:
            print (word)

In [ ]:
lfs = [capital_letter]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

In [ ]:
coverage_capital_letter = (sample_L != ABSTAIN).mean(axis=0)
print("capital_letter coverage:{:.1%}".format(coverage_capital_letter[0]))

In [ ]:
development_split.Review.str.split()

In [ ]:
if '?' in str(development_split).lower():
    print

In [ ]:
for word in str(development_split).split():
        if word.isupper() and len(word)>1:
            print (word)

In [ ]:
lfs = [capital_letter]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

In [ ]:
coverage_capital_letter = (sample_L != ABSTAIN).mean(axis=0)
print("capital_letter coverage:{:.1%}".format(coverage_capital_letter[0]))

### Labelling Function

## 2. Punctuation occurrences

In [77]:
# Turn review column into Series
development_split_fresh_series = pd.Series(development_split_fresh.Review)
development_split_rotten_series = pd.Series(development_split_rotten.Review)

In [78]:
# Positive reviews
# Split reviews into word
fresh_split = pd.Series(development_split_fresh_series.str.split(expand=True).stack())
fresh_words = [i for i in fresh_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in fresh_words]
fresh_split_words = pd.Series(split_str())

In [79]:
# Negative reviews
# Split reviews into word
rotten_split = pd.Series(development_split_rotten_series.str.split(expand=True).stack())
rotten_words = [i for i in rotten_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in rotten_words]
rotten_split_words = pd.Series(split_str())

In [80]:
# Turn into a flattened list
fresh_flattened_list = [y for x in fresh_split_words for y in x]
rotten_flattened_list = [y for x in rotten_split_words for y in x]

# Count the occurancy of each character
# Positive reviews
fresh_split_characters = pd.Series(fresh_flattened_list).value_counts()
fresh_split_characters = pd.DataFrame(fresh_split_characters).reset_index()

# Negative reviews
rotten_split_characters = pd.Series(rotten_flattened_list).value_counts()
rotten_split_characters = pd.DataFrame(rotten_split_characters).reset_index()

### A. Question mark occurrences

In [81]:
# Count the # of occurance of '?' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '?']

   index   0
57     ?  29

In [83]:
# Count the # of occurance of '?' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '?']

   index   0
58     ?  14

In [84]:
list_with_question_mark = []
for review in development_split_rotten.Review:
    if '?' in review:
        list_with_question_mark.append(review)
        
print (list_with_question_mark[:3])

[" I hate to say this -- partly because I don't want it to be true and partly because it's such a terrible pun -- but could the zombie movie finally be dead?", 'The title suggests there are no easy answers. So why does everything feel so tidy?', 'Besides being an offensive disservice to the sadly not singular tragedy of Alan Turing, how is The Imitation Game? Well, it has good performances.']

In [ ]:
@spark_nlp_labeling_function()
def question_mark_nlp(x):
    question_mark = [word for word in str(x).lower() if '?' in str(x).lower()]
    return 0 if len(person_ents) > 0 else -1

In [ ]:
from pyspark.sql import Row
from snorkel.preprocess.nlp import SpacyPreprocessor
from snorkel.labeling.lf import labeling_function
from snorkel.labeling.lf.nlp_spark import spark_nlp_labeling_function
from snorkel.preprocess import preprocessor
@spark_nlp_labeling_function(text_field = )
def question_mark_nlp(x):
    if '?' in str(x).lower():
            return NOTFRESH
    return ABSTAIN

In [ ]:
from pyspark.sql import Row
from snorkel.preprocess.nlp import SpacyPreprocessor
from snorkel.labeling.lf import labeling_function
from snorkel.labeling.lf.nlp_spark import spark_nlp_labeling_function
from snorkel.preprocess import preprocessor

In [ ]:
@spark_nlp_labeling_function()
def question_mark():
    if '?' in str(x).lower():
        return NOTFRESH
    return ABSTAIN

In [85]:
@labeling_function()
def question_mark(x):
    return NOTFRESH if '?' in str(x).lower() else ABSTAIN

In [88]:
lfs = [question_mark]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 2000/2000 [00:00<00:00, 2609.26it/s]

In [89]:
coverage_question_mark = (sample_L != ABSTAIN).mean(axis=0)
print("question mark coverage:{:.1%}".format(coverage_question_mark[0]))

question mark coverage:0.4%

### B. Exclaimation mark occurrences

In [ ]:
# Count the # of occurance of '!' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '!']

In [ ]:
# Count the # of occurance of '!' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '!']

In [ ]:
@labeling_function()
def exclaimation_mark(x):
    return FRESH if '!' in str(x).lower() else ABSTAIN

In [ ]:
lfs = [exclaimation_mark]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

In [ ]:
coverage_exclaimation_mark = (sample_L != ABSTAIN).mean(axis=0)
print("exclaimation mark coverage:{:.1%}".format(coverage_exclaimation_mark[0]))

## Sensitivity Analysis

In [61]:
@preprocessor(memoize=True)
def textblob_sentiment(x):
    scores = TextBlob(str(x))
    x.polarity = scores.sentiment.polarity
    x.subjectivity = scores.sentiment.subjectivity
    return x

In [62]:
@labeling_function(pre=[textblob_sentiment])
def textblob_polarity(x):
    return FRESH if x.polarity > 0.8 else ABSTAIN

In [63]:
@labeling_function(pre=[textblob_sentiment])
def textblob_subjectivity(x):
    return FRESH if x.subjectivity >= 0.5 else ABSTAIN

In [64]:
lfs = [textblob_polarity, textblob_subjectivity]

applier = SparkLFApplier(lfs)
sample_L = applier.apply(development_split.rdd)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 19.0 failed 1 times, most recent failure: Lost task 2.0 in stage 19.0 (TID 78, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 253, in main
    process()
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 248, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 379, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/apply/spark.py", line 36, in map_fn
    return apply_lfs_to_data_point(*args, lfs=self._lfs)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/apply/core.py", line 83, in apply_lfs_to_data_point
    y = lf(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/lf/core.py", line 84, in __call__
    x = self._preprocess_data_point(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/lf/core.py", line 62, in _preprocess_data_point
    x = preprocessor(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/map/core.py", line 152, in __call__
    x_mapped = self._generate_mapped_data_point(x_mapped)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/map/core.py", line 304, in _generate_mapped_data_point
    return self._f(x)
  File "<ipython-input-61-5106c698ef72>", line 4, in textblob_sentiment
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/types.py", line 1565, in __setattr__
    raise Exception("Row is read-only")
Exception: Row is read-only

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:330)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:470)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:453)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:284)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1651)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1639)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1638)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1638)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1872)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1821)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1810)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:165)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor67.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 253, in main
    process()
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 248, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 379, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/apply/spark.py", line 36, in map_fn
    return apply_lfs_to_data_point(*args, lfs=self._lfs)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/apply/core.py", line 83, in apply_lfs_to_data_point
    y = lf(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/lf/core.py", line 84, in __call__
    x = self._preprocess_data_point(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/labeling/lf/core.py", line 62, in _preprocess_data_point
    x = preprocessor(x)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/map/core.py", line 152, in __call__
    x_mapped = self._generate_mapped_data_point(x_mapped)
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/snorkel/map/core.py", line 304, in _generate_mapped_data_point
    return self._f(x)
  File "<ipython-input-61-5106c698ef72>", line 4, in textblob_sentiment
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/sql/types.py", line 1565, in __setattr__
    raise Exception("Row is read-only")
Exception: Row is read-only

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:330)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:470)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:453)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:284)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [ ]:
LFAnalysis(L_sample, lfs).lf_summary()

# Classifier