In [1]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.2           |   py36heb32a55_0         124 KB
    dask-2.11.0                |             py_0          13 KB
    dask-core-2.11.0           |             py_0         565 KB
    distributed-2.11.0         |           py36_0         943 KB
    gunicorn-20.0.4            |           py36_0         125 KB
    hypothesis-5.5.4           |             py_0         227 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    ncurses-6.2                |       he6710b0_0         1.1 MB
    plotly-4.5.2               |             py_0         1.6 MB
    pytest-astropy-0.8.0       |             py_0           9 KB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following packages will be UPDATED:

  bottleneck                           1.3.1-py36hdd07704_0 --> 1.3.2-py36heb32a55_0
  dask                                          2.10.1-py_0 --> 2.11.0-py_0
  dask-core                                     2.10.1-py_0 --> 2.11.0-py_0
  distributed        pkgs/main/noarch::distributed-2.10.0-~ --> pkgs/main/linux-64::distributed-2.11.0-py36_0
  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  hypothesis                                     5.4.1-py_0 --> 5.5.4-py_0
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  ncurses                                    6.1-he6710b0_1 --> 6.2-he6710b0_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.4.1-py_0 --> 4.5.2-py_0
  pytest-astropy                                 0.7.0-py_0 --> 0.8.0-py_0



Downloading and Extracting Packages
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
ncurses-6.2          | 1.1 MB    | ##################################### | 100%
dask-2.11.0          | 13 KB     | ##################################### | 100%
pytest-astropy-0.8.0 | 9 KB      | ##################################### | 100%
bottleneck-1.3.2     | 124 KB    | ##################################### | 100%
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
hypothesis-5.5.4     | 227 KB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
dask-core-2.11.0     | 565 KB    | ##################################### | 100%
distributed-2.11.0   | 943 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
/ b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hc9558a2_0         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hc9558a2_0
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [19]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
import nltk
from itertools import repeat
from nltk.sentiment import SentimentIntensityAnalyzer
from textblob import TextBlob
import pandas as pd
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
development_split = pd.read_csv('/project/development_split.csv')
development_split

     Unnamed: 0                                             Review  Freshness
0         41101  Vibrant, visually exciting and emotionally res...          1
1         18134                       An enjoyable campy bad film.          0
2          3215  This brave little film, a tale of an uncompreh...          1
3           222  Excellent, accurate, smart analysis of sexual ...          1
4        181403   a merger of Cold Weather's mumblenoir and LA ...          1
5          3906  This film is basically a well-meaning fable th...          1
6          1563  The chemistry between the main trio is very pl...          1
7           654  An engaging personal essay documentary about n...          1
8        428143   If nothing else, The Wolverine proves how cha...          1
9         20559  A noirish thriller with experimental trimmings...          1
10        12812  I think it should be considered child abuse to...          0
11         1607  Rattlesnake gives you what you expect, but not...          0
12        15576                            Mesmerizing filmmaking.          1
13         3950  There is plenty of heat to burn and brand from...          0
14       429447   Divining the bond between mothers and daughte...          1
15       445756   The big-screen Scooby makes the silly origina...          0
16         3024  Moments of hilarity remain, and the picture is...          1
17       183799   [Mitchell's] giddy, knowingly camp direction ...          1
18         9121    A slight improvement upon its 2010 predecessor.          0
19       265736   Loving is a dogged work, not a great or inspi...          0
20          307  Any attempt to explore the impact of the opioi...          0
21         3722  Noisy and unfunny, still pawing at the same ob...          0
22        31256  One of Luis Bunuel's greatest and funniest fil...          1
23        30934  A romantic comedy that is neither romantic nor...          0
24       156665   After 90 years and more than 50 films, Wajda ...          1
25       105011   Planted smack-dab in the middle of the Januar...          0
26         6718  Uneven and slightly muddled futuristic horror ...          0
27        42756  The teenager's impressionistic headspace is hi...          1
28       104108                      Not a smidgen of originality!          0
29       211268   Shamelessly low-brow, reaching a beer-fueled ...          1
..          ...                                                ...        ...
970      221256   Inflammatory talk-show host Morton Downey Jr....          0
971      352910   A nicely played family entertainment with per...          1
972        2411  Despite the potential double product cross mar...          1
973       91877   The plot details are ingeniously handled and ...          1
974         435  Biopic about artist's relationship with his bu...          0
975         596  JOKER is a beautiful but simplistically shallo...          0
976       21078  Cage acts, at times, as though his head is abo...          0
977        3509  Despite its clumsy first-act emphasis on expos...          1
978        2809  A wondrous, moodily self-involved piece of wor...          1
979       12028           A touching, humorous and enjoyable film.          1
980      108781   The visuals, the structure, the use of sound ...          1
981        1458  The tone veers haphazardly from tense, high-st...          0
982         471  Even if it is presented with luminous visuals ...          1
983       19063           A fervent, sweet-natured tragic romance.          1
984         815  Whilst occasionally letting her film down with...          1
985        9730            About as moving as a month-old Kleenex.          0
986        5218  The film comes off like a short story expanded...          0
987        2776  It all adds up to an offbeat, unusual horror f...          1
988        1768  Unfortunately, the filmmakers were overzealous...          0
989        1904  Zombie has gifts; he really does. And I'd rath...          0
990         963  Arriving following the backlash transgender dr...          1
991       43820  If you can grin and bear [certain] eye-rolling...          1
992       46516  Fincher, the director of Seven, leads you down...          1
993        4852             Murder Mystery is a lively hodgepodge.          1
994        3678  Thankfully, the voice cast is packed with pops...          0
995       40066   A film that adults can enjoy on their own, wi...          1
996      276091   It seems Greenberg can write and directly aut...          0
997       29835  An excellent top notch gem with beautiful dire...          1
998       10645  Fifty years on, we're still living with the af...          0
999        5117   A film like this -- with a large cast and a b...          0

[1000 rows x 3 columns]

In [7]:
#Get rid off index column 
development_split= pd.DataFrame(development_split, columns = ['Review', 'Freshness'])

In [8]:
development_split.head()

                                              Review  Freshness
0  Vibrant, visually exciting and emotionally res...          1
1                       An enjoyable campy bad film.          0
2  This brave little film, a tale of an uncompreh...          1
3  Excellent, accurate, smart analysis of sexual ...          1
4   a merger of Cold Weather's mumblenoir and LA ...          1

# Split into positive and negative reviews:

In [256]:
development_split_fresh = development_split[development_split['Freshness'] == 1]
development_split_rotten = development_split[development_split['Freshness'] == 0]
development_split_fresh.head()
development_split_rotten.head()

                                              Review  Freshness
0  Vibrant, visually exciting and emotionally res...          1
2  This brave little film, a tale of an uncompreh...          1
3  Excellent, accurate, smart analysis of sexual ...          1
4   a merger of Cold Weather's mumblenoir and LA ...          1
5  This film is basically a well-meaning fable th...          1

                                               Review  Freshness
1                        An enjoyable campy bad film.          0
10  I think it should be considered child abuse to...          0
11  Rattlesnake gives you what you expect, but not...          0
13  There is plenty of heat to burn and brand from...          0
15   The big-screen Scooby makes the silly origina...          0

In [41]:
#508 fresh reviews 
development_split_fresh.info()
#492 rotten reviews 
development_split_rotten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 570 entries, 0 to 997
Data columns (total 2 columns):
Review       570 non-null object
Freshness    570 non-null int64
dtypes: int64(1), object(1)
memory usage: 13.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 1 to 999
Data columns (total 2 columns):
Review       430 non-null object
Freshness    430 non-null int64
dtypes: int64(1), object(1)
memory usage: 10.1+ KB

#  1. Word occurancy

## Positive reviews

In [168]:
# Removing punctuation 
def remove_punctuation(dataframe):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in dataframe.Review.str.lower():
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

In [262]:
#Remove punctuation from fresh reviews & turn into Series
split_fresh= pd.Series(remove_punctuation(development_split_fresh))
split_fresh.head()

0    vibrant visually exciting and emotionally reso...
1    this brave little film a tale of an uncomprehe...
2    excellent accurate smart analysis of sexual ha...
3     a merger of cold weathers mumblenoir and la n...
4    this film is basically a wellmeaning fable tha...
dtype: object

In [182]:
stopWordList = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves",\
                "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",\
                "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",\
                "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",\
                "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between",\
                "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off",\
                "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any",\
                "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",\
                "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [170]:
#Removing stopwords from fresh

replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_fresh.replace(replacements, regex=True, inplace=True)
split_fresh.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

In [185]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [192]:
new common_words_fresh_df = common_words_fresh_df.reset_index()

In [259]:
stem_recount(common_words_fresh_df)

            index  Occurence good review
0            film                     89
1            movy                     51
2              on                     51
3           story                     31
4             lik                     29
5              ev                     28
6             fun                     25
7             ful                     24
8            much                     23
9          comedy                     23
10           stil                     21
11            mak                     20
12           ther                     20
13            tim                     20
14            way                     20
15           dram                     17
16           work                     17
17           span                     17
18         doesnt                     17
19         review                     17
20         direct                     17
21            gre                     17
22           good                     17
23           also                     17
24        charact                     17
25          world                     17
26           movy                     17
27         enough                     17
28           best                     16
29      entertain                     16
...           ...                    ...
3714    francisco                      1
3715       jenkin                      1
3716    expertlyc                      1
3717         whal                      1
3718       apolog                      1
3719        swept                      1
3720         dram                      1
3721          off                      1
3722       backst                      1
3723         pred                      1
3724        epoch                      1
3725         cury                      1
3726  wellconceiv                      1
3727        exact                      1
3728         laps                      1
3729          cue                      1
3730       invict                      1
3731       endear                      1
3732         mock                      1
3733        caron                      1
3734        compl                      1
3735        theyd                      1
3736            9                      1
3737          bru                      1
3738      superbl                      1
3739         rest                      1
3740       fletch                      1
3741        sorry                      1
3742        coher                      1
3743        frank                      1

[3744 rows x 2 columns]

In [171]:
#Get most common words in positive reviews 

common_words_fresh = split_fresh.str.split(expand=True).stack().value_counts()
common_words_fresh_df = pd.DataFrame(common_words_fresh)
common_words_fresh_df = common_words_fresh_df.rename({0:'Occurence good review'}, axis='columns')
top_common_words_fresh = common_words_fresh_df[common_words_fresh_df['Occurence good review'] >=3]

In [260]:
top_common_words_fresh

               Occurence good review
film                              89
movie                             51
one                               51
story                             31
like                              29
even                              28
fun                               25
full                              24
much                              23
comedy                            23
still                             21
make                              20
theres                            20
time                              20
way                               20
drama                             17
work                              17
spanish                           17
doesnt                            17
review                            17
director                          17
great                             17
good                              17
also                              17
characters                        17
world                             17
movies                            17
enough                            17
best                              16
entertaining                      16
...                              ...
turned                             3
creepy                             3
offerings                          3
part                               3
role                               3
since                              3
cool                               3
creates                            3
scares                             3
uncomfortable                      3
humour                             3
depicts                            3
light                              3
moved                              3
tell                               3
friendship                         3
wont                               3
water                              3
demands                            3
delight                            3
upon                               3
impressively                       3
genres                             3
blanchett                          3
green                              3
provides                           3
remarkably                         3
youve                              3
special                            3
actor                              3

[553 rows x 1 columns]

# Negative reviews

In [261]:
#Remove punctuation from rotten & turn into Series
split_rotten= pd.Series(remove_punctuation(development_split_rotten))
split_rotten.head()

0                          an enjoyable campy bad film
1    i think it should be considered child abuse to...
2    rattlesnake gives you what you expect but not ...
3    there is plenty of heat to burn and brand from...
4     the bigscreen scooby makes the silly original...
dtype: object

In [152]:
# Removing stopwords from negative reviews
replacements = dict(zip((fr'\b{word}\b' for word in stopWordList), repeat("")))
split_rotten.replace(replacements, regex=True, inplace=True)
split_rotten.replace({r' +': ' ', r' +\.': '.'}, regex=True, inplace=True)

### Lemmatization to compare word occurances differences

In [204]:
# Lemmatization and Count again
def stem_recount(df):
    import pandas as pd
    # Lemmatization
    from nltk import LancasterStemmer
    st = LancasterStemmer()
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [205]:
new_common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
new_common_words_rotten_df = pd.DataFrame(new_common_words_rotten).reset_index()

In [207]:
stem_recount(new_common_words_rotten_df)

           index   0
0           film  62
1           movy  50
2            lik  33
3            too  30
4           much  27
5             ev  25
6             on  25
7            nev  23
8        charact  23
9          story  23
10           tim  18
11          good  18
12          feel  17
13           bad  17
14          feel  17
15         littl  17
16        enough  16
17        doesnt  16
18           mak  16
19           hor  14
20           bet  13
21          noth  13
22           ful  13
23           new  13
24          seem  13
25          ther  13
26          real  12
27          film  12
28       perform  12
29          stil  12
...          ...  ..
2901  12andunder   1
2902       evint   1
2903      releas   1
2904   undercard   1
2905         dos   1
2906   sitcomlik   1
2907    wellworn   1
2908      provoc   1
2909        hors   1
2910         see   1
2911       build   1
2912        bril   1
2913      spectr   1
2914         top   1
2915         tol   1
2916      clunky   1
2917       stark   1
2918   fourlevel   1
2919      season   1
2920         lin   1
2921         lit   1
2922     everlik   1
2923     correct   1
2924         fac   1
2925        sacr   1
2926     dissect   1
2927        card   1
2928         cov   1
2929     catandm   1
2930         lov   1

[2931 rows x 2 columns]

In [153]:
#Get most common words in positive reviews 

common_words_rotten = split_rotten.str.split(expand=True).stack().value_counts()
common_words_rotten_df = pd.DataFrame(common_words_rotten)
common_words_rotten_df = common_words_rotten_df.rename({0:'Occurence bad review'}, axis='columns')
top_common_words_rotten = common_words_rotten_df[common_words_rotten_df['Occurence bad review'] >=3]

In [154]:
top_common_words_rotten

               Occurence bad review
film                             62
movie                            50
like                             33
too                              30
much                             27
even                             25
one                              25
never                            23
characters                       23
story                            23
time                             18
good                             18
feel                             17
bad                              17
feels                            17
little                           17
enough                           16
doesnt                           16
make                             16
horror                           14
better                           13
nothing                          13
full                             13
new                              13
seems                            13
theres                           13
really                           12
films                            12
performances                     12
still                            12
...                             ...
thrilling                         3
complex                           3
solid                             3
old                               3
lake                              3
tone                              3
nature                            3
half                              3
viewer                            3
personality                       3
carry                             3
poorly                            3
stupidity                         3
lacks                             3
title                             3
involved                          3
forgettable                       3
resolution                        3
making                            3
large                             3
wild                              3
predecessor                       3
acting                            3
sex                               3
wait                              3
suspense                          3
expect                            3
however                           3
won                               3
entertainment                     3

[401 rows x 1 columns]

### *** EXPLAIN WHY LEMMATIZATION DOES NOT WORK

# Comparison good and bad movies

In [155]:
#Compare the two lists 
#--> find out which of the words in the good list only appear in the good movies (and not in the bad movies )

In [265]:
#Attempts before 
#outer join --> displays words that are only in good reviews and only in bad reviews
# top_common_words = pd.concat([top_common_words_fresh, top_common_words_rotten], axis=1)
# top_common_words

#inner join 
# top_common_words = pd.merge(top_common_words_fresh, top_common_words_rotten, left_index=True, right_index=True)
# top_common_words

top_fresh_words_exclusive = top_common_words_fresh.merge(top_common_words_rotten, indicator='i', how='outer', left_index=True,\
                                                         right_index=True).query('i == "left_only"').drop('i', 1)

top_rotten_words_exclusive = top_common_words_rotten.merge(top_common_words_fresh, indicator='i', how='outer', left_index=True,\
                                                           right_index=True).query('i == "left_only"').drop('i', 1)

In [267]:
top_fresh_words_exclusive.head()

            Occurence good review  Occurence bad review
2                             3.0                   NaN
absolutely                    4.0                   NaN
absorbing                     4.0                   NaN
across                        6.0                   NaN
actor                         3.0                   NaN

In [268]:
top_rotten_words_exclusive.head()

             Occurence bad review  Occurence good review
achievement                   3.0                    NaN
act                           5.0                    NaN
actually                      4.0                    NaN
adventure                     4.0                    NaN
aimed                         3.0                    NaN

In [269]:
#Get only positive words 
top_fresh_words_exclusive_list = top_fresh_words_exclusive['Occurence good review'].index.tolist()
top_fresh_words_exclusive_list

['2',
 'absolutely',
 'absorbing',
 'across',
 'actor',
 'adam',
 'adds',
 'air',
 'allowing',
 'allows',
 'along',
 'already',
 'always',
 'america',
 'american',
 'among',
 'amp',
 'amusing',
 'anger',
 'animated',
 'animation',
 'appeal',
 'attention',
 'beats',
 'beautiful',
 'beautifully',
 'behind',
 'believe',
 'beyond',
 'big',
 'blanchett',
 'bleak',
 'blood',
 'bloody',
 'body',
 'bond',
 'boys',
 'breathtaking',
 'breathtakingly',
 'brilliant',
 'burn',
 'camera',
 'certainly',
 'charismatic',
 'charm',
 'chemistry',
 'children',
 'classic',
 'clearly',
 'clever',
 'coen',
 'color',
 'combination',
 'comingofage',
 'compelling',
 'complete',
 'confusion',
 'cool',
 'course',
 'creates',
 'creating',
 'creative',
 'creepy',
 'dark',
 'darkness',
 'dead',
 'debut',
 'deeply',
 'delight',
 'delightfully',
 'deliver',
 'delivers',
 'demands',
 'depicts',
 'devil',
 'dialogue',
 'direction',
 'directors',
 'disturbing',
 'easy',
 'effective',
 'el',
 'elements',
 'emotion',
 'emotionally',
 'emotions',
 'engaging',
 'enjoyed',
 'entertaining',
 'entirely',
 'epic',
 'evil',
 'exactly',
 'excellent',
 'exciting',
 'executed',
 'extraordinarily',
 'extremely',
 'fails',
 'fan',
 'fans',
 'fascinating',
 'fast',
 'features',
 'feeling',
 'female',
 'fiction',
 'finds',
 'fine',
 'flat',
 'frame',
 'fresh',
 'friends',
 'friendship',
 'future',
 'genres',
 'genuine',
 'genuinely',
 'girls',
 'gold',
 'greatest',
 'green',
 'grown',
 'guilt',
 'happy',
 'hasnt',
 'heart',
 'heartfelt',
 'hero',
 'highly',
 'hilarious',
 'historical',
 'hits',
 'hodgepodge',
 'hold',
 'hope',
 'hours',
 'human',
 'humanity',
 'humour',
 'ignore',
 'imaginative',
 'important',
 'impressively',
 'inspired',
 'inventive',
 'investment',
 'issues',
 'james',
 'job',
 'journey',
 'joy',
 'keeps',
 'kubricks',
 'la',
 'lady',
 'language',
 'leaves',
 'left',
 'light',
 'likable',
 'likely',
 'logic',
 'long',
 'looks',
 'lovely',
 'mad',
 'main',
 'male',
 'manages',
 'masterpiece',
 'mean',
 'meaning',
 'means',
 'men',
 'michael',
 'mind',
 'minute',
 'modern',
 'monster',
 'monsters',
 'morgan',
 'motion',
 'moved',
 'moving',
 'mr',
 'mystery',
 'netflixs',
 'novel',
 'obsession',
 'occasionally',
 'ode',
 'offerings',
 'offers',
 'oldfashioned',
 'park',
 'part',
 'parts',
 'perfect',
 'perfectly',
 'performers',
 'period',
 'piece',
 'pieces',
 'played',
 'pleasant',
 'please',
 'plenty',
 'poignant',
 'portrait',
 'portrayal',
 'positive',
 'potent',
 'power',
 'powerful',
 'promise',
 'proves',
 'provides',
 'pure',
 'questions',
 'quiet',
 'reach',
 'ready',
 'reason',
 'relationships',
 'remarkably',
 'reminder',
 'resonant',
 'rewarding',
 'right',
 'rings',
 'road',
 'rock',
 'role',
 'romp',
 'room',
 'said',
 'satisfying',
 'saved',
 'saying',
 'says',
 'school',
 'science',
 'screen',
 'secret',
 'sequences',
 'shadow',
 'shame',
 'shows',
 'simple',
 'simply',
 'since',
 'sit',
 'size',
 'slight',
 'slow',
 'slowly',
 'small',
 'somewhat',
 'sort',
 'sorts',
 'sound',
 'spite',
 'stars',
 'starts',
 'straightforward',
 'strange',
 'street',
 'structure',
 'success',
 'superb',
 'sure',
 'surprising',
 'sweet',
 'taking',
 'target',
 'tastes',
 'teenage',
 'tell',
 'tension',
 'terrific',
 'thanks',
 'thoughtful',
 'thoughtprovoking',
 'throughout',
 'together',
 'told',
 'top',
 'touching',
 'toward',
 'trilogy',
 'turn',
 'turned',
 'turns',
 'twilight',
 'uncomfortable',
 'unexpected',
 'unlike',
 'unusual',
 'uses',
 'version',
 'viewing',
 'violence',
 'visual',
 'visually',
 'voice',
 'warm',
 'water',
 'whole',
 'winning',
 'wit',
 'woman',
 'women',
 'wonderful',
 'wont',
 'working',
 'writer',
 'y',
 'year',
 'young',
 'youve']

In [160]:
#take out the ones that seem to make sense: 
top_fresh_words_exclusive = ['beautiful',
 'best',
 'comic',
 'compelling',
 'emotional',
 'entertaining',
 'family',
 'fans',
 'fun',
 'game',
 'high',
 'humor',
 'kind',
 'new',
 'powerful',
 'satisfying',
 'script',
 'simple',
 'true']

top_fresh_words_exclusive

['beautiful',
 'best',
 'comic',
 'compelling',
 'emotional',
 'entertaining',
 'family',
 'fans',
 'fun',
 'game',
 'high',
 'humor',
 'kind',
 'new',
 'powerful',
 'satisfying',
 'script',
 'simple',
 'true']

In [270]:
#Get only negative words 
top_rotten_words_exclusive_list = top_rotten_words_exclusive['Occurence bad review'].index.tolist()
top_rotten_words_exclusive_list

['achievement',
 'act',
 'actually',
 'adventure',
 'aimed',
 'anyone',
 'around',
 'badly',
 'based',
 'basic',
 'belief',
 'blow',
 'boring',
 'brain',
 'brand',
 'care',
 'carry',
 'case',
 'central',
 'check',
 'child',
 'choices',
 'clear',
 'clichés',
 'coming',
 'competent',
 'complex',
 'concept',
 'consider',
 'core',
 'corporate',
 'credit',
 'day',
 'deadly',
 'deserve',
 'didnt',
 'different',
 'disappointing',
 'dog',
 'done',
 'dull',
 'earnest',
 'efforts',
 'empty',
 'end',
 'eventually',
 'everything',
 'execution',
 'expect',
 'fail',
 'falls',
 'fantastic',
 'filmmaking',
 'finish',
 'five',
 'forgettable',
 'four',
 'franchise',
 'games',
 'generic',
 'girl',
 'give',
 'given',
 'gone',
 'got',
 'groundbreaking',
 'guy',
 'guys',
 'half',
 'head',
 'hes',
 'hollow',
 'house',
 'however',
 'idea',
 'ideas',
 'im',
 'involved',
 'jokes',
 'jones',
 'jump',
 'justice',
 'kids',
 'knows',
 'lack',
 'lacks',
 'lake',
 'land',
 'large',
 'lead',
 'least',
 'level',
 'lifeless',
 'ludicrous',
 'mark',
 'maybe',
 'melodrama',
 'merely',
 'mess',
 'momentum',
 'mostly',
 'must',
 'nasty',
 'near',
 'neither',
 'offensive',
 'oh',
 'opportunity',
 'oscar',
 'overcome',
 'overly',
 'particular',
 'personality',
 'points',
 'poorly',
 'potential',
 'predecessor',
 'predictable',
 'premise',
 'problem',
 'promising',
 'put',
 'quality',
 'quickly',
 'resolution',
 'ridiculous',
 'romance',
 'sad',
 'save',
 'saving',
 'scifi',
 'score',
 'seeing',
 'seemed',
 'sell',
 'series',
 'serious',
 'sex',
 'shallow',
 'shock',
 'short',
 'someone',
 'sounds',
 'standards',
 'studio',
 'stupidity',
 'style',
 'subject',
 'teen',
 'terrible',
 'thrilling',
 'times',
 'tired',
 'tone',
 'tries',
 'truth',
 'uneven',
 'unfortunately',
 'violent',
 'vision',
 'wait',
 'whos',
 'win',
 'won',
 'worst',
 'written',
 'youd',
 'youll',
 'zero']

In [162]:
#take out the ones that seem to make sense: 
top_rotten_words_exclusive = [
 'bad',
 'big',
 'dead',
 'hard',
 'interesting',
 'jokes',
 'latest',
 'less',
 'lot',
 'part',
 'plot',
 'probably',
 'seem',
 'seems',
 'simply',
 'think',
 'tries',
 'ultimately',
 'violence',
 'want',
 'would',
 'yet']

In [163]:
top_rotten_words_exclusive

['bad',
 'big',
 'dead',
 'hard',
 'interesting',
 'jokes',
 'latest',
 'less',
 'lot',
 'part',
 'plot',
 'probably',
 'seem',
 'seems',
 'simply',
 'think',
 'tries',
 'ultimately',
 'violence',
 'want',
 'would',
 'yet']

## Labeling functions

### A. Good / bad exclusive words occurrences

In [274]:
ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()

def fresh(x):
    for word in top_fresh_words_exclusive:
        if word in str(x).lower():
            return FRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

In [275]:
lfs = [fresh]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 1000/1000 [00:05<00:00, 188.67it/s]

In [276]:
sample_L

array([[-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [ 1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [-1],
       [ 1],
       [-1],
       [-1]])

In [277]:
coverage_fresh = (sample_L != ABSTAIN).mean(axis=0)
print("good coverage:{:.1%}".format(coverage_fresh[0]))

good coverage:12.5%

In [278]:
pd.set_option('display.expand_frame_repr', False)

In [279]:
LFAnalysis(L=sample_L, lfs=lfs).lf_summary()

       j Polarity  Coverage  Overlaps  Conflicts
fresh  0      [1]     0.125       0.0        0.0

In [280]:
#same for rotten: 

ABSTAIN = -1
NOTFRESH = 0
FRESH = 1

@labeling_function()
def rotten(x):
    for word in top_rotten_words_exclusive:
        if word in str(x).lower():
            return NOTFRESH
    return ABSTAIN
#return FRESH if "best" in x.str.lower() else ABSTAIN

In [281]:
lfs = [rotten]

applier = PandasLFApplier(lfs=lfs)
sample_L = applier.apply(development_split)

100%|██████████| 1000/1000 [00:05<00:00, 166.71it/s]

In [248]:
coverage_rotten = (sample_L != ABSTAIN).mean(axis=0)
print("rotten coverage:{:.1%}".format(coverage_rotten[0]))

rotten coverage:13.9%

### B. Word 'too' occurances

In [177]:
common_words_fresh_df[common_words_fresh_df.index == 'too']

     Occurence good review
too                     14

In [178]:
common_words_rotten_df[common_words_rotten_df.index == 'too']

     Occurence bad review
too                    30

### C. Word 'far' occurrences

In [180]:
common_words_fresh_df[common_words_fresh_df.index == 'far']

     Occurence good review
far                      6

In [181]:
common_words_rotten_df[common_words_rotten_df.index == 'far']

     Occurence bad review
far                    10

### D. "n't" words occurrences

In [99]:
# Word occurancy that with punctuation with it

# Word occurrences dataframe for fresh reviews
development_split_fresh_1 = development_split_fresh_series.str.split(expand=True).stack().value_counts()
development_split_fresh_df = pd.DataFrame(development_split_fresh_1).reset_index()

# Words occurrences dataframe for rotten reviews
development_split_rotten_1 = development_split_rotten_series.str.split(expand=True).stack().value_counts()
development_split_rotten_df = pd.DataFrame(development_split_rotten_1).reset_index()

### E. Capital words occurrences

In [250]:
fresh_capital_letters = [word for word in development_split_fresh_df['index'] if word.isupper()]
len(fresh_capital_letters)

29

In [251]:
fresh_capital_letters

['A',
 'I',
 'F.',
 'L.',
 'MO,',
 'TIFF',
 'HOBBS',
 '"A',
 'TV',
 'DIY',
 'T.',
 'STORY',
 'ANYA',
 'WAITING',
 '[A]',
 'SHAW',
 '(I',
 'LA',
 'A.',
 'WAY',
 'B',
 'C+',
 'E.',
 'II',
 'FOR',
 '2U"',
 'VHS',
 'MARRIAGE',
 'CGI']

In [252]:
rotten_capital_letters = [word for word in development_split_rotten_df['index'] if word.isupper()]
len(rotten_capital_letters)

23

In [253]:
rotten_capital_letters

['A',
 'I',
 'PSA',
 'IP"',
 'OK,',
 'WAY!',
 'WILD',
 'J.',
 'SNL',
 'O',
 'TV',
 'II?',
 'ROSE',
 'TWO',
 'HA!',
 'NPR',
 'NO',
 'CGI',
 '"A',
 'P.S.',
 'DVD',
 'FDR',
 'JOKER']

# 2. Punctuation occurancy

In [183]:
# Turn review column into Series
development_split_fresh_series = pd.Series(development_split_fresh.Review)
development_split_rotten_series = pd.Series(development_split_rotten.Review)

In [184]:
# Positive reviews
# Split reviews into word
fresh_split = pd.Series(development_split_fresh_series.str.split(expand=True).stack())
fresh_words = [i for i in fresh_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in fresh_words]
fresh_split_words = pd.Series(split_str())

In [208]:
# Negative reviews
# Split reviews into word
rotten_split = pd.Series(development_split_rotten_series.str.split(expand=True).stack())
rotten_words = [i for i in rotten_split]

# Split words into characters
def split_str():
    return [list(ch) for ch in rotten_words]
rotten_split_words = pd.Series(split_str())

In [209]:
# Turn into a flattened list
fresh_flattened_list = [y for x in fresh_split_words for y in x]
rotten_flattened_list = [y for x in rotten_split_words for y in x]

# Count the occurancy of each character
# Positive reviews
fresh_split_characters = pd.Series(fresh_flattened_list).value_counts()
fresh_split_characters = pd.DataFrame(fresh_split_characters).reset_index()

# Negative reviews
rotten_split_characters = pd.Series(rotten_flattened_list).value_counts()
rotten_split_characters = pd.DataFrame(rotten_split_characters).reset_index()

### A. Question mark occurrences

In [210]:
# Count the # of occurance of '?' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '?']

   index   0
59     ?  13

In [211]:
# Count the # of occurance of '?' in rotten reviews
rotten_split_characters[rotten_split_characters['index'] == '?']

   index   0
47     ?  31

In [222]:
list_with_question_mark = []
for review in development_split_rotten.Review:
    if '?' in review:
        list_with_question_mark.append(review)
        
print (list_with_question_mark[:3])

[" Is I Am Number Four going to revolutionize Young Adult fantasy filmmaking? Let's not FOURce the issue.", "What is the real crime? Why, beating the audience about the ears, eyes and brain with essentially the same sequence of events from eight characters' points of view, none of which adds much more than deafening hysteria and identically dreadful music.", 'Reducing the iconic brute to a victim of childhood neglect and abuse? That\'s not, as The Beginning\'s tagline boasts, "The Birth of Fear." It\'s the death of it.']

### B. Exclaimation mark occurrences

In [213]:
# Count the # of occurance of '!' in fresh reviews
fresh_split_characters[fresh_split_characters['index'] == '!']

   index  0
77     !  2

In [214]:
# Count the # of occurance of '!' in fresh reviews
rotten_split_characters[rotten_split_characters['index'] == '!']

   index   0
57     !  10