In [2]:
import pandas as pd
from nltk import LancasterStemmer
st = LancasterStemmer()

In [3]:
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32

In [4]:
st_custom = LancasterStemmer(rule_tuple=("ssen4>", "s1t."))

In [6]:
st_custom.stem(str(fresh.iloc[0,0]))

'film'

In [19]:
data = {'testword':['Hello', 'happier', 'stronger', 'enjoyed']}
test = pd.DataFrame(data)
test.head()

   testword
0     Hello
1   happier
2  stronger
3   enjoyed

In [18]:
st.stem(str(test.iloc[1,0]))

'happy'

In [20]:
correct = test.copy()
# correct.iloc[1,0]=st_custom.stem(str(test.iloc[1,0]))
correct.head()

   testword
0     Hello
1   happier
2  stronger
3   enjoyed

In [12]:
len(test)

4

In [22]:
for i in range(0,len(test)):
    correct.iloc[i,0]=st.stem(str(test.iloc[i,0]))
correct.head()

   testword
0     hello
1     happy
2  stronger
3     enjoy

In [23]:
# Lemmatization
def stem_word(df):
    from nltk import LancasterStemmer
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
        return newdf

In [24]:
fresh = pd.read_csv('/project/Debbie/common_words_fresh_df.csv')
fresh = fresh[['index', '0']]
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32

In [25]:
newfresh = stem_word(fresh)

NameError: name 'newdf' is not defined