In [2]:
import pandas as pd
from nltk import LancasterStemmer
st = LancasterStemmer()

In [3]:
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32

In [4]:
st_custom = LancasterStemmer(rule_tuple=("ssen4>", "s1t."))

In [6]:
st_custom.stem(str(fresh.iloc[0,0]))

'film'

In [19]:
data = {'testword':['Hello', 'happier', 'stronger', 'enjoyed']}
test = pd.DataFrame(data)
test.head()

   testword
0     Hello
1   happier
2  stronger
3   enjoyed

In [18]:
st.stem(str(test.iloc[1,0]))

'happy'

In [62]:
st.stem('movie')

'movy'

In [20]:
correct = test.copy()
# correct.iloc[1,0]=st_custom.stem(str(test.iloc[1,0]))
correct.head()

   testword
0     Hello
1   happier
2  stronger
3   enjoyed

In [12]:
len(test)

4

In [22]:
for i in range(0,len(test)):
    correct.iloc[i,0]=st.stem(str(test.iloc[i,0]))
correct.head()

   testword
0     hello
1     happy
2  stronger
3     enjoy

In [30]:
# Lemmatization
def stem_word(df):
    from nltk import LancasterStemmer
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
        return newdf

In [27]:
fresh = pd.read_csv('/project/Debbie/common_words_fresh_df.csv')
fresh = fresh[['index', '0']]
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32

In [31]:
newfresh = stem_word(fresh)

In [35]:
duplicate = newfresh[newfresh.duplicated(['index'])]
duplicate

Empty DataFrame
Columns: [index, 0]
Index: []

In [55]:
data = {'w':['abc', 'bsh', 'abc', 'bsh'],'count':[1,1,1,1]}
w = pd.DataFrame(data)
w.head()

     w  count
0  abc      1
1  bsh      1
2  abc      1
3  bsh      1

In [56]:
d = w[w.duplicated(['w'])]
d

     w  count
2  abc      1
3  bsh      1

In [52]:
d.iloc[0,0] == w.iloc[0,0]

True

In [57]:
for i in range(0,len(w)):
    if i >= len(d):
        break
    if w.iloc[i,0]==d.iloc[i,0]:
        w.iloc[i,1]=w.iloc[i,1]+d.iloc[i,1]
w.head()

     w  count
0  abc      2
1  bsh      2
2  abc      1
3  bsh      1

In [60]:
# Lemmatization and Count again
def stem_recount(df):
    
    # Lemmatization
    from nltk import LancasterStemmer
    newdf = df.copy()
    for i in range(0,len(df)):
        newdf.iloc[i,0] = st.stem(str(df.iloc[i,0])) 
        # Plz make sure the word column is the first column in df when using this function
    
    # Recount
    duplicate = newdf[newdf.duplicated(['index'])]
    # Plz make sure the 'index' is the column name consisting of words
    for i in range(0,len(newdf)):
        if i >= len(duplicate):
            break
        if newdf.iloc[i,0] == duplicate.iloc[i,0]:
            newdf.iloc[i,1] = newdf.iloc[i,1] + duplicate.iloc[i,1]
    return newdf

In [61]:
new = stem_recount(fresh)
new.head()

   index   0
0   film  95
1   movy  56
2     on  43
3    lik  35
4  story  32

In [63]:
fresh.head()

   index   0
0   film  80
1  movie  56
2    one  43
3   like  35
4  story  32