# Installing & Imports

#Functions we have so far: 
- Exclusive bad (Katie - delete the words that do not make sense and finish up  )
- Exclusive good (Katie - delete the words that do not make sense and finish up  )
- Exclamation mark (Debbie)
- Question mark (Debbie)
- Capital letters (Debbie)
- too (negative) (Vera)
- far (positive) (Vera)
- \'t (Hong)
- positive word (Katie)
- negative word (Katie)

In [7]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         153 KB
    ------------------------------------------------------------
                                           Total:         153 KB

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> pkgs/main::openssl-1.1.1d-h7b6447c_4

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> pkgs/main



Downloading and Extracting Packages
certifi-2019.11.28   | 153 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [8]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [9]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         149 KB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0



Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [10]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [11]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

In [13]:
#Spark 

# # Spark Environment
# import os
# import sys

# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# import pyspark

# number_cores = 4
# memory_gb = 16
# conf = (
#     pyspark.SparkConf()
#         .setMaster('local[{}]'.format(number_cores))
#         .set('spark.driver.memory', '{}g'.format(memory_gb))
# )
# sc = pyspark.SparkContext.getOrCreate(conf=conf)
# print(sc)

# # get the context
# spark = pyspark.sql.SparkSession.builder.getOrCreate()
# print(spark) 

# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)

# Web Scraping

## Browse all from DVD releases page

In [14]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [15]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [16]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/the_night_clerk_2020

Number of movies in list: 32

In [17]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [18]:
len(movie_url_split)

12

In [19]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [20]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [21]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329 entries, 0 to 329
Data columns (total 3 columns):
title     329 non-null object
review    329 non-null object
rating    329 non-null object
dtypes: object(3)
memory usage: 10.3+ KB

In [22]:
df.dropna(inplace=True)
df.head(3)

       title                                             review  rating
0  Frozen II  A distressingly unnecessary (and fairly tediou...  rotten
1  Frozen II  Frozen II is the exact kind of sequel that mor...   fresh
2  Frozen II  [A]n ultimately satisfying story of more matur...   fresh

In [23]:
# Export to CSV files
# df.to_csv('web_scraping_rotten_tomatoes.csv')

# Reading & Preparing TSV file

In [24]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [25]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [26]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [27]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [28]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [29]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [30]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [31]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [32]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 11850 to 39508
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [33]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [34]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 231047 to 123420
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [35]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

In [36]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

In [37]:
web_scraping_reviews.head()

                                                 Review Freshness
2902  I've only played a handful of rounds of golf i...         1
1367  Despite its initial slow start, Red Letter Day...         1
2331                              This movie is a mess.         0
1385  Inept post-EMP survival thriller is no more th...         0
2908                     The first cut was the deepest.         1

# Combining all the data together

In [38]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
231047   Barely scratches the surface of the band's en...         0
431952   The kind of uncompromising movie that any pol...         1
148007   Isn't that what we mostly go to the movies to...         1
185395        Perhaps Zero would have been a better name.         0
317918   Bleak as hell yet stubbornly optimistic, this...         1

In [39]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [42]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'])

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 9071 to 270400
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 5666 to 2901
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [45]:
train.head()

                                                  Review  Freshness
9071   Factoring in the on location filming in Paris ...          1
52290  A spirited, screwball crime-thriller with a sl...          1
16050  ...even the notoriously reshot conclusion come...          1
15934  The movie proves you can go home again. But it...          1
4878   [The Outsider] tells its tale well enough, exp...          1

In [46]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [47]:
test['Freshness'].value_counts()

1    1769
0    1231
Name: Freshness, dtype: int64

In [48]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(2000,random_state=42)
development_split.head()

                                                   Review  Freshness
21310   Even more so than with the other Lecter movies...          0
380885   It's a delicious appetizer but you'll crave m...          1
5069    'Rim of the World' is a fun adventure flick fi...          1
5319    Again, I applaud the effort, but there's reall...          0
9369    Might be the least-sexy film about a hedonist ...          0

In [49]:
#For finding labelling functions: 
development_split

                                                   Review  Freshness
21310   Even more so than with the other Lecter movies...          0
380885   It's a delicious appetizer but you'll crave m...          1
5069    'Rim of the World' is a fun adventure flick fi...          1
5319    Again, I applaud the effort, but there's reall...          0
9369    Might be the least-sexy film about a hedonist ...          0
5519    ...the obvious passion poured into the film ma...          1
1848    Put indelicately via double entendre: The Deat...          1
66810    There needs to be a place for teen melodrama....          1
8737    Riveting entertainment thanks to its three lea...          1
4311               [T]his is undeniably great filmmaking.          1
36309   Chicken Run isn't just chock-full of reference...          1
4227    Yet another adult comedy that's heavy with rau...          1
1101    Netflix's Bikram documentary gets even more di...          1
4906    Finishing with a fine flourish makes this slow...          1
41866   Sure, it has its precious moments -- but Hitch...          1
4399    Dumbo is a lot of work by a lot of talented pe...          1
60278    Flunks its most crucial test: the need to pro...          0
10565   This is an ugly film. And the only thing uglie...          0
104588   It has all the ingredients for cult immortali...          1
110215   Distorted leaves viewers with a disjointed, u...          0
9874    At no point did I feel like I was at Woodstock...          0
315392   Ferrara gives a nice flow to this far-from-ni...          1
5151    It's difficult to watch a film that doesn't st...          1
54282   Call me. I'll see it again with you this weekend.          1
32695   The characters are fully dimensional, the perf...          1
344514   The Oscar-nominated documentary 20 Feet From ...          1
209612         There is nothing more to say, except 'Go.'          1
9812    It's hair that matters most here, and it's hai...          0
131147   A very subtle and smooth film. Basically a Eu...          1
1087    While it has some good elements and can be fun...          0
...                                                   ...        ...
2842    A surfeit of plot succeeds only in confusing t...          0
55989    It's so knowingly cute that most of its jokes...          0
37492   The film succeeds as a deeply involving study ...          1
2841    As far as you can work out, the film isn't aim...          0
22361   A sucker-punching tour de force of offensiveness.          0
1676    In making Briggman less indecisive about the c...          0
5197    Putting the middle finger to originality, narr...          1
390850   L.A. Confidential understands that men don't ...          1
42626   Ignoring the weak storyline entirely, Rango is...          1
3666    It seems that in this sense, perhaps Mewes wou...          0
3398    Rocko's Modern Life: Static Cling was nostalgi...          0
3681    This paean to body positivity and living your ...          0
4       ...surreal, reflective (though never sentiment...          1
5090    One of the most refreshing and enjoyable films...          1
30593   It's hard to imagine anyone not being utterly ...          1
617     This is a journey, troubling and perhaps dange...          1
2117    The pacing lags in multiple areas, but the mys...          1
41837   Heavy-hearted cowboys, wild horses and broken ...          1
380188   Dee Rees' film is a study of historic divisio...          1
3921    It's bloody, it's silly, and it's a gory good ...          0
411374   It's a deeply assured piece of direction, and...          1
44844    Loving is a plaintive reminder of what once was.          1
44340   Two generous helpings of outrageous plot and h...          1
4454    Hale County This Morning, This Evening is a ca...          1
428122   The humor in this movie is based on the conce...          1
1426    Director Ken Loach often examines the lives of...          0
4132    There is much of Tarkovsky's Solaris in the ma...          1
18654   The story unfolds simply, with respect for its...          1
20188   It appears as if even the filmmakers didn't kn...          0
437787   This is not thriller that raises social aware...          0

[2000 rows x 2 columns]

In [50]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [51]:
development_split.to_csv('development_split.csv')

In [52]:
development_split.count()

Review       2000
Freshness    2000
dtype: int64

In [53]:
development_split.head()

                                                   Review  Freshness
21310   Even more so than with the other Lecter movies...          0
380885   It's a delicious appetizer but you'll crave m...          1
5069    'Rim of the World' is a fun adventure flick fi...          1
5319    Again, I applaud the effort, but there's reall...          0
9369    Might be the least-sexy film about a hedonist ...          0

In [54]:
#Might have to get rid off index?

development_split[development_split['Freshness'] !=1].count()

Review       819
Freshness    819
dtype: int64

In [55]:
development_split['Freshness'].value_counts()

1    1181
0     819
Name: Freshness, dtype: int64

# Labelling functions

# Classifier