# Installing & Imports

In [146]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         153 KB
    ------------------------------------------------------------
                                           Total:         153 KB

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> pkgs/main::openssl-1.1.1d-h7b6447c_4

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> pkgs/main



Downloading and Extracting Packages
certifi-2019.11.28   | 153 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [147]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [148]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         149 KB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0



Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [149]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [23]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
from csv import writer
import re
import pickle
import time
import json

# Web Scraping

## Browse all from DVD releases page

In [24]:
main = 'https://www.rottentomatoes.com/api/private/v2.0/browse?maxTomato=100&services=amazon%3Bhbo_go%3Bitunes%3Bnetflix_iw%3Bvudu%3Bamazon_prime%3Bfandango_now&certified&sortBy=release&type=dvd-streaming-all&page='

In [37]:
# Get movie url
movie_url = []
start_page = 1 ; end_page = 1
while start_page <= end_page:
#     time.sleep(7)
    url = main + str(start_page)
    response = requests.get(url)
    if response.status_code !=200:
        print('Request error')
        break
    file = json.loads(response.text)
    for i in file['results']:
        movie_url = movie_url + [i['url']]
    start_page +=1

In [38]:
print('Examples for the url:\n')
for i in range(3):
    print(movie_url[i])
print('\nNumber of movies in list: {}'.format(len(movie_url)))

Examples for the url:

/m/frozen_ii
/m/playmobil_the_movie
/m/a_shaun_the_sheep_movie_farmageddon

Number of movies in list: 32

In [39]:
# Split into lists of 50 movies to do the scraping
movie_url_split = [movie_url[i:i+50] for i in range(0,600,50)]

In [40]:
len(movie_url_split)

12

In [42]:
# Get reviews from the web
reviews = []
titles = []
ratings = []
for split in movie_url_split: # Loop through each split
#     time.sleep(7)
    for title in split: # Loop through each movie title
        url = 'https://www.rottentomatoes.com'+title
#         time.sleep(7)
        response = requests.get(url)
        # Check the request status code
        if response.status_code != 200:
            print('Request error')
            break
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Get labels from each review (fresh vs. rotten)
        fresh_rotten = soup.find_all(class_="review_quote")
        
        # Get movie title
        title = soup.find(class_="mop-ratings-wrap__title mop-ratings-wrap__title--top").getText()
        
        # Get reviews
        review = soup.find_all('blockquote')
        for i in review:
            j = str(i.contents[1])
            j = j.replace("<p>\n                    \n                        ","")
            j = j.replace("\n                    \n                </p>","")
            reviews = reviews + [j]
            titles = titles + [title]
        
        # Identify labels
        for i in fresh_rotten:
            temp = str(i.findChildren()[2])
            if re.search('rotten',temp):
                ratings = ratings + ['rotten']
            else:
                ratings = ratings + ['fresh']

In [43]:
# Create the DataFrame to store the scraped data
df = pd.DataFrame([titles,reviews,ratings],index = ['title','review','rating']).T

In [44]:
# Clean the data (drop duplicates, check missing values etc.)
df = df.drop_duplicates()
df = df.replace([None],np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 327
Data columns (total 3 columns):
title     327 non-null object
review    327 non-null object
rating    327 non-null object
dtypes: object(3)
memory usage: 10.2+ KB

In [45]:
df.dropna(inplace=True)
df.head(3)

       title                                             review  rating
0  Frozen II  A distressingly unnecessary (and fairly tediou...  rotten
1  Frozen II  Frozen II is the exact kind of sequel that mor...   fresh
2  Frozen II  [A]n ultimately satisfying story of more matur...   fresh

In [46]:
# Export to CSV files
df.to_csv('web_scraping_rotten_tomatoes_part3.csv')

In [51]:
part2 = pd.read_csv('web_scraping_rotten_tomatoes_part2.csv')
part3 = pd.read_csv('web_scraping_rotten_tomatoes_part3.csv')

part2.append(part3,ignore_index = False)

,Unnamed: 0,title,review,rating
0,0,My Hindu Friend (Meu amigo Hindu),Babenco's cinematic farewell isn't perfect by ...,fresh
1,1,My Hindu Friend (Meu amigo Hindu),This is a good film if you are looking for som...,fresh
2,2,My Hindu Friend (Meu amigo Hindu),"My Hindu Friend is a celebration of life, love...",fresh
3,3,My Hindu Friend (Meu amigo Hindu),I wouldn't miss it; it's a film that's more th...,fresh
4,4,My Hindu Friend (Meu amigo Hindu),"...surreal, reflective (though never sentiment...",fresh
5,5,My Hindu Friend (Meu amigo Hindu),Dafoe certainly dedicates himself to the mater...,rotten
6,6,A Shaun the Sheep Movie: Farmageddon,Shaun's new film is for the whole family to en...,fresh
7,7,A Shaun the Sheep Movie: Farmageddon,You can see the major twists and emotional bea...,fresh
8,8,A Shaun the Sheep Movie: Farmageddon,"A sly, clever, and funny animated film. ... A ...",fresh
9,9,A Shaun the Sheep Movie: Farmageddon,I was delighted throughout.,fresh
10,10,A Shaun the Sheep Movie: Farmageddon,"The very adorable, very cute A Shaun the Sheep...",fresh
11,11,A Shaun the Sheep Movie: Farmageddon,Any money Netflix spends making movies with Aa...,fresh
12,12,A Shaun the Sheep Movie: Farmageddon,"It's not as inspired as the original, but it's...",fresh
13,13,A Shaun the Sheep Movie: Farmageddon,A novelty in the contemporary landscapes of ch...,fresh
14,14,A Shaun the Sheep Movie: Farmageddon,Shaun the Sheep is an antidote to the many bab...,fresh
15,15,A Shaun the Sheep Movie: Farmageddon,Unabashedly whimsical childishness carried off...,fresh
16,16,A Shaun the Sheep Movie: Farmageddon,It's a great film to watch as a family and eve...,fresh
17,17,A Shaun the Sheep Movie: Farmageddon,This sequel could do with fewer recycled refer...,fresh
18,18,My Name is Myeisha,"Beneath its song-and-dance exterior, this quie...",fresh
19,19,My Name is Myeisha,"This is just wonderful, but you have to stick ...",fresh
20,20,My Name is Myeisha,Giving a voice to the victims who can no longe...,fresh
21,21,My Name is Myeisha,"Walker owns the film, grabbing your hand and r...",fresh
22,22,My Name is Myeisha,The film My Name Is Myeisha tells a far too fa...,fresh
23,23,My Name is Myeisha,"My Name is Myeisha doesn't pull any punches, a...",fresh
24,24,My Name is Myeisha,"Once the story, which was inspired by real lif...",fresh
25,25,High Strung Free Dance,'High Strung Free Dance' simply bowled me over...,fresh
26,26,High Strung Free Dance,Sensational music/dance numbers rise above so-...,fresh
27,27,The Trouble with You (En liberté!),The Trouble with You comes out mostly clean wi...,fresh
28,28,The Trouble with You (En liberté!),"""The Trouble with You"" follows several paths b...",fresh
29,29,The Trouble with You (En liberté!),...the type of commercial French filmmaking wh...,fresh
...,...,...,...,...
297,298,Greenlight,While it's not perfect and the pacing is a bit...,fresh
298,299,Greenlight,Greenlight is a tight thriller with some thril...,fresh
299,300,The Last Thing He Wanted,The Last Thing He Wanted seems so taken with i...,rotten
300,301,The Last Thing He Wanted,What makes The Last Thing He Wanted ultimately...,rotten
301,302,The Last Thing He Wanted,How does a director as stellar as Dee Rees go ...,rotten
302,303,The Last Thing He Wanted,I found the whole narrative confusing. Even if...,rotten
303,304,The Last Thing He Wanted,There's some overreach and muddle here - you w...,fresh
304,305,The Last Thing He Wanted,The big problem with the movie isn't the muddl...,rotten
305,306,The Last Thing He Wanted,A convoluted and incoherent political thriller...,rotten
306,307,The Last Thing He Wanted,Not even Anne Hathaway can save this one.,rotten
307,308,The Last Thing He Wanted,[Anne Hathaway] never becomes an interesting c...,rotten
308,309,The Last Thing He Wanted,The Last Thing has the pizzazz and the cinemat...,rotten
309,310,The Last Thing He Wanted,Nothing works properly and with genuine convic...,rotten
310,311,The Last Thing He Wanted,The Last Thing He Wanted is a political thrill...,rotten
311,312,All the Bright Places,Its pure beating heart and humanistic underton...,fresh
312,313,All the Bright Places,A refreshingly sober spin on YA romance.,fresh
313,314,All the Bright Places,Elle Fanning and Justice Smith are gorgeous to...,fresh
314,315,All the Bright Places,There's messaging inserted near the start of t...,rotten
315,316,All the Bright Places,"Though it's not without humor, ""All the Bright...",fresh
316,317,All the Bright Places,Smith and Fanning bring thoughtful performance...,fresh
317,318,All the Bright Places,While [All the Bright Places] remains sensitiv...,rotten
318,319,All the Bright Places,'All the Bright Places' impressed me with its ...,fresh
319,320,All the Bright Places,In a world full of inexplicable book-to-film a...,fresh
320,321,All the Bright Places,It also shows people of all ages that this too...,fresh
321,322,All the Bright Places,"Charming, sweet, and often deeply gripping and...",fresh
322,323,All the Bright Places,[T]here is an undeniable warmth and tenderness...,fresh
323,324,Pete Davidson: Alive From New York,There were some very high highs and some very ...,fresh
324,325,Pete Davidson: Alive From New York,"Davidson runs thin on material, especially whe...",rotten
325,326,Pete Davidson: Alive From New York,The cycle begins anew. Alive From New York is ...,rotten
326,327,Pete Davidson: Alive From New York,"This performance is so raw, director Jason Orl...",fresh

# Reading & Preparing TSV file

In [151]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [152]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [153]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [154]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [155]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [156]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [157]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [158]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [159]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 48887 to 10927
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [160]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [161]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 242759 to 224039
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [162]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes_part2.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

In [163]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

In [164]:
web_scraping_reviews.head()

                                                 Review Freshness
2528  EMPATHY, INC. mirrors a breed of low-fi fantas...         1
683   Lawyer Cohn apparently pulled many malicious s...         1
171                       Shallow, asinine and tedious.         0
1966  With few exceptions, the post-REC Spanish horr...         0
4586  Touchdown for faith-based fans; underage drink...         1

# Combining all the data together

In [165]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
242759   Edgy Barrymore romcom has lots of sex, language.         1
469706      Boogie Nights is a shockingly well-made film.         1
203932   Birdsong is remarkable. Unsettling, visceral,...         1
272716   A surprisingly sweet and funny ode to male fr...         1
285174   Once again proof that life is rough after Sat...         0

In [166]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [167]:
from sklearn.model_selection import train_test_split

In [199]:
all_reviews['Freshness'] = all_reviews['Freshness'].astype(int)

In [203]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'])

In [204]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 115655 to 27893
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null int64
dtypes: int64(1), object(1)
memory usage: 281.2+ KB

In [205]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 22097 to 165024
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null int64
dtypes: int64(1), object(1)
memory usage: 70.3+ KB

In [171]:
train.head()

                                                  Review Freshness
1710   The film lacks a direction and instead feels l...         0
4399   Dumbo is a lot of work by a lot of talented pe...         1
2567   It is a fantastic idea that never gels into an...         0
2365   If you want some laughs and a bit of insight i...         0
61278   An endless series of scatological jokes saps ...         0

In [172]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [206]:
test['Freshness'].value_counts()

1    1776
0    1224
Name: Freshness, dtype: int64

In [207]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(1000,random_state=42)
development_split.head()

                                                   Review  Freshness
41101   Vibrant, visually exciting and emotionally res...          1
18134                        An enjoyable campy bad film.          0
3215    This brave little film, a tale of an uncompreh...          1
222     Excellent, accurate, smart analysis of sexual ...          1
181403   a merger of Cold Weather's mumblenoir and LA ...          1

In [208]:
#For finding labelling functions: 
development_split

                                                   Review  Freshness
41101   Vibrant, visually exciting and emotionally res...          1
18134                        An enjoyable campy bad film.          0
3215    This brave little film, a tale of an uncompreh...          1
222     Excellent, accurate, smart analysis of sexual ...          1
181403   a merger of Cold Weather's mumblenoir and LA ...          1
3906    This film is basically a well-meaning fable th...          1
1563    The chemistry between the main trio is very pl...          1
654     An engaging personal essay documentary about n...          1
428143   If nothing else, The Wolverine proves how cha...          1
20559   A noirish thriller with experimental trimmings...          1
12812   I think it should be considered child abuse to...          0
1607    Rattlesnake gives you what you expect, but not...          0
15576                             Mesmerizing filmmaking.          1
3950    There is plenty of heat to burn and brand from...          0
429447   Divining the bond between mothers and daughte...          1
445756   The big-screen Scooby makes the silly origina...          0
3024    Moments of hilarity remain, and the picture is...          1
183799   [Mitchell's] giddy, knowingly camp direction ...          1
9121      A slight improvement upon its 2010 predecessor.          0
265736   Loving is a dogged work, not a great or inspi...          0
307     Any attempt to explore the impact of the opioi...          0
3722    Noisy and unfunny, still pawing at the same ob...          0
31256   One of Luis Bunuel's greatest and funniest fil...          1
30934   A romantic comedy that is neither romantic nor...          0
156665   After 90 years and more than 50 films, Wajda ...          1
105011   Planted smack-dab in the middle of the Januar...          0
6718    Uneven and slightly muddled futuristic horror ...          0
42756   The teenager's impressionistic headspace is hi...          1
104108                      Not a smidgen of originality!          0
211268   Shamelessly low-brow, reaching a beer-fueled ...          1
...                                                   ...        ...
221256   Inflammatory talk-show host Morton Downey Jr....          0
352910   A nicely played family entertainment with per...          1
2411    Despite the potential double product cross mar...          1
91877    The plot details are ingeniously handled and ...          1
435     Biopic about artist's relationship with his bu...          0
596     JOKER is a beautiful but simplistically shallo...          0
21078   Cage acts, at times, as though his head is abo...          0
3509    Despite its clumsy first-act emphasis on expos...          1
2809    A wondrous, moodily self-involved piece of wor...          1
12028            A touching, humorous and enjoyable film.          1
108781   The visuals, the structure, the use of sound ...          1
1458    The tone veers haphazardly from tense, high-st...          0
471     Even if it is presented with luminous visuals ...          1
19063            A fervent, sweet-natured tragic romance.          1
815     Whilst occasionally letting her film down with...          1
9730              About as moving as a month-old Kleenex.          0
5218    The film comes off like a short story expanded...          0
2776    It all adds up to an offbeat, unusual horror f...          1
1768    Unfortunately, the filmmakers were overzealous...          0
1904    Zombie has gifts; he really does. And I'd rath...          0
963     Arriving following the backlash transgender dr...          1
43820   If you can grin and bear [certain] eye-rolling...          1
46516   Fincher, the director of Seven, leads you down...          1
4852               Murder Mystery is a lively hodgepodge.          1
3678    Thankfully, the voice cast is packed with pops...          0
40066    A film that adults can enjoy on their own, wi...          1
276091   It seems Greenberg can write and directly aut...          0
29835   An excellent top notch gem with beautiful dire...          1
10645   Fifty years on, we're still living with the af...          0
5117     A film like this -- with a large cast and a b...          0

[1000 rows x 2 columns]

In [209]:
development_split.count()

Review       1000
Freshness    1000
dtype: int64

In [217]:
development_split.to_csv('development_split.csv')

In [218]:
development_split.count()

Review       1000
Freshness    1000
dtype: int64

In [219]:
development_split.head()

                                                   Review  Freshness
41101   Vibrant, visually exciting and emotionally res...          1
18134                        An enjoyable campy bad film.          0
3215    This brave little film, a tale of an uncompreh...          1
222     Excellent, accurate, smart analysis of sexual ...          1
181403   a merger of Cold Weather's mumblenoir and LA ...          1

In [220]:
#Might have to get rid off index?

development_split[development_split['Freshness'] !=1].count()

Review       430
Freshness    430
dtype: int64

In [221]:
development_split['Freshness'].value_counts()

1    570
0    430
Name: Freshness, dtype: int64