# Installing & Imports

In [146]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         153 KB
    ------------------------------------------------------------
                                           Total:         153 KB

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> pkgs/main::openssl-1.1.1d-h7b6447c_4

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> pkgs/main



Downloading and Extracting Packages
certifi-2019.11.28   | 153 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [147]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [148]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         149 KB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0



Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [149]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [150]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import pandas as pd

# Reading & Preparing TSV file

In [151]:
# Read TSV file
tsv_reviews = pd.read_csv('/project/reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [152]:
tsv_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [153]:
# Extract review and fresh columns
tsv_reviews = pd.DataFrame(tsv_reviews, columns = ['review', 'fresh'])

In [154]:
tsv_reviews.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [155]:
tsv_reviews.isnull().sum()

review    5563
fresh        0
dtype: int64

In [156]:
# drop NaN rows in reviews
index_name = tsv_reviews[(tsv_reviews['review'].isnull())].index
tsv_reviews.drop(index_name, inplace= True)

In [157]:
tsv_reviews.isnull().sum()

review    0
fresh     0
dtype: int64

In [158]:
# rename fresh as 1 and rotten as 0
tsv_reviews['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [159]:
#Rename columns
tsv_reviews.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
tsv_reviews = tsv_reviews.sample(5000)
#take 5000
tsv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 48887 to 10927
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null object
dtypes: object(2)
memory usage: 117.2+ KB

# Reading & Preparing CSV file

In [160]:
# Read CSV file
csv_reviews= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
csv_reviews.head()

   Freshness                                             Review
0          1   Manakamana doesn't answer any questions, yet ...
1          1   Wilfully offensive and powered by a chest-thu...
2          0   It would be difficult to imagine material mor...
3          0   Despite the gusto its star brings to the role...
4          0   If there was a good idea at the core of this ...

In [161]:
#Swap Freshness and Review 
columns_titles = ["Review","Freshness"]
csv_reviews=csv_reviews.reindex(columns=columns_titles)
csv_reviews = csv_reviews.sample(5000)

csv_reviews.head()
csv_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 242759 to 224039
Data columns (total 2 columns):
Review       5000 non-null object
Freshness    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

# Web Scraping & Preparing scrapped data

In [162]:
#Read Web Scraping Data
web_scraping_reviews= pd.read_csv('/project/web_scraping_rotten_tomatoes_part2.csv')
web_scraping_reviews.head()

web_scraping_reviews = web_scraping_reviews.sample(5000)

In [163]:
# rename fresh as 1 and rotten as 0
web_scraping_reviews['rating'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

#Rename Rating to Review 
web_scraping_reviews.rename(columns={'rating':'Freshness', 'review':'Review'},inplace=True)
web_scraping_reviews.head()

# Extract Review and Freshness columns
web_scraping_reviews= pd.DataFrame(web_scraping_reviews, columns = ['Review', 'Freshness'])

In [164]:
web_scraping_reviews.head()

                                                 Review Freshness
2528  EMPATHY, INC. mirrors a breed of low-fi fantas...         1
683   Lawyer Cohn apparently pulled many malicious s...         1
171                       Shallow, asinine and tedious.         0
1966  With few exceptions, the post-REC Spanish horr...         0
4586  Touchdown for faith-based fans; underage drink...         1

# Combining all the data together

In [165]:
# csv_reviews.info()
# tsv_reviews.info()
# web_scraping_reviews.info()



# Concat two files into all_reviews
all_reviews=pd.concat([csv_reviews, tsv_reviews,web_scraping_reviews],axis=0, sort=False)
all_reviews.head()

                                                   Review Freshness
242759   Edgy Barrymore romcom has lots of sex, language.         1
469706      Boogie Nights is a shockingly well-made film.         1
203932   Birdsong is remarkable. Unsettling, visceral,...         1
272716   A surprisingly sweet and funny ode to male fr...         1
285174   Once again proof that life is rough after Sat...         0

In [166]:
all_reviews.shape

(15000, 2)

# Split into test and training set

In [167]:
from sklearn.model_selection import train_test_split

In [168]:
train, test = train_test_split(all_reviews,test_size=0.2,stratify = all_reviews['Freshness'].astype(int))

In [169]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 1710 to 24909
Data columns (total 2 columns):
Review       12000 non-null object
Freshness    12000 non-null object
dtypes: object(2)
memory usage: 281.2+ KB

In [170]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 4856 to 31260
Data columns (total 2 columns):
Review       3000 non-null object
Freshness    3000 non-null object
dtypes: object(2)
memory usage: 70.3+ KB

In [171]:
train.head()

                                                  Review Freshness
1710   The film lacks a direction and instead feels l...         0
4399   Dumbo is a lot of work by a lot of talented pe...         1
2567   It is a fantastic idea that never gels into an...         0
2365   If you want some laughs and a bit of insight i...         0
61278   An endless series of scatological jokes saps ...         0

In [172]:
#get rid off training labels 
train = train.drop('Freshness', 1)

In [173]:
#From labelled test set, extract a sample to find out about which labelling functions could be written
#Not sure how big the development split_ can be --> take sample of 1000 data points 

development_split = test.sample(1000,random_state=42)
development_split.head()

                                                   Review Freshness
2440    The film seeks to elevate genre clichés by slo...         0
28485   For thousands, the Lord of The Rings trilogy w...         0
103756   A rattling clash of faux-gallantry and mispla...         0
215646   ... slick and unpretentious, it wants nothing...         0
30544   It's witty, clever and pushes the technical li...         1

In [174]:
#For finding labelling functions: 
development_split

                                                   Review Freshness
2440    The film seeks to elevate genre clichés by slo...         0
28485   For thousands, the Lord of The Rings trilogy w...         0
103756   A rattling clash of faux-gallantry and mispla...         0
215646   ... slick and unpretentious, it wants nothing...         0
30544   It's witty, clever and pushes the technical li...         1
215038                         A chaste and tepid remake.         0
255692   Other than its wildly over-the-top treatment ...         0
2090    It is both an old story, and one that we must ...         1
5372    Though billed as a comedy, it actually finds i...         1
26714                         It will spare you no mercy.         1
2204    It's the perfect time of year to find somethin...         1
29422   Film Stars is a basic biopic that, in spite of...         0
3438    Yes, it's both too bad and too good to be true...         1
2988    Falling Inn Love has a decent shot at making y...         1
52776   The cast manages to bring to chess a movie mag...         1
336239   For all its formal austerity, All Is Lost als...         1
237     The conclusion is meaningfully painful and act...         1
291610   Fun in parts but mostly big, dumb and LOUD, t...         0
35900   ... worthy intentions are far outstripped by i...         0
473721   Hancock is either a brilliant disaster or an ...         1
563     Its inspiring message of elderly empowerment w...         0
3421    This is a comedy without a soul, which also ju...         0
428561   What Role Models does well is extract every l...         1
2087    Sometimes this moodiness gets a bit much and e...         1
2959    Angel of Mine is a domestic drama that nudges ...         1
2945                               A breath of fresh air.         1
5311                          more codswallop than cosmic         0
14355          There's a lot of sweetness to Roll Bounce.         1
3465    It is the sequel to the 2017 film A Dog's Purp...         1
428750   Prehistory's first blended herd begins a new ...         1
...                                                   ...       ...
5350    Charm City hits with the bracingly real force ...         1
8974    In the midst of unthinkable brutality, Zhang h...         1
273555   Vice has enough depth that it also can excite...         1
336045   The use of sequence shots, with the camera su...         1
6129    Tremors evokes the spirit of cheesy monster mo...         1
193060   While not quite Crowe at his absolute best, i...         1
356004   If you're going to shake your fist at the hea...         1
53033   With protestors organizing what feels like cou...         1
460351   Once the smoke clears, there's not much subst...         0
180228   Delicately photographed, whimsically scored a...         1
24778   Everything looks primed for civilized amusemen...         0
29691   Daniela Thomas previously teamed with other di...         1
214789   People who enjoyed films like Dear John or Th...         0
40078   never a better villain than Bardem, blonde and...         1
4960    As funny as it is about sending up romantic co...         1
367489   Paul Blart delivers laughs, yes, but it's onl...         0
2753    ...a tonally inconsistent, unsatisfying film t...         0
2797    ...a pretty straightforward, rather hagiograph...         1
1010    The last twenty minutes are gratuitous violenc...         0
309415   There are aliens. There are predators. They f...         1
296176   Perhaps Green's admirers will embrace his lea...         0
18587   It might have worked if everyone involved had ...         0
281584   Sheen's '70s-set comedy is a jumbled, sex-fil...         0
2342    Great job reviving the world of the DOOM video...         1
47431   No Country is not a film for weak, unsteady he...         1
39983   It doesn't celebrate the glamorous lifestyle o...         1
18753   First Reformed" is a miracle in its own regard...         1
31125                                  Sweaty-palms time.         1
23231   Can she escape his clutches, find her child an...         0
42984   A small, intimate film that moves viewers with...         1

[1000 rows x 2 columns]

In [175]:
development_split.to_csv('development_split.csv')

In [176]:
development_split.head()

                                                   Review Freshness
2440    The film seeks to elevate genre clichés by slo...         0
28485   For thousands, the Lord of The Rings trilogy w...         0
103756   A rattling clash of faux-gallantry and mispla...         0
215646   ... slick and unpretentious, it wants nothing...         0
30544   It's witty, clever and pushes the technical li...         1

In [182]:
#Might have to get rid off index?

development_split[development_split['Freshness'] ==1].count()

Review       166
Freshness    166
dtype: int64