In [3]:
conda install pandas==0.24.2

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - pandas==0.24.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-0.24.2              |   py36he6710b0_0         8.5 MB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following packages will be DOWNGRADED:

  pandas                               1.0.1-py36h0573a6f_0 --> 0.24.2-py36he6710b0_0



Downloading and Extracting Packages
pandas-0.24.2        | 8.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda upgrade --all -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.2           |   py36heb32a55_0         124 KB
    dask-2.11.0                |             py_0          13 KB
    dask-core-2.11.0           |             py_0         565 KB
    distributed-2.11.0         |           py36_0         943 KB
    gunicorn-20.0.4            |           py36_0         125 KB
    hypothesis-5.5.4           |             py_0         227 KB
    nb_conda_kernels-2.2.2     |           py36_0          39 KB
    ncurses-6.2                |       he6710b0_0         1.1 MB
    plotly-4.5.2               |             py_0         1.6 MB
    pytest-astropy-0.8.0       |             py_0           9 KB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following packages will be UPDATED:

  bottleneck                           1.3.1-py36hdd07704_0 --> 1.3.2-py36heb32a55_0
  dask                                          2.10.1-py_0 --> 2.11.0-py_0
  dask-core                                     2.10.1-py_0 --> 2.11.0-py_0
  distributed        pkgs/main/noarch::distributed-2.10.0-~ --> pkgs/main/linux-64::distributed-2.11.0-py36_0
  gunicorn                                    19.9.0-py36_0 --> 20.0.4-py36_0
  hypothesis                                     5.4.1-py_0 --> 5.5.4-py_0
  nb_conda_kernels                             2.1.1-py36_1 --> 2.2.2-py36_0
  ncurses                                    6.1-he6710b0_1 --> 6.2-he6710b0_0
  pandas                              0.24.2-py36he6710b0_0 --> 1.0.1-py36h0573a6f_0
  plotly                                         4.4.1-py_0 --> 4.5.2-py_0
  pytest-astropy                                 0.7.0-py_0 --> 0.8.0-py_0



Downloading and Extracting Packages
gunicorn-20.0.4      | 125 KB    | ##################################### | 100%
hypothesis-5.5.4     | 227 KB    | ##################################### | 100%
bottleneck-1.3.2     | 124 KB    | ##################################### | 100%
nb_conda_kernels-2.2 | 39 KB     | ##################################### | 100%
distributed-2.11.0   | 943 KB    | ##################################### | 100%
pytest-astropy-0.8.0 | 9 KB      | ##################################### | 100%
dask-core-2.11.0     | 565 KB    | ##################################### | 100%
ncurses-6.2          | 1.1 MB    | ##################################### | 100%
plotly-4.5.2         | 1.6 MB    | ##################################### | 100%
dask-2.11.0          | 13 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / b'+ /opt/anaconda/envs/Python3/bin/python -m nb_conda_kernels.install --disable --prefix=/opt/anaconda/envs/Python3\nDisabling nb_conda_kernels...\nDisabled nb_conda_kernels\n'
/ b'Enabling nb_conda_kernels...\nStatus: enabled\n'
done

Note: you may need to restart the kernel to use updated packages.

In [17]:
conda install snorkel==0.9.0 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - snorkel==0.9.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    cudatoolkit-10.0.130       |                0       261.2 MB
    cudnn-7.6.5                |       cuda10.0_0       165.0 MB
    libprotobuf-3.11.3         |       h8b12597_0         4.8 MB  conda-forge
    ninja-1.10.0               |       hc9558a2_0         1.9 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    protobuf-3.11.3            |   py36he1b5a44_0         696 KB  conda-forge
    pytorch-1.1.0              |cuda100py36he554f03_0       196.2 MB
    scikit-learn-0.21.3        |   py36hd81dba3_0         5.0 MB
    snorkel-0.9.0              |             py_0          85 KB  conda-forge
    tensorboardx-1.9           |             py_0          75 KB  conda-forge
    tqdm-4.43.0                |             py_0          47 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       648.5 MB

The following NEW packages will be INSTALLED:

  cudatoolkit        pkgs/main/linux-64::cudatoolkit-10.0.130-0
  cudnn              pkgs/main/linux-64::cudnn-7.6.5-cuda10.0_0
  libprotobuf        conda-forge/linux-64::libprotobuf-3.11.3-h8b12597_0
  ninja              conda-forge/linux-64::ninja-1.10.0-hc9558a2_0
  protobuf           conda-forge/linux-64::protobuf-3.11.3-py36he1b5a44_0
  pytorch            pkgs/main/linux-64::pytorch-1.1.0-cuda100py36he554f03_0
  snorkel            conda-forge/noarch::snorkel-0.9.0-py_0
  tensorboardx       conda-forge/noarch::tensorboardx-1.9-py_0
  tqdm               conda-forge/noarch::tqdm-4.43.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi                                         pkgs/main --> conda-forge
  openssl              pkgs/main::openssl-1.1.1d-h7b6447c_4 --> conda-forge::openssl-1.1.1d-h516909a_0
  pandas             pkgs/main::pandas-1.0.1-py36h0573a6f_0 --> conda-forge::pandas-0.24.2-py36hb3f55d8_1

The following packages will be DOWNGRADED:

  scikit-learn                        0.22.1-py36hd81dba3_0 --> 0.21.3-py36hd81dba3_0



Downloading and Extracting Packages
ca-certificates-2019 | 145 KB    | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
libprotobuf-3.11.3   | 4.8 MB    | ##################################### | 100%
cudatoolkit-10.0.130 | 261.2 MB  | ##################################### | 100%
protobuf-3.11.3      | 696 KB    | ##################################### | 100%
tensorboardx-1.9     | 75 KB     | ##################################### | 100%
snorkel-0.9.0        | 85 KB     | ##################################### | 100%
cudnn-7.6.5          | 165.0 MB  | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
ninja-1.10.0         | 1.9 MB    | ##################################### | 100%
tqdm-4.43.0          | 47 KB     | ##################################### | 100%
pytorch-1.1.0        | 196.2 MB  | ##################################### | 100%
scikit-learn-0.21.3  | 5.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [43]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda/envs/Python3

  added / updated specs:
    - textblob


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    textblob-0.15.3            |             py_0         595 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         595 KB

The following NEW packages will be INSTALLED:

  textblob           conda-forge/noarch::textblob-0.15.3-py_0



Downloading and Extracting Packages
textblob-0.15.3      | 595 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [44]:
from snorkel.labeling import LFAnalysis
from snorkel.labeling import labeling_function
from snorkel.labeling import PandasLFApplier,LabelModel
from snorkel.preprocess import preprocessor
from textblob import TextBlob
import pandas as pd

In [48]:
# Read TSV file
reviews_tsv = pd.read_csv('reviews.tsv', sep='\t', header=0, encoding='unicode_escape')

In [49]:
reviews_tsv.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [50]:
# Extract review and fresh columns
reviews_labelled = pd.DataFrame(reviews_tsv, columns = ['review', 'fresh'])

In [51]:
reviews_labelled.head()

                                              review   fresh
0  A distinctly gallows take on contemporary fina...   fresh
1  It's an allegory in search of a meaning that n...  rotten
2  ... life lived in a bubble in financial dealin...   fresh
3  Continuing along a line introduced in last yea...   fresh
4             ... a perverse twist on neorealism...    fresh

In [52]:
reviews_labelled.isnull().sum()

review    5563
fresh        0
dtype: int64

In [53]:
# drop NaN rows in reviews
index_name = reviews_labelled[(reviews_labelled['review'].isnull())].index
reviews_labelled.drop(index_name, inplace= True)

In [54]:
reviews_labelled.isnull().sum()

review    0
fresh     0
dtype: int64

In [55]:
# rename fresh as 1 and rotten as 0
reviews_labelled['fresh'].replace({'fresh':'1', 'rotten':'0'}, inplace = True)

In [56]:
#Rename columns
reviews_labelled.rename(columns={'fresh':'Freshness','review':'Review'},inplace=True)
reviews_labelled.head()

                                              Review Freshness
0  A distinctly gallows take on contemporary fina...         1
1  It's an allegory in search of a meaning that n...         0
2  ... life lived in a bubble in financial dealin...         1
3  Continuing along a line introduced in last yea...         1
4             ... a perverse twist on neorealism...          1

In [57]:
# Read CSV file
reviews_csv= pd.read_csv('/project/rotten_tomatoes_reviews.csv')
reviews_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480000 entries, 0 to 479999
Data columns (total 2 columns):
Freshness    480000 non-null int64
Review       480000 non-null object
dtypes: int64(1), object(1)
memory usage: 7.3+ MB

In [58]:
# Concat two files into all_reviews
all_reviews=pd.concat([reviews_csv,reviews_labelled],axis=0)
all_reviews.head()

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

  Freshness                                             Review
0         1   Manakamana doesn't answer any questions, yet ...
1         1   Wilfully offensive and powered by a chest-thu...
2         0   It would be difficult to imagine material mor...
3         0   Despite the gusto its star brings to the role...
4         0   If there was a good idea at the core of this ...

In [59]:
all_reviews.shape

(528869, 2)

In [60]:
# Random sample for classifier and weak labelling
sampledata=all_reviews.sample(250, random_state=42)
weaklabel_sampledata = all_reviews.sample(5000, random_state = 42)

In [61]:
sampledata.head()

       Freshness                                             Review
143258         0                            Parental Content Review
462148         1   Director Wayne Wang proves with Maid in Manha...
252505         0   the lack of dramatic development doesn't leav...
354204         1   A riveting documentary that explains educatio...
398815         0   The problem with The Informant!, aside from t...

In [62]:
weaklabel_sampledata.shape

(5000, 2)

In [63]:
sampledata.shape

(250, 2)

In [64]:
sampledata.tail()

       Freshness                                             Review
225515         1   There are definitely sentimental and predicta...
295329         0   Friday Night Lights is a feel-good movie, but...
420113         0   The only thing keeping this movie from comple...
57947          0   Makes the similarly themed Love Story seem po...
203312         1   Hail, Caesar gives us a colourful feast full ...

In [65]:
sampledata.to_csv('sampledata.csv', index = False)

In [66]:
weaklabel_sampledata.to_csv('weaklabel_sampledata.csv', index = False)